body {
  font-family: 'Lato', sans-serif;
  padding-top: 120px;
  overflow-x: hidden;
}

.home-navbar{
  background-color: rgba(242, 242, 242, 1) !important;
  font-family: 'Open Sans', sans-serif;
  position:relative;
}

.navbar {
	position:fixed;
	width:100%;
}

.navbar .container div{
	width:5%;
}

.home-navbar .navbar-nav .nav-item a{
	font-size:17px;
}

.home-navbar .navbar-nav .nav-item a,
.home-navbar .social-icons .nav-item span{
  color: #696969 !important;
  transition: color 0.4s ease 0s;
}

.home-navbar .navbar-nav .nav-item a.disabled{
  color: #3AC0C7 !important;
}

.home-navbar .navbar-nav .nav-item a:hover,
.home-navbar .social-icons .nav-item span:hover{
  color: #3AC0C7 !important;
}

.home-navbar .navbar-nav .nav-item a:active{
  color: #3AC0C7 !important;
}

.navbar-brand img{
  height:100%;
  width:50%;
  margin-left:50%;
}

.home-navbar .social-icons .nav-item a{
  padding: 14% !important;
}

.home-navbar .social-icons span {
  color: #999999;
  font-size: 22px;
  padding-right:2px;
}

h1{
	text-align:center;
	font-family:playfair display,serif;
	font-weight:bold;
	color: #278085;
	font-size: 2.5vw;
}

.mini-menu{
	text-align:center;
	padding: 0.9% 0% 1.7% 4.2%;
}

.mini-menu label{
	font-size: 1vw;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
	padding-right: 2.3%;
	color:black;
}

.mini-menu label:hover{
	color: #3AC0C7;
	-webkit-transition: color 0.3s;
}

.footer .social{
  background-color: #38c1c7;
  color: #fff;
  padding-bottom: 1%;
  padding-top: 1%;
}

.footer .social{
	text-align:center;
}

.footer .social a {
  font-size:110%;
  line-height: 10px;
  position: relative;
  margin-right: 7.3%;
  margin-left: 7.3%;
  text-decoration:none;
  color: #fff;
}

.footer .social a:hover{
  color: #014b63 !important;
}

.footer .social a:active{
  color: #00fbff !important;
}

.footer .social a span{
  font-size:20px;
}

.official-website{
  background-color: rgba(105, 105, 105, 1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.official-website p{
  font-size: 110%;
  font-weight: 200;
  color: #fff;
}

.official-website p a{
  color: #3AC0C7;
  margin-left: 2%;
}

.back-to-top{
  cursor: pointer;
  color: rgb(107, 202, 204);
  font-size: 30px;
  position:fixed;
}

#slider-footer{
	display:flex;
	overflow:hidden;
}

#slider-footer img{
	flex-basis: 0%;
	margin-left:-0.02%;
	height:15vw;
	width:19.77vw;
	opacity:0.6;
}

#slider-footer>img:hover{
	opacity: 1;
	transition: ease opacity 0.6s;
}

#img1{
	-webkit-animation: cycle 25s cubic-bezier(0.42, 0, 0.32, 0.99) infinite;
}

@-webkit-keyframes cycle {
	0% { margin-left:0vw; }
	2%,10%,20% { margin-left:-19.7vw; }
	22%,30%,40% { margin-left:-39.35vw; }
	42%,50%,60% { margin-left:-59.1vw; }
	62%,70%,80% { margin-left:-78.8vw; }
	82%,90%,100% { margin-left:-98.7vw; }
}

@media screen and (min-width: 2025px){
	.mini-menu label{
		font-size: 0.7vw;
		margin:0.2%;
	}
}

@media screen and (max-width: 1688px){
	h1{
		font-size: 3vw;
		margin-bottom:0.6%;
	}
	
	.mini-menu label{
		font-size: 1vw;
		margin:0.4%;
	}
}

