html, body{
   overflow-x: hidden;
}

body{
  font-family: 'Lato', sans-serif;
  padding-top: 120px;
}

.navbarre{
  background-color: rgba(242, 242, 242, 1) !important;
  position: fixed;
  min-width: 100%;
  margin-top: -120px;
  z-index:+5;
}

.contenu{
  margin: 0 auto;
  max-width: 1100px;
  padding: 0.6% 2%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#navbarre-site{
	display: flex;
	width:100%;
}

#navbarre-site ul{
	display: flex;
	list-style-type: none;
	margin:0;
}

#navbarre-site .main-menu{
	vertical-align: middle;
	margin-top:2px;
}

#navbarre-site .social-icons{
	margin-left:120px;
}

#navbarre-site .social-icons span{
	font-size:20px;
}

.navb-logo img{
  height:40px;
  width:40px;
  margin-left:50%;
}

.navb-item{
	margin-left:18px;
}

#navbarre-site .main-menu .navb-link,
#navbarre-site .social-icons a,
.label-toggle{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #696969 !important;
  transition: color 0.4s ease 0s;
  font-size:17px;
}

#navbarre-site .main-menu .navb-link:hover,
#navbarre-site .social-icons a:hover,
.label-toggle:hover{
	color: #3AC0C7 !important;
}

#menu-toggle, .label-toggle, #hidden-title{
	display:none;
}

h1{
	text-align:center;
	font-family:playfair display,serif;
	font-weight:bold;
	color: #278085;
	font-size: 2.5vw;
}

.mini-menu{
	text-align:center;
	padding: 0.9% 0% 1.7% 4.2%;
}

.mini-menu label{
	font-size: 1vw;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
	padding-right: 2.3%;
	color:black;
}

.mini-menu label:hover{
	color: #3AC0C7;
	-webkit-transition: color 0.3s;
}

.footer .social{
  background-color: #38c1c7;
  color: #fff;
  padding-bottom: 1%;
  padding-top: 1%;
}

.footer .social{
	text-align:center;
}

.footer .social a {
  font-size:110%;
  line-height: 10px;
  position: relative;
  margin-right: 7.3%;
  margin-left: 7.3%;
  text-decoration:none;
  color: #fff;
}

.footer .social a:hover{
  color: #014b63 !important;
}

.footer .social a:active,
#navbarre-site li a:active,
.label-toggle:active{
  color: #00fbff !important;
}

.footer .social a span{
  font-size:20px;
}

.official-website{
  background-color: rgba(105, 105, 105, 1);
  padding-bottom: 2px;
}

.official-website p{
  padding-top: 20px;
  font-size: 110%;
  font-weight: 200;
  color: #fff;
}

.official-website p a{
  color: #3AC0C7;
  margin-left: 2%;
}

.back-to-top{
  display:none;
  position:fixed;
  color:white;
  font-size:25px;
  text-align:center;
  padding-top:15px;
  height:70px;
  bottom:40px;
  width:70px;
  border-radius:50px;
  left:48.20%;
  z-index:+5;
  background-color: #0a6f6f;
  opacity:0.4;
}

.back-to-top:hover{
  transition: ease opacity 0.6s;
  opacity:1;
  cursor:pointer;
}

#slider-footer{
	display:flex;
	overflow:hidden;
}

#slider-footer img{
	flex-basis: 0%;
	margin-left:-0.02%;
	height:15vw;
	width:19.77vw;
	opacity:0.6;
}

#slider-footer>img:hover{
	opacity: 1;
	transition: ease opacity 0.6s;
}

#img1{
	-webkit-animation: cycle 25s cubic-bezier(0.42, 0, 0.32, 0.99) infinite;
}

@-webkit-keyframes cycle {
	0% { margin-left:0vw; }
	2%,10%,20% { margin-left:-19.7vw; }
	22%,30%,40% { margin-left:-39.35vw; }
	42%,50%,60% { margin-left:-59.1vw; }
	62%,70%,80% { margin-left:-78.8vw; }
	82%,90%,100% { margin-left:-98.7vw; }
}

@media screen and (max-width: 1644px){
	.back-to-top{
	  padding-top:10px;
	  height:60px;
	  bottom:40px;
	  width:60px;
	  left:90%;
	}
}

@media screen and (max-width: 985px){

	.label-toggle{
		display:block;
		font-size:28px;
		padding-top:2px;
		margin-left:-290px;
	}

	.navb-logo{
		margin-left:20px;
	}

	#hidden-title{
		font-size:20px;
		display:block;
		width:830px;
		margin-left:8%;
		font-family: 'lemonmilkbold', 'Open Sans', sans-serif;
	}

	#navbarre-site .social-icons{
		margin-left:-180px;
	}

	#navbarre-site .navb-link span{
		font-size:30px;
		padding-right:10px;
	}


	#menu-toggle:checked ~ .main-menu{
		display:block;
	}
	
	#navbarre-site .main-menu{
		display:none;
		margin:0;
	}

	#navbarre-site .main-menu ul{
		text-align:center;
		background-color:#696969;
		position:absolute;
		flex-direction:column;
		top:100%;
		width:100%;
		padding-left:0;
		right:0%;
		padding:1px;
	}

	#navbarre-site .main-menu .navb-item:hover{
		background-color:#38c1c7;
		transition: background-color 0.2s;
		box-sizing: border-box;
		margin:0;
		border:solid 2px white;
	}

   #navbarre-site .main-menu .navb-item:hover {
		color: #ffffff !important;
	}

	#navbarre-site .main-menu .navb-item{
		background-color:#f2f2f2;
		padding:10px;
		margin:1px;
	}
}

@media screen and (max-width: 720px){

	.label-toggle{
		margin-right:10px;
	}

	.navb-logo{
		margin-left:-10px;
	}

	#hidden-title{
		font-size:100%;
	}

	#navbarre-site .social-icons{
		margin-left:-240px;
	}
	
}

@media screen and (max-width: 767px){
	.back-to-top{
	  padding-top:10px;
	  font-size:20px;
	  height:50px;
	  bottom:40px;
	  width:50px;
	}
}

@media screen and (max-width: 747px){
	.official-website p a{
		display:grid;
		margin:0;
	}
}

@media screen and (max-width: 695px){
	.back-to-top{
	  margin-left:-30px;
	}
}

@media screen and (max-width: 640px){
	#hidden-title{
		display:none;
	}

	.label-toggle{
		margin-right:10px;
	}

	.navb-logo{
		margin-left:10px;
	}


	#navbarre-site .social-icons{
		margin-left:-90px;
	}
}