{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/activites/activites.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container activites-container">
        <h1 id="haut-de-page">Activités</h1>
		<div id="page_activites">
            <div>
                <h2>Mer de Glace</h2>
                <p>Ouvert quasiment toute l’année pour environ 30€ par adultes (des offres de groupe sont proposées), vous plongerez à l’intérieur du glacier de la plus importante montagne des Alpes et découvrirez à quoi cela ressemble. 
                <br/>Vous pourrez aussi y trouver des sculptures sur glaces et découvrir son histoire tout en vous sensibilisant à la fonte des glaces.</p>
            </div>
            <img src="../../../../PJS3/public/img/activites/mer_de_glace.jpg">
            
            <img src="../../../../PJS3/public/img/activites/randonnees_mont_blanc.jpg">
            <div>
                <h2>Randonnées Mont Blanc</h2>
                <p>Une large gamme d’activités est proposée à Annecy, que ce soit autour du lac ou dessus, ou même un peu plus loin dans les rivières : <br/><br/>
                wakeboard, ski nautique, paddle, pédalo, location d’embarcation, vtt sur les bords du lac, (rafting), canoë/kayak, canyoning, accro-branche</p>
            </div>
            
            <div>
                <h2>Alpinisme</h2>
                <p>Une douzaine de sites qui permettent de grimper les falaises et atteindre des hauteurs sans passer par les chemins habituels <br/><br/>
                <a href="http://www.grimper.com/site-escalade-haute-savoie">http://www.grimper.com/site-escalade-haute-savoie</a></p>
            </div>
            <span class="alpinisme">
                <img src="../../../../PJS3/public/img/activites/alpinisme.png">
            </span>
            
            <img src="../../../../PJS3/public/img/activites/gorges_du_fier.webp">
            <div>
                <h2>Gorges du Fier</h2>
                <p>Ouvert tous les jours du 15 mars au 15 octobre, pour une durée d’environ 1h et un coût 5,70€, marchez sur une passerelle située dans un canyon à 25 m au dessus de la rivière.</p>
            </div>
            
            <div>
                <h2>Aiguille du Midi</h2>
                <p>Ouvert de mai à novembre, pour un tarif aller-retour allant de 30 à 90€ (100 pour les forfaits de groupes), survolez la vallée blanche en téléphérique qui vous amènera au sommet de l’Aiguille du Midi qui vous offrira un panorama magnifique. <br/>
                D’en haut vous pourrez tout admirer et même tester la nouvelle attraction : une cage en verre située au-dessus du vide à plus de 1000 m d’altitude !</p>
            </div>
            <img src="../../../../PJS3/public/img/activites/aiguille_du_midi.webp">
            
            <img src="../../../../PJS3/public/img/activites/randonnees_importantes.webp">
            <div>
                <h2>Randonnées de montagnes importantes</h2>
                <p>Vous trouverez une grande quantité de choix sur place dans les offices du tourisme (ou sur internet), allant de la petite randonnée pour les débutant d’une durée de 1h jusqu’aux randonnées pour les confirmés de 8-9h avec un dénivelé important. <br/>
                Vous trouverez aussi des randonnées bivouac guidées, mais vous pouvez aussi les faire seuls en campant ou en vous reposant dans les gîtes et chalets présent sur le chemin.</p>
            </div>
            
            <div>
                <h2>Gorges du Pont-du-Diable</h2>
                <p>3 visites différentes sont proposées pour plonger dans ce gouffre, pour une durée totale d’environ 1h40 pour un coût maximal de 6,30€ (le site est ouvert tous les jours du 28/04 au 30/09)</p>
            </div>
            <img src="../../../../PJS3/public/img/activites/gorges_du_pont_du_diable.webp">
            
            <span class="fond_blanc"></span>
            <div id="ski">
                <h2>Ski</h2>
                <p>Des kms et des kms de pistes à dévaler ! Choisissez votre station préféré et lancez vous ! Vous avez l’embarras du choix !</p>
            </div>
		</div>
        <img class="ski" src="../../../../PJS3/public/img/activites/ski.png">
    </div>

{% endblock %}

{# j'ai mis des .js vides, supprimez-les si vous ne les utilisez pas... #}

{% block js %}<script src="{{ base_url() }}/js/activites/activites.js"></script>{% endblock %}