{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/culinaire/culinaire.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container culinaire-container">
		<div id="page_culinaire">
		
			<div id="#haut-de-page-box">
            <h1 id="haut-de-page">
			<span><i>Article</i></span>
			Spécialités Cullinaires</h1>
			</div>
			<h2 id="intro">Trois semaines après la fin de cette deuxième édition 
			acclamée de toute part du Lyon Street Food Festival, le point mérite d'être fait,
			et les conclusions d’être tirés. <br /><br /> </h2>
            <div id="CulinaireGlobal">
			<B>
				<p>
		Après un départ dont le festival Lyonnais est sorti fort de sa réussite, les aficionados de la Street Food remettent ça, toujours bien installés aux Subsistances, un centre culturel dans le centre (1er Arr) de la ville, qui s’avère être le lieu de rendez vous idéal. Le lieu est ouvert, spacieux, et permet une organisation en plusieurs “ambiances” et saveurs. De plus, l’emplacement favorisent l’accessibilité, et ainsi les trois jours sur lesquels se déroulent le festival ne génèrent que peu de perturbations.
De plus, si le tarif des plats est resté le même d’une année à l’autre, avec un très bon système de jetons qui permet d'éviter la queue aux stands, le prix de l’entrée, malgré de nombreuses améliorations (Stands régionaux, boissons, animations) ne s’offre que 50 centimes, passant le sésame à 5€50, une broutille en somme.
</p>
<img src='img/culinaire/bannière.jpg' alt="Baba" width="100%" height="100%">
<p>
Petit point d’ombre sur notre bonheur, la météo ne semblait pas aussi volontaire que les cuisiniers, écourtant la journée du samedi. Prévoyant vis à vis de ça, les organisateurs, soucieux de notre plaisir, nous on offert un petit rallongement de la belle journée du dimanche.<br /><br /> 
Quoi de neuf sous le soleil justement ?  Des portions toujours plus généreuses, des nouveaux stands, sans doute trop pour tous les apprécier, mais une forte pluralité. Si certaines régions françaises étaient plus en force, les autres continents et pays étaient tous représentés de manière égale (On soulignera une petite préférence de notre part pour la partie sud Américaine, notamment l’argentine et le Mexique avec différents burritos et Empanadas)<br /><br /> 
Notre Grand Prix: Aklé, qui a, à l’instar de l’année dernière, surpris et ravi avec sa recette "Bogota Style" du falafel, assurément le meilleur rapport qualité/prix de tout ce qu'on a goûtés.<br /><br /> 
Tous ces food-trucks réunis dans ce havre bucolique que sont les Subsistances froment une belle processions vers ce qu’on peut appeler sans se tromper le “Bon Goût”. On aimerais souligner plus longtemps l’importance de la street food; la cuisine est inventive, c'est préparé à la minute, c'est frais, c'est varié. De plus, on effectue un vrai voyage gustatif, distinguant les saveurs particulière à chaque endroit du globe.<br /><br /> 
</p>
<img src='img/culinaire/tacos.jpg' alt="Tata" width="100%" height="100%">
<p>
Quant à l’ambiance et le lieu, un beau désordre organisé, on a aimé : une musique d'ambiance au top (Des mixages de qualité, un fait assez rare dans les festivals non-musicaux pour le dire), plein de places pour s'asseoir: qu’il s’agisse de bancs autour des arbres, de chaises longues ou de grandes tablées avec une assise, on retrouve ici le côté Street Food propre aux grandes villes, où seule l'imagination fertile de certains gourmets a rendu aux habitants le côté gustatif du repas, dans des endroits où la satiété avait fini par primé sur le plaisir du goût.<br />
Le cadre des Subsistances qui fait un bel écrin pour cette réunion, offrant ombre et soleil selon les désirs, les "Miam-coins" pour payer (à acheter en stock à l'entrée avec sa CB, plutôt que de gérer de la monnaie - et c'était heureux car on avait totalement oublié de retirer des espèces avant de venir !), et bien entendu le côté roadie et “sur le pouce” des food-trucks, qui donnent l'impression d’appartenir à une grande communautée. Quel régal !<br /><br /> 
Dans la cour, et ce dès l'entrée, on retrouve des habitués de la ville de Lyon, tels que les brochettes poulet mariné ou poulpe grillé de la Camionnette, les mini-burgers au pulled pork du Rolling Cantine, des jus-smoothies-soupes frais de l'Estanco du marché, d'autres burgers dans une authentique Air Stream (Kry's burgers) ou de chez Queens Town, une roulotte à cocktails, un bar Ninkasi. Nos sens étaient charmés alors que notre esprit, lui, s’abandonnait aux ondulations d’un dragon chinois, parcourant les lieux comme s’il s’agissait du ciel, nous invitant à le suivre dans les méandres culinaires.<br /><br /> 
Ce type d’animation, en plus, a vraiment plus aux enfants, nombreux puisque ce festival s’intègre dans la liste rare des événements à partager en famille.<br /><br /> 
Sous la Verrière, la crème du Fooding lyonnais qui buzze à Lyon : Beijing8 et ses dumplings, Piquin, la Bijouterie, Maison Sibillia (qui proposait des sortes de sandwiches bien garnis, mais trop de monde pour goûter), Crock N Roll qui mettait à disposition de nos estomacs son assortiment de mini sandwiches, Tripopote, Aklé (on en reparle, faites y un tour la prochaine fois), ainsi que de prestigieuses têtes d'affiche à col tricolore (Joseph Viola de chez Daniel & Denise, Matthieu Vianney) ou encore Sébastien Bouillet (impossible de goûter quoi que ce soit, au moins 80 personnes en attente devant le stand !)...<br /><br /> 
Gros coup de coeur pour Bellota Bellota et sa pluma caramélisé servi sous un trait d'huile de truffe et accompagné de mini poivrons cuits et confits... A tomber à la renverse !<br /><br /> 
Derrière, il y avait la salle de concert, mais c'était sur réservation (nombre de places limité) et nous n'y sommes pas allés.<br /><br /> 
Un gros bémol sur certains stands (BBQ steakhouse) qui n'ont pas anticipé le succès d'un tel événement et qui ont fermé à 20h30 (soit à peine 1h30 après l'ouverture), ce qui a pu créer une certaine frustration, ou d'autres qui sont venus "pour se montrer" et qui clôturent prématurément pour créer la rareté (un col tricolore, hum hum)... Pas top aussi le bazar créé par les files d'attente pléthoriques qui se croisent... On ne sait plus très bien qui attend pour quoi...<br /><br /> 
En bref, une soirée vraiment très agréable, avec de nombreuses propositions culinaires variées et de qualité.<br /><br /> 
A faire au moins une fois !
			</B>
			</p>
			
            </div>
			<div id="Center">
			<a href="https://lyonstreetfoodfestival.com/"onclick="window.open(this.href); return false;">
			<img src='img/culinaire/StreetLogo.jpg' alt="log" width="25%" height="25%"/>
			</a>
			</div>
		</div>
    </div>

{% endblock %}

{% block js %}<script src="{{ base_url() }}/js/culinaire/culinaire.js"></script>{% endblock %}