{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/grandes_villes/grandes_villes.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container gds-villes-container">
		<h1>Grandes Villes</h1>
    </div>

{% endblock %}

{# j'ai mis des .js vides, supprimez-les si vous ne les utilisez pas... #}

{% block js %}<script src="{{ base_url() }}/js/grandes_villes/grandes_villes.js"></script>{% endblock %}