{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/grandes_villes/grandes_villes.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container gds-villes-container">
	
		<div id="grandesvilles">
		<h1>Grandes Villes de la Haute-Savoie</h1>
		<div class="mini-menu">
			<label class="link-lacs">Annecy</label>
			<label class="link-mil-roc">Chamonix</label>
			<label class="link-plateaux">Lyon</label>
			<label class="link-plateaux">Saint-Etienne</label>
			<label class="link-plateaux">Grenoble</label>
		</div>
    </div>
	
	
    </div>

{% endblock %}

{# j'ai mis des .js vides, supprimez-les si vous ne les utilisez pas... #}

{% block js %}<script src="{{ base_url() }}/js/grandes_villes/grandes_villes.js"></script>{% endblock %}