{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/histoire/histoire.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container histoire-container">
		<h1>Histoire</h1>
    </div>

{% endblock %}

{# j'ai mis des .js vides, supprimez-les si vous ne les utilisez pas... #}

{% block js %}<script src="{{ base_url() }}/js/histoire/histoire.js"></script>{% endblock %}