{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}\css\histoire\histoire.css" rel="stylesheet">{% endblock %}



{% block content %}

    <div class="container histoire-container">
	
	
	<div id="histoire">
		<h1>Histoire de la Haute-Savoie</h1>
		<div class="block"><a id="prehistoir"></a></div>
		<div class="mini-menu">
			<label><a href="#prehistoir">Préhistoire</a></label>
			<label><a href="#antiquite">Antiquité</a></label>
			<label><a href="#moyenage">Moyen-Age</a></label>
			<label><a href="#epoquemoderne">Epoque Moderne</a></label>
			<label><a href="#epoquecontemporaine">Epoque Contemporaine</a></label>
		</div>
		
		
		
		<div class="phrise">
	<img src="../../../../PJS3/public/img/histoire/figure1.svg">
	</div>
	
	
	
			<div class="colonne">
			
			
			
			
				<colonne_gauche>
				
				
				
				<h2>Préhistoire</h2>
					<center><div class="home-intro-delimiter"></div></center>
					
						<div align="justify">
						<br/>
						<br/>
						
						<p>On retrouve aujourd’hui dans la région des traces datant d’une période très ancienne. 
						En effet, il y a  en Ardèche des gravures dans la grotte Chauvet qui constituent les plus
						vieilles traces d’occupation humaine de la région.
​						<br/><br/></p>
						<div class="block"><a id="antiquite"></a></div>
						<p>Cette grotte figure d’ailleurs parmi les plus vieilles grottes du monde ! 
						Les scientifiques estiment que les gravures ont près de 30 000 ans !
						</p>
						
						</div>
						
						
					<div class="image_anti">
						<img src="../../../../PJS3/public/img/histoire/antiquite.png">
					</div>
					
						<div align="justify">
						<p>On retrouve encore dans la région des vestiges de cette occupation dont des aqueducs, 
						des théâtres antiques à Lyon et à Vienne, des temples au sommet du puy de Dôme et près du 
						site archéologique de saint-Romain-en-Gal…
						<br/><br/>
						
						Le temple au sommet du puy de Dôme est d’ailleurs en cours de restauration. 
						Ce temple, qui était dédié à Mercure, fut fondé par Antonin le Pieux vers 150 constituait
						un immense sanctuaire romain en occident.
						<br/><br/></p>
						<div class="block"><a id="moyenage"></a></div><p>
						À Clermont-Ferrand, on retrouve plusieurs théâtres romains comme celui de 
						Montaudou par exemple (dont voici une reconstitution ci-dessous).
						</p>
						</div>
						
					<div class="image_moyenage">
						<img src="../../../../PJS3/public/img/histoire/moyen_age.png">
					</div>
					
				<div class="moderne">	
					<h2>Epoque Moderne</h2>
					<center><div class="home-intro-delimiter"></div></center>	
				</div>	
						<div align="justify">
						<br/>
						<p>La région voit ensuite sa taille augmenter avec l’ajout du Bugey et du pays de Gex en 1601 
						par le traité de Lyon.
						<br/><br/>
						Puis en 1762 et 1860 respectivement, la Savoie et la Dombes furent ajoutées au Rhône.
						</p>
						</div>

					<div class="image_contemporaine">
						<img src="../../../../PJS3/public/img/histoire/epoque_contemporaine.png">
					</div>
				
						
				</colonne_gauche>
				
				
				<colonne_droite>
				
				
				
				
				<img id="cheval_prehistoire" src="../../../../PJS3/public/img/histoire/cheval_pre.jpg" >
				
					<div class="para_droite_anti">
						<h2>Antiquité</h2>
					
					<center><div class="home-intro-delimiter"></div></center>
					
						<div align="justify">
						<p>Occupation gauloise jusqu’en 52 avant J.C. : Vercingétorix gagne la bataille de 
						Gergovie qui a eu lieue près de Clermont-Ferrand. 
						<br/><br/>
						Occupation romaine après la conquête de la 
						Gaule entre 58 et 52 avant J.C. Lugdunum est fondée en 43 avant J.C : ancêtre de Lyon. 
						Lugdunum devient la capitale de la province gauloise. Légende sur la fondation de la 
						ville : le druide Momoros et le roi Atepomaros auraient obéi à un oracle qui leur a 
						ordonné de fonder cette ville. D’après Plutarque, Momoros et Atepomaros furent 
						entourés de corbeaux. Momoros, décida donc d’appeler cette ville Lugdunon, selon ses présages.
						<br/><br/>
						L’Occupation romaine aura duré près de 500 ans !
						</p>
						</div>
						</div>
						
				<div class="image_anti_deux">	
					<img src="../../../../PJS3/public/img/histoire/antiquite_2.jpg">	
				</div>
				
				<div class="moyenage">
					<h2>Moyen-Age</h2>
					<center><div class="home-intro-delimiter"></div></center>
				
				
						<div align="justify">
						<p>Jusqu’au début du XIVème siècle, on constate que le Rhône sert de délimitation physique
						entre le Saint Empire romain germanique et le royaume de France. Le Dauphiné, situé dans le Sud-Est
						de la France actuelle, ne fut rattaché qu’en 1349, aux débuts de la guerre de Cent Ans.
						<br/><br/>
						En ce qui concerne l’Auvergne, Francs et Aquitains se la disputent au VIIIème siècle. Elle fut d’abord
						sous le contrôle de l’Austrasie puis sous celui du duché d’Aquitaine au cours du VIIème et du VIIIème siècle. 
						Durant cette période, on estime que la partie sud de la Gaule est liée au royaume des Francs.
						<br/><br/></p>
						<div class="block"><a id="epoquemoderne"></a></div><p>
						Cependant l’Auvergne est victime de nombreux conflits dus à la convoitise. Les comtes de Poitiers et 
						de Toulouse cherchent d’ailleurs à se l'approprier au Xème siècle. Elle fut par ailleurs gouvernée par les 
						Aquitains, connus en tant que comtes d’Auvergne, parmi lesquels on retrouve Bernard Plantevelue
						(ayant gouverné de 872 à 886) et Guillaume Tête d’Étoupe (présent de 950 à 963).
						</p>
						</div>
				</div>
				
				
				<div class="image_moderne">	
					<center><img src="../../../../PJS3/public/img/histoire/epoque_moderne.png"></center>
				</div>	

				<div class="contemporain">
					<h2>Epoque Contemporaine</h2>
					<center><div class="home-intro-delimiter"></div></center>
					

						<div align="justify">				
						<p>On constate un essor des métiers à tisser à Lyon et dans les autres départements vers 1870. La soierie se 
						développe à l’échelle régionale tandis que la chimie émerge à Lyon, à Grenoble et dans les Alpes.
						<br/><br/>
						De même que l’on assiste aux débuts de l’exploitation du charbon à Saint-Étienne.
						<br/><br/>
						Michelin naît à Clermont-Ferrand vers 1830. Son activité était de produire des balles en caoutchouc.
						<br/><br/>
						De même que l’aspect montagnard de l’Auvergne est responsable du ralentissement de son ascension industrielle. 
						On constate notamment un déplacement de population active du massif central vers le nord pour des raisons similaires
						</p>
						<div class="block"><a id="epoquecontemporaine"></a></div>
						</div>
				</div>
				
				
				
					
				</colonne_droite>
							
			</div>

    </div>
	
	</div>

{% endblock %}


{% block js %}<script src="{{ base_url() }}/js/histoire/histoire.js"></script>{% endblock %}