{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/histoire/histoire.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container histoire-container">
	
	
	<div id="histoire">
		<h1>Histoire</h1>
		<div class="mini-menu">
			<label class="link-lacs">Préhistoire</label>
			<label class="link-mil-roc">Antiquité</label>
			<label class="link-plateaux">Moyen-Age</label>
			<label class="link-plateaux">Epoque Moderne</label>
			<label class="link-plateaux">Epoque Contemporaine</label>
		</div>
    </div>
	
	
	</div>

{% endblock %}

{# j'ai mis des .js vides, supprimez-les si vous ne les utilisez pas... #}

{% block js %}<script src="{{ base_url() }}/js/histoire/histoire.js"></script>{% endblock %}