{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/home/home.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container home-container">



    </div>

{% endblock %}