{% extends "layout.twig" %}

{% block css %}<link href="{{ base_url() }}/css/nature/nature.css" rel="stylesheet">{% endblock %}

{% block content %}

    <div class="container">

nature

    </div>

{% endblock %}