#france, #dom{
    fill:#c7c7c7;
}

#auv-rhone-alp:not(.tooltip){
    animation: clign 3s linear infinite;
}

.tooltip-box{
  z-index:+15;
  fill:#FFFFFF;
  stroke:#000000;
  stroke-width:2;
}

.tooltip-text {
  z-index:+4;
  fill: black;
  font-size: 12px;
  font-family: sans-serif;
}

#auv-rhone-alp.tooltip path {
  z-index:+15;
  fill:#FFFFFF;
  stroke:#000000;
  stroke-width:0.25;
  stroke-miterlimit:10;
}



#dom g:hover{
    fill:#ffc193;
}

#france g:hover:not(#details-auv-rhone-alp){
    fill:#38c1c7;
    transition:all 0.1s linear;
}

#auv-rhone-alp-btn:not(:checked) ~ svg #details-auv-rhone-alp{
  opacity:0;
  transition:all 0.1s linear;
}

#auv-rhone-alp-btn:checked ~ svg #details-auv-rhone-alp{
  transition:all 0.1s linear;
}

@keyframes clign {  
  50% { fill:#38c1c7; }
}
