#france, #dom{
    fill:#c7c7c7;
}

#auv-rhone-alp:not(.tooltip){
    animation: clign 3s linear infinite;
}

.caption{
  opacity:0;
}

g:hover ~ .caption:not(.details){
  opacity:1;
}

#dom g:hover{
    fill:#ffc193;
}

#france g:hover:not(#details-auv-rhone-alp){
    fill:#38c1c7;
    transition:all 0.1s linear;
}

#auv-rhone-alp-btn:not(:checked) ~ svg #details-auv-rhone-alp{
  opacity:0;
  transition:all 0.1s linear;
}

#auv-rhone-alp-btn:checked ~ * .details{
  opacity:1;
}

#auv-rhone-alp-btn:checked ~ svg #details-auv-rhone-alp{
  transition:all 0.1s linear;
}

@keyframes clign {  
  50% { fill:#38c1c7; }
}