.head-photo{
    background: url('../../img/home/mountains.jpg');
    background-size: cover;
    height: 475px;
}

.head-photo span{
    color: #000;
    background-color: #fff;
    padding: 5px 15px;
    font-size: 50px;
    text-align:center;
    letter-spacing: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'lemonmilkbold', 'Open Sans', sans-serif;
}

.home-logo{
    margin-top: 24px;
}

.home-logo img{
    width: 90px;
}

.home-intro{
    font-weight: 300;
    font-size: 20px;
    margin: 20px 0;
}

.home-intro a{
    padding: 0;
    margin: 0;
}

.home-intro-delimiter{
    width: 300px;    
    border-bottom: 4px dotted rgba(1, 177, 175, 1);
}

.home-imgs-box{
    padding: 1%;
    margin-bottom: 1%;
}

.home-imgs-box div{
    background-size: cover;
    height: 15vw;
}

.home-imgs-box a{
   color: rgba(1, 177, 175, 1);
   background-color: #fff;
   padding: 0.5vw 1.5vw;
   margin-bottom:4.5%;
   font-size: 25px;
   font-family: serif;
   display: inline-block;
}

.home-imgs-box a:hover{
   color: rgb(19, 101, 101);
   transition:all linear 0.3s;
}

.home-imgs-box:nth-child(1) div{
    background-image: url('../../img/home/intro3.png')
}

.home-imgs-box:nth-child(2) div{
    background-image: url('../../img/home/intro2.png')
}

.home-imgs-box:nth-child(3) div{
    background-image: url('../../img/home/intro1.png')
}

#auv-rhone-alp-btn{
    position:absolute;
    z-index:-1;
}

#auv-rhone-alp-btn:not(:checked){
    bottom:-38%;
    left:63%;
}

#auv-rhone-alp-btn:not(:checked) ~ svg{
    margin-bottom:-87%;
    transition:all 0.1s linear;
}

#auv-rhone-alp-btn:checked{
    bottom:67%;
    left:78%;
}

#auv-rhone-alp-btn:checked ~ svg{
    margin-bottom:-40%;
    transition:all 0.1s linear;
}

#carte{
    position:relative;
}

@media screen and (max-width: 770px){
    .home-container{
        margin-bottom: 3%;
    }
    .home-imgs-box{
        margin-bottom: 0;
    }
}