#nature .slider-nav{
    position: absolute;
    top: 38%;
    width: 100%;
}

#nature .slider-nav i{
    font-size: 4em;
}

#nature .slider-nav i:hover{
    color:#ffffff87;
}

#nature .slider-prev,#nature .slider-next{
	background-color:#73d2d700;
}

#nature .slider-prev{
	margin-right:79%;
}


#nature .slider-stage{
	background-color:#73d2d7;
	height:400px;
}

#slider-nature .item{
	width: 100%;
    display: block;
    margin: 0 auto;
}

#slider-nature .item img{
	height: 400px;
}

#slider-nature .icon img{
    position:relative;
    overflow: hidden;
    margin: 7% auto;
}

#slider-nature .icon.lacs img{
	width: 15%;

}

#slider-nature .icon.mil_roc img, .icon.plateaux img{
	width: 9%;
}

#nature .icon h1{
	color:#ffffff;
	margin:-6% 0 0 0;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
  	font-size: 80px;
}

#slider-nature .item .texte h3 {
    display: inline;
}

#slider-nature .item .texte{
	width: 60%;
	margin: -18.5% 0 0 20%;
	text-align: center;
	padding: 20px 45px 20px 45px;
	position:relative;
	background-color:#38c1c7ba;
	color:white;
	font-weight:600;
}

#slider-nature h1{
	color:white;
}

#nature .slider-dots{
	margin:-4% 0 7% 0;
	z-index:+1;
	position:relative;
}

#nature .slider-dots span{
	height: 7px;
	width: 7px;
	background-color: white;
}

#nature .slider-dot.active span{
	background-color: #ffffff6e;
}

#nature{
  padding: 30px 0px 0px 0px;
}

#nature h1{
	text-align:center;
	font-family:playfair display,serif;
	font-weight:bold;
	color: #278085;
  	font-size: 44px;
}

.mini-menu{
	text-align:center;
	padding: 10px 0px 40px 50px;
}

.mini-menu label{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
  	padding: 0px 25px 0px 0px;
  	font-size: 16px;
  	color:black;
  	text-decoration:none;
}

.mini-menu label:hover{
  	text-decoration:inherit;
  	color: #3AC0C7;
  	-webkit-transition: color 0.3s;
}

.disp-none{
	diplay: none;
}