#activ-lacs:checked ~ #lacs-container,
#activ-mlr:checked ~ #mil_roc-container,
#activ-plt:checked ~ #plateaux-container{
	display: inline-block;
}

#activ-lacs:checked ~ * .mil_roc,
#activ-lacs:checked ~ * .plateaux,
#activ-mlr:checked ~ * .lacs,
#activ-mlr:checked ~ * .plateaux,
#activ-plt:checked ~ * .lacs,
#activ-plt:checked ~ * .mil_roc{
	display:none;
}

#nature .icon-left-open-big,
#nature .icon-right-open-big{
	font-size: 350%;
	background-color:#73d2d700;
	color:#fffcfce6;
	position: absolute;
	padding:13% 0% 0% 5%;
	z-index:+1;
}

#nature .icon-left-open-big:hover,
#nature .icon-right-open-big:hover{
	color:#fffcfca1;
	cursor: pointer;
}

#nature .icon-left-open-big:active,
#nature .icon-right-open-big:active{
	color:#3ca3b3;
}

#nature .icon-right-open-big{
	margin-left: 85%;
	position:absolute;
}

#slider-nature .icon.lacs{
	margin-left:41.6vw;
	margin-right:46.75vw;
}

#slider-nature .icon.lacs img{
	margin-top: 50%;
	width: 150%;
}

#slider-nature .icon.mil_roc{
	margin-left:20vw;
	margin-right:39vw;
}

#slider-nature .icon.mil_roc img{
	margin-top: 12%;
	margin-left: 63%;
	width: 22%;
}

#slider-nature .icon.plateaux{
	margin-left:33.5vw;
	margin-right:44.5vw;
}

#slider-nature .icon.plateaux img{
	margin-top: 25%;
	margin-left:54%;
	width: 42%;
}

#nature .icon h1{
	color:#ffffff;
	margin:3% 0% 0% 25%;
	white-space: nowrap;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
  	font-size: 5.5vw;
}

#lacs-container,
#mil_roc-container,
#plateaux-container{
	display:flex;
	overflow:hidden;
	background-color:#6ad1d5;
	height:25vw;
}

#slider-nature .item .texte{
	position:absolute;
	top: 50%;
	left: 40%;
	transform: translate(-33%, -50%);
	background-color:#38c1c7ba;
	color:white;
	padding: 1% 3% 1% 2%;
	font-weight:600;
	font-size:90%;
}

#slider-nature .item .texte h3 {
    display: inline;
    font-size:180%;
    font-weight:500;
}

#slider-nature .item {
    position: relative;
    text-align: center;
    height:auto;
}

#slider-nature .item img{
	width:98.9vw;
	height:100%;
}

#nature .disp-none{
	display: none;
}

input[name='lacs'],input[name='mil_roc'],
input[name='plateaux'], input[name='choix']{
	display:none;
}

#actifs{
	position:relative;
	text-align:center;
	margin: -4.5% 0% 10% 0%;
	z-index:+5;
	width:8%;
	margin-left:46%;
	background:#1c474c;
	border-radius:5vw;
	opacity:0.5;
}

#actifs:hover{
	opacity:0.8;
}

#actifs label{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	cursor:pointer;
	width:0.45vw;
	height:0.5vw;
	margin: 0% 5% 0% 5%;
	background:#fff;
	opacity:0.9;
}

#actifs label:hover{
	background:#1cb2bbc9;
}

#lacs1:checked ~ #actifs label:nth-child(1),
#lacs2:checked ~ #actifs label:nth-child(2),
#lacs3:checked ~ #actifs label:nth-child(3),
#mil_roc1:checked ~ #actifs label:nth-child(4),
#mil_roc2:checked ~ #actifs label:nth-child(5),
#mil_roc3:checked ~ #actifs label:nth-child(6),
#mil_roc4:checked ~ #actifs label:nth-child(7),
#mil_roc5:checked ~ #actifs label:nth-child(8),
#plateaux1:checked ~ #actifs label:nth-child(9),
#plateaux2:checked ~ #actifs label:nth-child(10),
#plateaux3:checked ~ #actifs label:nth-child(11){
	background:#1cb2bbc9;
}

#commandes{
	margin:-3% 0 0 0;
	width:100%;
	height:50%;
	z-index:+5;
}

#commandes label{
	width: 50%;
	height:100%;
	opacity:0.5;
}

#commandes label:hover{
	opacity:0.8;
}

#commandes label, #actifs, #actifs label{
	-webkit-transform:translateZ(0);
	-webkit-transition:opacity 0.2s ease-out;
	-moz-transition:opacity 0.2s ease-out;
	-o-transition:opacity 0.2s ease-out;
	transition:opacity 0.2s ease-out;
}

#lacs-container, #mil_roc-container, #plateaux-container{
	-webkit-transform:translateZ(0);
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}

#lacs1:checked ~ #slider-nature #lacs-container,
#mil_roc1:checked ~ #slider-nature #mil_roc-container,
#plateaux1:checked ~ #slider-nature #plateaux-container {margin-left:0}
#lacs2:checked ~ #slider-nature #lacs-container,
#mil_roc2:checked ~ #slider-nature #mil_roc-container,
#plateaux2:checked ~ #slider-nature #plateaux-container {margin-left:-100%}
#lacs3:checked ~ #slider-nature #lacs-container,
#mil_roc3:checked ~ #slider-nature #mil_roc-container,
#plateaux3:checked ~ #slider-nature #plateaux-container {margin-left:-200%}
#mil_roc4:checked ~ #slider-nature #mil_roc-container {margin-left:-300%}
#mil_roc5:checked ~ #slider-nature #mil_roc-container {margin-left:-400%}

#commandes label{
	position:absolute;
}

#lacs3:checked ~ #commandes .lacs:nth-child(1),
#lacs1:checked ~ #commandes .lacs:nth-child(2),
#lacs2:checked ~ #commandes .lacs:nth-child(3),
#mil_roc5:checked ~ #commandes .mil_roc:nth-child(4),
#mil_roc1:checked ~ #commandes .mil_roc:nth-child(5),
#mil_roc2:checked ~ #commandes .mil_roc:nth-child(6),
#mil_roc3:checked ~ #commandes .mil_roc:nth-child(7),
#mil_roc4:checked ~ #commandes .mil_roc:nth-child(8),
#plateaux3:checked ~ #commandes .plateaux:nth-child(9),
#plateaux1:checked ~ #commandes .plateaux:nth-child(10),
#plateaux2:checked ~ #commandes .plateaux:nth-child(11){
	background:url('/public/img/nature/right-arrow.png') no-repeat;
	height:5vw;
	width:5vw;
	margin-top:-11.5vw;
	right:8%;
}

#lacs3:checked ~ #commandes .lacs:nth-child(2),
#lacs1:checked ~ #commandes .lacs:nth-child(3),
#lacs2:checked ~ #commandes .lacs:nth-child(1),
#mil_roc5:checked ~ #commandes .mil_roc:nth-child(7),
#mil_roc1:checked ~ #commandes .mil_roc:nth-child(8),
#mil_roc2:checked ~ #commandes .mil_roc:nth-child(4),
#mil_roc3:checked ~ #commandes .mil_roc:nth-child(5),
#mil_roc4:checked ~ #commandes .mil_roc:nth-child(6),
#plateaux3:checked ~ #commandes .plateaux:nth-child(10),
#plateaux1:checked ~ #commandes .plateaux:nth-child(11),
#plateaux2:checked ~ #commandes .plateaux:nth-child(9){
	background:url('/public/img/nature/left-arrow.png') no-repeat;
	height:5vw;
	width:5vw;
	margin-top:-11.5vw;
	left:9.5%;
}

/*
@media screen and (max-width: 1215.36px){

	#slider-nature .item>img{
		height:100%;
		width:100%;
	}

	#slider-nature .item .texte h3 {
		/*font-size: 3.4vw;*/
	/*}

	#slider-nature .item>div {
		position: absolute;
		top: 50%;
		height:100%;
	}
}*/

@media screen and (max-width: 1215.28px){
	#slider-nature .item {
		font-size: 2vw;
	}
}

@media screen and (min-width: 1528px){
	#slider-nature .icon.mil_roc{
		margin-right:39.15vw;
	}
	#slider-nature .icon.lacs{
		margin-right:46.95vw;
	}
	#slider-nature .item img{
		width:99.1vw;
	}
	/*#slider-nature .item img{
		width:49.5vw;
		height:100%;
	}
	
	#slider-nature .item .texte {
		font-size: 1.0vw;
	}

	#activ-lacs:checked ~ #active label:nth-child(3),
	#activ-plt:checked ~ #active label:nth-child(3){
		display:none;
	}

	#active{
		margin: -3.8% 0% 10% 0%;
	}
	
	#active label{
		width:0.65vw;
		height:0.65vw;
	}*/
}