<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1756" >
	<g id="france">
		<foreignObject x="725" y="343">
			<div xmlns="http://www.w3.org/1999/xhtml">
				<label id="auv-rhone-alp-btn-lbl" for="auv-rhone-alp-btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="247.2" height="180.1">
						<g class="auv-rhone-alp">
						<path d="M243.5,85.8c-3.2-2.2-3.2-2.2-6-7c0-1.6,0-3.2,0-5.4c-1.6-0.8-3.4-1.7-5.2-2.6c-2.4-1.5-4.6-3.4-4.9-6c3.6-3.6,7-7,9.9-9.9
							c0-2.3,0-3.6,0-4.7c-1.2-1.7-1.9-3.9-3.4-4.7c-1.9-1-3-2.5-4.4-3.7c-1.5-1.3-2.8-2.8-4.2-4.1c1-2.5,1.9-4.8,2.8-7.1
							c-1-1.5-2.3-3.1-3.8-5.2c0-1,0-2.4,0-4c-3.8,0-7.4,0-11.4,0c-1.9,1.4-4,3.1-6.5,5c-0.8-0.3-2-0.7-3.2-1.2c-2.5,1.3-1.8,4.1-3,6.1
							c0.9,1,1.6,1.8,2.6,2.9c-2.7,2.8-6.2,4.5-8.8,6.9c-2.5,0.6-5-0.8-7.1,1c-0.5-0.5-1-0.9-1.4-1.3c0.4-1.6,0.8-3.1,1.3-4.6
							c1-2.3,3-3.4,5.4-4.1c1.9-2.5,1.3-5.5,1.3-8.4c-0.8-0.4-1.6-0.8-2.8-1.4c-1.6,2-3.1,4.3-5,6.1c-1.9,1.8-4.3,3.2-6.5,4.7
							c-1.8,0-3.6,0-5.3,0c-0.5-1.4-1-2.7-1.5-3.9c-1.4,0-2.4,0-3.3,0c-1,1.3-1.9,2.6-2.8,3.9c-1.6,0-3,0-4.7,0c0-0.8,0-1.6,0-2.5
							c-1.1-0.2-2-0.4-3.1-0.6c-0.7-1.1-1.7-2.2-2.1-3.5c-0.7-2.7-2.7-4.3-4.5-6.2c-2-2.1-4.7-2.8-7.1-1.9c-2,0.8-3.4,1.1-5.3-0.1
							c-0.7-0.4-1.2-0.1-2.5-0.1c-2.9,7.5-4.3,14.7-7,22.5c-2.3-3-4-5.1-6.5-7.4c-0.6,0.8-1.6,0.7-2.2,1.5c0.1,0-1.2-0.7-2.3-1.5
							c-0.8,0.7-2.3,0.4-3.1,1.1c-1-0.6-1.4-0.2-2.8-1c-0.8,1.8-2.2,3.4-3,5.3c-1.9,1.4-4,2.8-5.7,4.1c-1.1-1.1-2-2-2.4-2.4
							c-3.9,0.8-6.8,1.4-9.5,2c-2-1.3-3.9-2.4-6-3.8c0-1.2,0-2.8,0-5c0.5-0.5,1.4-1.2,2-2.1c0.7-0.9,1.1-1.9,1.8-3c0-1.7,0-3.7,0-5.8
							c-2.1-2.9-5.6-3.2-8.6-4.5c-1.3-0.5-1.9-1.2-2.5-2.5c-1.8-4.3-3.9-8.4-6-12.9c-2.4,2.4-4.4,4.5-6.7,6.7c-1.6-1.5-3-2.8-4.6-4.3
							C58.7,7.8,54.8,6.9,51.2,7c-2-2.4-3.9-4.7-5.8-7c-2,0-3.6,0.6-5.6,0.6c-2.2,4.1-7,3.7-10.6,5.4c-1,0.4-2,1-3,1.5
							c-0.6,0.3-1,0.7-1.8,1.4c0.4,2.1,0.7,4,1.2,6.6c-0.9,0.7-1.4,1.7-2.6,2.6c-2.6,0.4-6.2,1.1-9.3,1.6c-1,1.5-2,2.4-3.4,4.4
							c0.3,1.4-0.4,3.4-0.1,5.2c2.7,1.7,5.8,4.2,8.8,6.1c1,2.3,1.9,5,3.1,8c0.1,0.3,0.9,3.4,0.9,3.6c-0.4,4.4,0.5,7.1,2.4,11
							c-4,2.7-6.8,5.8-10.1,9.1c0.3,0.4,0.4,0.5,0.8,0.9c3.1,2.8,3.9,6.8,4.8,10.8c-0.4,0.9-0.3,0.8-0.7,1.8c-0.3,0.7-0.9,1.6-0.8,2.1
							c0.9,2.9-0.2,6.9,0.8,9.7c0.6,1.7,0.7,5,0.7,5c-2.3,1.9-4.1-1-6.2-0.6c-1.8,5.5-5.8,8.1-8.5,13.1c0.4,0.3-0.1,2.3,0.2,2.6
							c-1,1-0.9,1.4-1.3,1.9c0,2-0.8,1.9-0.8,3.2c-1,0.6-0.8,1.1-1.8,1.8c0.4,1.3-1.6,2.7-1.2,4C0.1,123.9,1,125,0,125.5
							c-0.1-0.2,0.6,3.3,0.6,5.1c2.2,2.4,3.5,4.8,4.8,7.3c-0.8,2.3-0.7,4.4-1.4,6.3c1.1,1.6,1.5,2.8,3.1,5.1c1.5-1,3.2-1,5.1-2.3
							c1.9,0.3,3.9,0.2,6.1,0.6c5.1-5.1,2.1-4.1,4.1-6c0.9-3.3,1.9-7.2,3.9-9.5c1.1-1.4,3.2-1.9,5.9-4c1.7,1.1,4.2,3.2,3.7,2.4
							c0,0,0.9,1.3,2.5,2.5c0,1.3,0.2,2.4,0.2,3.5c1,0.8,1.8,0.6,2.8,1.5c0,1.6,0.3,3.1,0.3,4.2c0.4,0.7,0.6,1.8,0.8,2.5
							c0.7,2.2,1.7,1.3,2.1,2c0.3-1,0-1.7,0.7-2.7c3.1-4.4,2.3-4.6,2.7-7.7c0.4-3.2,3.1-3.5,5-5.9c0.6,1.4,1.2,1.7,1.6,2.5
							c-0.1,0.1,2.1-2.7,3.3-4.2c1.4-1.6,4-1.3,3.9-4.6c4.8,0.8,3.5,5.7,5.8,8.7c0.7,0,1.7-0.1,2.6,0.2c0.9,0.2,1.7,0.7,2.9,1.3
							c0.2-1.2,0.3-2,0.5-3.3c1.2,0.1,2.6-0.1,3.6,0.4c1.8,1,3.3,2.5,4.9,3.8c1.3,1,2,2.4,3.8,3c1.1,0.4,2.4,2.4,2.4,3.8
							c0.3,8.9,6.1,15.5,9.2,23.2c0.3,0.8,1.3,1.3,2.1,1.8c1.9,1.4,3.9,2.7,6.2,4.4c2.5-1.4,5.2-3,8.1-4.6c0.3,0.7,0.5,1.2,0.8,1.9
							c4.2-2,7.7,0.4,11.6,2.7c0-1.4,1.1-3.9,1-3.9c2.7,0.4,4.1,0.4,6.6,0.8c0.8,1.1,1.9,2.5,2.8,3.6c3.3,0.4,5.6-1.1,7.7-2.9
							c-1.5,0-3,0-3.8,0c-1.4-1.1-2.4-1.8-3.7-2.9c1.6-2.6,3.1-4.6,5.1-6.6c2.6,1.2,3.9,2.7,5.9,4.1c-1.3,2-2.4,3.7-3.5,5.4
							c3.6,0,3.6,0,5.3,0.9c1.1-0.7,2.1-1.4,3.5-2.4c0,2.4,0,4.1,0,6.3c3.7,0.5,7.2,1,11,1.6c0,0.9,0,2,0,2.9c0.9,0.7,1.5,1.2,2.2,1.7
							c1.3,0,2.7,0,4,0c1.5-1.7,3-3.4,4.4-5c0.9,0,1.6,0,2.4,0c0-1.5,0-2.9,0-4.5c-3.3-1.9-6.8-3.9-10.5-6c-0.6-0.8-1.3-2-2.2-3.2
							c1.4-2.1,2.8-4.3,4-6.1c2.7-0.8,4.8,2.8,6.8-0.8c-1.1-0.6-2.3-1.4-3.4-2c1.5-3.6,2.6-6.3,3.7-9.2c1.7,0,3.5,0,5.1,0
							c0.6-0.6,1.1-1.1,1.7-1.8c0-1.2,0-2.7,0-3.9c1.9-2.1,4.2-2.7,6.5-2.4c0.6-1.4,1.1-2.5,1.6-3.8c5.7-0.6,10.8-5.3,17.4-3.2
							c0-1.9,0-3.7,0-5.7c-1.7-1.3-3.6-2.8-5.3-4.1c-0.4-1.5-0.8-2.7-1.2-4.3c0.5-1.2,1.2-2.9,1.9-4.8c3,1.3,5.8,2.5,8.7,3.7
							c2.3-1.2,4.9-2.7,8-2.7c0.8,0,1.6-0.2,2.3-0.5c5.7-2.8,11.6-5,17.4-7.5c1.1-0.5,2.3-1,3.7-1.6c1.2-1.9,3.2-3.8,0.7-6.5
							c1.6-1.4,1.3-3.8,3.2-4.9c0-0.3,0-0.7,0-1C246.1,87.4,244.7,86.6,243.5,85.8z"/>
						</g>
					</svg>
				</label>
			</div>
		</foreignObject>
		<g id="details-auv-rhone-alp" transform="translate(280,720)">
			<g>
				<path d="M263,66v3l-2,1.33,1,1.48c-1.09,2.94-2.58,5.62-2,8.78,1.46,2.53,1.31,2.51,1,6-.2,2.11-.48,4.33.94,6.56H256.2l-.48,2.72c-2.36,2.25-6.12,1.71-7.65,4.74l1,1.21-2.89.43-.65,1.92c-1.44-1.45-2.26,1.49-4,.25-.78-.56-2.8.61-4.26,1l-1.41,3.73-2.41-1.34-1.37,4.21,3.14,2.44-1,3.32,2.75,6.79-2.19,1c1.9,2.86.8,6,1.22,9L238,137l1,1c-.21,1.55.66,3.34-1,4.58,1.29,1.31-1.91,2.41-.18,3.74a26.43,26.43,0,0,0,3.31,10.91l-6.36,3.88-3.8-1.37-1.31,2.4-1.1-1.1-1,.89-1.75-1.33a9.2,9.2,0,0,0-1.72,2.33A47.26,47.26,0,0,0,223,168h-1v-2.62c-1.52-.45-3-1.38-3.7-1-1.55.81-2.12-.69-2.7-.73l-5.12-10.93c-3.1.3-6.25,1-9.35.79s-5.91,1.34-9.25.1l.88-2.24c-1.6-2.18-.84-5.51-3.29-7.34l-.92.92-3.7-3.46L183,144h-2.83l-1.53,1.94h-6.26c-1.49-.95-3.11-1.88-4.72-1.85a21.67,21.67,0,0,1-9.94-1.86,5.54,5.54,0,0,0-.9-.23l-3.72,2c-1.94-.18-4,.42-5.87-.75l-.76.72L142,140.7v-3.11l-2.19-2.34c-1.62.63-3.23,1.86-4.44,1.55s-2.78.4-3.86-.75l-1.2,1.06c-.45-4.38-5-3.19-6.8-5l-1.68-7.77-5.86-1.72c2-1.74.79-3.67.37-5.55l3.69-2.3-1.23-1.77,2.05-2.44-3.45-2.38c-1.4-.19-2.74.7-4.36-.06a20.24,20.24,0,0,0-4.77-1.15l-6.14,3.66c1.56,1.22.93,3,.81,4.55-.11,1.31-.94,2.57-1.45,3.84H98.27l-1.85-2.9-5.72-2.45-1.61,3.17,1.25,3.86L84.9,123c-3.33,3.74-2.57,8.72-6.92,11.08l-1.52-1-.73.65-3.64-1.17a27.19,27.19,0,0,1-2.44-2.5,7.13,7.13,0,0,1-1.46-2.75c-.76-3.53-.59-3.78-2-4.29-2.55-1-2.9-3.05-3.23-5.27a18.35,18.35,0,0,0-.7-4.2c-1.18-3.14-3.2-5.69-4.69-8.57a9.18,9.18,0,0,0-5.7-5l-2.78,1.17-.2-3.85c-1.77-1.45-3-3.46-5.32-4.7L41.45,96c-2-3-6.76-1.9-8.3-5.69L37.66,84c-3.54.33-5.94-.68-7.66-3V71c1.66-.18.73-1.5,1-2.42l2.74-2.28.79.6A7,7,0,0,0,37,60.81l5.13-4.09c3.21,2.22,6.75-2.41,10.36,0l4-1.94c1.76.65,3.4,2.31,5,.43l2.75,1.46,10.91-7.12-1.43-7.32-4.66-3.51,4-5.68-2.27-4.19,5.2.73L77.57,27,77,23h2.59l5.51-6c-.43.07-.12,0,.2,0,.47-.05.95-.08,1.4-.11.75-3.42.75-3.42,4-3.93l2.94,3.81,3.19.95c1.25-1.09,1.56-3.32,4-3.46l.7.64,1.66-1.14,2.06,1.82,1.74-.88-1.1-1.86a23.75,23.75,0,0,0,3.1-2.34,22.12,22.12,0,0,0,2.15-3.08C112,6,114.19,6,114.62,4c.07-.35,1-.64,1.62-.73,1.11-.18,2.25-.18,3.38-.29a6.69,6.69,0,0,0,1-.23L122,0h1c1.61,1.88,3.44,2.79,5.54,1.37l2.46,1c0,.92,0,1.9,0,2.88,0,1.91.83,3.78,2.36,4.4,2.3.92,3.34,3,4.79,4,3,1.05,5.57.84,7.39,4s4.37,6.57,8.53,7.19c2-1.48,3.91-2.89,5.82-4.32,1.4-1,2.77-2.12,4.18-3.16.18-.14.45-.15.37-.13l2.17,1,2.47,4.62h6.7l4.06-4.73h5l.41,3.68,2,.47L186.32,27l2.19,3.16c4.11-1.29,6.15-4.62,9.18-7.26l2.08.59,3.07-1.77L202,17c2.38.13,3.82-2,5.89-2.32-.73-1.89-2.74-3.29-1.42-5.8,2.57,1,5.79.92,6.51,4.58V19c.94,1.49,1.43,3.35,2.49,3.77,3.93,1.53,4.86,5.14,6.54,8.28.58,1.09,2,2.79,1.69,3.13-1.15,1.38.21,2.24.41,3.18.24,1.14,1.35,2.07,1.94,3.17a8.92,8.92,0,0,1,.05,6.88,7.49,7.49,0,0,0,0,2.2l3.07,2.61,1.63-1.46,2.09,2.64L237.19,55l3.55-1.92.59,3.12h2.79c-.5.58-1.1,1.05-1,1.22.91,2,2.08,3.8,4.57,4.36L249.5,60h6.66a34.14,34.14,0,0,0,3.23,3.81A22,22,0,0,0,263,66Z" />
			</g>
			<g>
				<path d="M264,256v1l-1.57,2,.67,4L260.36,267l-4,1.34-4.56,4.36v9.68l-5.5-1.42-1.49-3.61-4.69-2.27L237,279.51l.92.92-.92,1c0,.53,1.29.56.42,1.64l-10.32-1.43-.28-2.45L223,277.86c-2.4.91-1.81,3.6-4.24,4.33-1.35.4-1.87,3.11-3.85,3.93-4.48-2.86-3.84-8.38-6.59-12.36l-4.88,1.13-4.35-3.12-.27-3.52L190.32,274c-4.05-.59-9.29,1.88-11.9-3.92l-1,.81-1.36-1.07-1.75,4.39L172,273l-3.06-2.32c.62,4.14-2.31,4.87-4.28,6l-2.74-.82c-2,1.3-3.36,2.79-3.17,4.36l-6.48,4.53c-.69-1.23-2.21.82-2.82-.71-.51,1.8-1.61-.08-2.53.34s-2.18-.28-3.06-.44l-6.72,5.56c1.28,1.51-.86,2.76-.45,3.64L133,297h-4a11,11,0,0,0-6.66-4.33c-2.21-3.3-3.84-6.66-3.32-10.93l-7.46-2.12-.43.67-2.77-3.41h-3l-1.8-1.8a14.36,14.36,0,0,1-2.86,1.61,13.55,13.55,0,0,1-3.38.29,13.48,13.48,0,0,0-3.47.09c-.93.3-1.69.64-2.59.14l-1.93,1.93L85,272.41l1.14-4-8.62-1.58-1.68-3.62c-2.21.68-3.55,2.4-5.65,1.57l-.67-2-3.48.8-.19-3.47-4.1-.35,1.41-12.08c-1.34-1.23-1.85-2.65-3.32-3.46s-2.68-2.44-3.87-3.58v-3.84c.71-1.37,2-3,1.69-3.39-1.3-1.54.78-2.13.58-3.23,2.68-.68,4.88-1.91,5.54-4.89l-1.8-1.8,2-2.17-1.16-6.69c-2.59-5.27-8-7.83-11.51-11.77-1-4.32-3.61-7.15-6.4-9.89v-1a23.05,23.05,0,0,1,2.58-1,8.81,8.81,0,0,0,5.58-4l-1-1.66,3.79-1.14c1.41.67,1.41.67,4,.33.76-4.72,5.24-6.14,8.1-9-1.12-1.22-2.75-2.13-1.81-4.35L70,168.51l-1-1,5.82-2.6L73,159.6l1-1.08-.93-1c1.71-.53,0-1.63.4-2.5a12.72,12.72,0,0,0,.71-3.43l-5.27-3.94a20.18,20.18,0,0,1,0-17.35l2.61,3.58,7.76,1.4c3.75-3,3.69-7.8,6.41-11.12l5.62-2.2v-7.19l7.71,5.11H103l1.25-9.23L108,108h2c.12.28.18.78.36.82,1.46.35,3,1.11,4.37.79,1.67-.4,2.72.9,4.16.53a13.43,13.43,0,0,0-.86,2.28,12.14,12.14,0,0,0,0,2.21c-3,1.73-3.35,2.86-2.12,7l-.67.85,1.24,2.36c1.81-.9,3.07.71,4.39.43a25.51,25.51,0,0,0,2.32,8.8h3.57l3,3.94c1.71.46,4-.63,5.87.69l3.74-1.79,1.58,1.58L141,141l4.48,3.93.86-.77c2.63,1.72,5.48.56,8.17.8,3.93-2.54,7.42.9,11.45.58l.61-.44.73.82,2.69-1.38,1.25,2.4h7.27l1.51-1.51,4.88-1.24,4.89,2.43c-1,.93,2,1.36.49,2.77-.45.42.46,2.19.62,3.36s.13,2.2.16,2.92c2.55-.24,4.83-.15,6.92-.73,1.65-.46,3.42.21,4.68-.35,2.31-1,4.55-.13,6.67-.63a47.35,47.35,0,0,1,3.21,5.27,41,41,0,0,1,1.68,5.47l2.29,1.21.73-.66,3.66,1.21v2l3.58,3.6h1.37a15.85,15.85,0,0,1,4.85,6.43L227.52,182l-1.87-1.57,1.33,3.93-1.15,1.61c1.82,2.17.9,4.5,1.18,6.61l-3.76,4.91c.41,2.54,2.63,3,4.31,3.75l1.33,4.91,6,4.57c.2,1.28,1,2.87.22,4.71a3.66,3.66,0,0,0,.57,2.68c1.35,2.36,2.49,4.86,4.34,6.9.23.4.67.8.67,1.2,0,2.44,1.45,3.53,3.47,4.52,2.64,1.3,5.05,3,7.62,4.5a16.16,16.16,0,0,0,2.78,1L256,238l1,1,2.73,4.73c-1.42,1.1-1.06,3.06-.62,4.33C260.12,251,261,254.18,264,256Z" />
			</g>
			<g>
				<path d="M143,297v-2c1.29-.43,2.27-1.08,1.81-3H143c0-.33,1-.67,1-1,.6,0,.2-1,1-1v-4c1.36-.59,7.42-.65,8.59-.09a14.67,14.67,0,0,0,2.75-2.85c.87-1.58,2.42-.67,3.52-1.37L160,280l2.12-2.7c1.27.28,2.66.94,3,.61,1.66-1.79,5-1.73,5.2-5l4.7,3.15,1.42-4h2.23l2.53,2.94h10.25c1.55-1.36,3.43-2.22,4.52-4h2c-.2,2.21,1.46,3,2.95,4,2.23,1.52,4.42,1.14,6.67-.29.49,2.62,2.64,4.26,2.4,6.85s2.74,3.35,3.64,5.76l4.28-1.77c1.3-.54.87-2.45,2.72-2.94,1.17-.32,1.87-2.38,2.54-3.33,2.52.08,2.79,2.37,3.8,3.24l9.43,1.94,3-2.22-1.14-1.54,1.26-4,4.13,1.35,1.93,4.21c2,.23,4.08.45,6.11.7a3.27,3.27,0,0,1,.81.21l1.57,3.86,3-1.73v-1.08l3.4-4.17H265l5.23,7.58,3.32-5.56,2.84,3.93,2.47-.12c-.08-2.44.51-4.22,3.51-4,.67,0,1.43-1.24,2.36-2.1h4.76l-.69-4c2.06.31,3.89.11,5.11.88,2.05,1.3,3.26-1.13,4.94-.61a15.87,15.87,0,0,1,2.09,1l4.63,4.09c1.22-.53,2.82.87,3.37-1.09l1.36-.8,4.93,1.85,2.66,3.73-5,3.67,5,5-2.15,2.34c1.95,3.45,1.95,3.45,4.64,5l7-3.61a22.05,22.05,0,0,0,2.14,2.91c1.71,1.71,3.56,3.28,5.36,4.91v3c-.33.26-.94.51-1,.79-.08,2,0,3.94,0,5.88-3.77,2.53-4.38,6.27-4,10.13-2.48.74-2.75-2.43-5.06-1.93-1.45.32-3.16-.58-4.8-.94v4.8c1.54.47,2.89,1,2.89,2.94-1.63.9-4.66-.75-5,2.53l.92,1.49-2.81,2.67,2.31,4.5,3.28.64-3.25,3.57h-5.61l-2.46,2-1.26,5.29,3.27,3.93-7.32,2.3c-.54-.32-1.58-.94-2.64-1.54,0,0-.23.22-.34.33-2.64,2.59-2.48,6.68-5.21,9.35-2.56,2.5-1.9,7.08-5.56,9.21-3.84,0-3.84,0-5.84-1-3.24,3.15-7.38,1.5-11.08,2.07-1.77,2.86-2,6.62-5.15,8.6l-1.51-1.26-1.07,2.7-2-2-3.71,2.56v4.06l-.61-.2L257.35,398c-2-.26-2,1.82-2.86,3l-1-.88-1.21.91L251,402h-3c-1.52-1.72-.74-4-1.14-6l-3.48,2-1.54-3.41-4.9-3.22v-2.58l-3.83-4.82c-2.38,2.24-5.93,0-8.51,2.08,0,0-.25-.17-.66-.47l.7-3.19-2.13-4.44-8.36-1.54-1.93,2.29c1.11,2.44.46,4.94-2,7.08l-.89-.89L207.56,387h-6l-3.8,3.3-3.79-4v-1.76l-2.06-2.16V378.9l-4.61-9.71c1.43-1.18.37-3.1.57-4.2-.69-2.17-2.25-1.65-3.36-2.14s-2.59-.78-3-2.61c-.17-.85-1.78-1.42-2.86-2.21l3.86-4.55-3.38-.76c-.54-2-2.77-2.48-3.28-4.27,0-.14-.43-.17-.39-.16l-1.92.88L172,347.34c.17-2.88-.74-6.24,2.49-9.31l-3.89-3.78c2.05,0,2.05,0,4.2,1.73,1.44-.54,2.9-1,4.32-1.64a1.08,1.08,0,0,0,.51-.57l-2-2.69c-1.69.35-2.72.39-4-1.14s-3.21-.3-4-.88a100.85,100.85,0,0,1-3.7-10.36l2-2.22V312.3c-2.4-.4-4.07-1.27-5-3.78-.81-2.09-3-3.73-1.14-6-.86-1.22-1.64-2.37-2.47-3.48-1-1.3-2.77.37-3.67-.89l-1.91,1-2.15-3.23-5.35,2Z" />
			</g>
			<g>
				<path d="M0,361v-2H6.37L10,356.71v-3.65l-2.33-1.88L4.81,344l5.14-5.14H15c.34-1.82.18-3.84,1.08-5.11,1.22-1.71.85-3,.09-4.62l3.66-2.33.24-2.23,3-1.92-4-3.82-1.19-6.64c2.53-2.23,3.28-5.24,5.63-5.47l1.72-4.54,1.62-.4.27-2.4,2.49-1.17,1.08.83c1.24-2,2.09-4.2,3.62-5.66s3.67-2.12,5.7-3.22V286l1.88-1.31v-7.36l.9-1-3.8-.89,4.37-1.74,2.91,3.6.6-.88c3.21,2.82,8,2.69,10.41,6.43l6.88-3.06-1.08-1.28.89-1.12c-1.16-1.47-2.28-2.81-3.33-4.21-1.29-1.71-1.26-3.48-.83-5.61S61.72,263.36,61,261h4l-1,3.78c1.64.23,3.2.76,4.41-.64l3.91,2.64,3.41-2,.62,3.42h4.45l.65,1.88,3.4-1c-2.64,1.76.91,4.09-.37,5.3l5.08,5.74c3.87-4.1,9-.56,13.14-2.93,1.1-.63,3.27.6,5,1l3,3h3.49L118,283.6c-1,4,2.09,6.89,3.33,10.36,3.34-.14,5.25,2.16,7,3.94h3.57l5.89-3.39,1.28-2.82c-.45-.48.39-1.15-.11-1.69.87-.45.58-.5,1.35-1s1.55-1.27,2.52-2.09l1.24,2.83c-1.34.26-.43,1-2.11,1.28,1.45,1.4.09,2.12,1,3-1.8.36-1.49,1.88-2.49,4.45,2.61-1.58,4.08,1.68,6.15.25,1.78-1.23,3.42-.29,5.15-.82l.38,4.08,4.27-2.87,3.53,2.17c0,1.65,0,3.3,0,4.93,0,.28.62.53,1,.8a7.74,7.74,0,0,0,3.5,5.88l2.4.27c-.2,2.45-.2,2.45-2,4.51a38.79,38.79,0,0,0,1.21,6.38c.87,2.43,1.95,5,2.95,6,.72-.4,2,.49,2.74.06.24.39,4.09,2.19,5.26,2.94s.66.45,1,1c-1.76.22-7.73-.9-9-.74v2.23l3.26,3.26-1.09,3v7.35l3.7,1.4.46,1.46,2.4.13.66,1.93H180v2L176.77,357c2,2.41,2,2.41,1.89,4-3.25,2.67-7.44,2.94-9.33,7l-3.11-3H164v4.59l-3.11,1.86v5.33L155,380l-4.75-6.95H147.3L144.12,377c1.13,2.54-2.79,5.51-.28,8.79l-3.87.43v2.4a4,4,0,0,0-1.29.38c-.33.23-.46.72-.71,1.08-1.22,1.71-3,3.28-1.25,5.65-1.85,1.44,0,3.71-1.32,5.48-1.15,1.49-1.53,3.59-2.06,4.94l.58,2.81a18.14,18.14,0,0,0-2.89,3c-.6,1-.61,2.4-1.08,3.54-1,2.54-1.07,5.57-3.65,7.57l-3.77-5-2.44-10.66c1.26-2.63,1.26-3.16-.11-5.9,1.79-1.41.67-3.36,1-4.82L118.56,394,116,396.21c-3.26-2-3.15-5-3.08-6.73l-2.85-6.17.87-.8-.73-.81L111,379h-9.09l-2.45,2.72-1.74-1.41c2.41-2.74.86-5.93,1.38-8.89-2.54-1.49-2.38-5.83-6.59-5.39-1.33,1.72-4,2.73-3.53,5.86l-3.86.22L80.27,379h-2L74,386.13l.89,1.49L73,389.44c.09,1.4-.6,3,1,4-.94.94-1.84,1.94-2.85,2.8-.44.38-1.27.35-1.65.76A11.75,11.75,0,0,0,68,399.41c-1.39,2.55-1,5.35-1,7.7l-2.17,4.24c-4,2.82-7.13,5.39-7.63,9.59l-1.76,3.39-2.56-1.46-1.35,2.36-8.68-2.42-2.68,2.24c-3.48-.88-2.49-4.63-4.71-6-1.73,2-4.1.37-5.18.77l-5.58,2.87-2.3-.65-3.5,2.5L20,430H19l-4-4.15-1.11-3.72,1.93-3.67-4.23-5.51-.5.42-3-1L12,408.47c.24-2.77-.06-5.36,0-7.95,2.71-3.07,2.75-3.36,1.45-9.58-3.82-1.8-6.74-7.23-11-14C2,373.66,6,374.24,6.06,371.37L1,367.08c0-1.65,0-3.48,0-5.3C.94,361.5.33,361.25,0,361Z" />
			</g>
			<g>
				<path d="M252,412v-1l.83-.33L252,410v-4l2.74-2H252v-2l1.43-.83,2.15,1.05c.3-.85.34-1.58.72-2a20.11,20.11,0,0,0,5.92-11.92c.06-.55.69-1,1.05-1.55l2.12,2.12c1.15-.36,2.79,1.22,3.6-.89l2.95-3,2.48-.19-1.26-2.3,2.19-4.25,16.05-1.46,3.64-2.44,1.35-5.26a19.91,19.91,0,0,0,5.68-9.67c.06-.21.52-.3.87-.5l1.78,1c3.26-1,6.51-1.57,9.28-3.47l-3.62-4.86.93-3.57,2.75-1.65,7.67-1.51V340h-2.29l-1.55-3.16c.45-.74.81-1.25,1.09-1.81s.54-1.23.76-1.73l-.59-.8c.93-2.88,5.62.11,5.86-4.08l-4.35-3.67,2.26-1.36,5.14,2-1,1.07,1.49,2.62,4.24-1.4L331,324.18v-4.27l4.94-7.48c-3-2.64,2.12-4.65-.09-7.39,1.89-.63,3.67-1.76,5.37-1.65a10.44,10.44,0,0,0,5.07-1.07l2.73.78,3.87-2.64-.87-1,.87-1L351,296.22l2.45-4.4c2.56-4,5.13-8.34,10.37-9.53l.68.68c1.9-1.77,4.85-1.82,6.53-4h2l.91,1.56c-1.86,1.78-.46,4-1,5.88a38.59,38.59,0,0,0,3.34,3.29c3.66,2.83,4.72,5.17,3.24,9.14a9.12,9.12,0,0,0-.34,6.18c1,2.44.79,4.76.77,7.12a9.73,9.73,0,0,0,1.37,5.5l1.89.88-3.37,6.71,4.27,5.79-1,1.47c1.91,3.93,1.91,3.93,3.78,5l-1.08,11.1,2,4-.78.78L392,360v4c-1.9,1.63-2.13,4.38-4.17,5.66,1.47,3.22,1.27,3.15.43,5.63-1.77,5.18-6.16,8.9-7.61,14.34-.48,1.81-2.9,3.09-4.41,4.64-.19.19-.17.59-.26,1l.95,1.41c-.32,1.28-1.26,2.9-.8,3.59,1,1.56.84,3.08.85,4.66a4.74,4.74,0,0,0,.92,2.64c.7,1.13.58,2.74,1.14,4,1.1,2.45-.77,4.73,0,6.74-2.67,4.13-4.75,8.09-5.29,12.56a6.78,6.78,0,0,0-5.55,5v3.76l1.89,2-2.78,5.62c1.48,3.72,2.46,7.06,1.34,10.58-.32,1-1.32,1.8-2.68,3.57-.74,2.58-.25,6.73-2.91,10.26,0,1.08.54,3-.11,3.59-1.61,1.36,0,2.57-.36,3.6-.51,1.35.72,2.12.57,3.37s-.75,3,.75,4.13c-1.4,1.1.45,2,.12,3.23l-1.42,1.26a2.52,2.52,0,0,0-.63-.41c-.24-.08-5.86-1.33-6.06-1.44l-4.64-2.42L349.58,483h-3.53L343.67,480H336.6l-1.71,1.45c.54,2.38-.78,4.93.4,6.36l-1.68,3.08-5.9-1.49,1.36-6.9a13.36,13.36,0,0,1-1.49-1.53,25.12,25.12,0,0,1-1.44-2.54c-2.7,2.59-5.94,2-8.84,2.71l-1.48,3.26-4,1.64A11.17,11.17,0,0,1,310,495h-4l-4.5-5.21H299.3l-1.77-3.92-4.42.77c-1.49-1.29-1.67-4.07-4.23-4.65-1.89.86-5.25,1.45-6.44,1.06-1.15,1.1-2.21,2.86-4,1.77.2-1.33.29-2.54.59-3.69s1.21-2.13,1.07-3.59c-.1-1-1.65-2-.25-3.06l-.85-1.29,3.24-4-4.28-3.7v-3.4a39.92,39.92,0,0,0-4.65-3,6.7,6.7,0,0,1-2.45-2.49c-1.57-2.06-.27-4.18-1-6.23-3.54-4-2.77-10.05-6-14.24l-3.39-.18a7.1,7.1,0,0,1-2.4-6.39l-2.13-2.13c.84-4.18-.69-7.94-3-11.27.71-1.49,2-2.63.62-4.12Z" />
			</g>
			<g>
				<path d="M224,170v-4c2.31-.63,0-3.1,1.56-4,2.45.9,4.88.17,7.33.14,3.06,0,5.05-2.64,7.88-2.24,1.45-3.71,1.52-3.74.21-6.37-1.82-3.64-3-7.18-1.08-11.28.64-1.34.1-3.24.1-4.75l-3-3a5.78,5.78,0,0,1,.95-4.05c-1.9-1.62-.65-3.57-1-5.22l1.83-.61L236,119.09c.17-2.43.19-5.3-2-7.67-.25-.27-.08-1,0-1.46a3.21,3.21,0,0,1,.36-.84l2.3,1.32,1.81-4.27c2.44-.43,4.8-.74,7.08-1.33.59-.15,1-1.2,1.43-1.84h3c1.35,1.68,1,3.64.95,5.55-2.72,4.6-2.72,4.6-.45,7.3l7.66.67,4.4,6.68,6.54-1.14,3.19-3.31.4.69,6.09-2.07c.85,1.42,1.91,2.17,6.72,4.59l.88-.78,2.48,1.11c.11-2.6.32-4.88,3.57-4.23l2.44,2.12h3.35l-1.05,2.6,5.54,2c2.55-3.68,3.6-4.43,8.44-6.31l4.08.65-.78-3.27L318,112l2,.13-.13,2.56-1.86.74c-.44,4,3.52,4,5.06,6.3l-2.17,5.22-4.29-2L308.46,129l-2.63,5.24.82.9-3.05,9h-5.1l4,6.91h3.18l1,2.42-.92,1.74a10.57,10.57,0,0,1-2.65.67,18.2,18.2,0,0,1-3-.66l-.65.68c-.54-.09-.59-1.31-1.61-.46.33,2.12,2.44,2.9,3.44,4.44,4.87-.12,4,4.61,5.75,6.54l4.78,2.63v2.22l-3.18,2.34,5.56,8.53h4.88L318,183.48l.91,1-.88,1,1.21,1.49-2.84,1.62c1.28,2.52,2.18,4.77,1.31,7.13l-5.07,3.83,2.45,4.26,4.86.34c0,.51.06.71,0,.84-.94,1.78-1.92,3.53-2.84,5.32-1.41,2.75-1.39,2.76-.15,6.1l-1,1.06.89,1-.88,1.08,3.77,1.74A11.28,11.28,0,0,0,325,228a4.9,4.9,0,0,1,1.54,1.07c1.92,2.52,3.76,5.1,5.55,7.54l6.53,2.06c3.37-1.33,6.68-3,9.6,0l3.38-.85L356,245c0,.91.36,2.24-.09,3.2-.58,1.24,2.16,2.14-.28,3.44l5.58,5.52,1.35-1.14.94.94,3.76-3.75,1.71,2.28-1.06,1.06c2.34,1.08,2.11,4,4.09,5.41v2c-2.48,1.69-2,4.21-1.95,6.7L372,272v5l-8.54,5-.59-.62c-5.35,1.15-7.24,6.08-10.86,9.09l.65.72-3,5.74,2.37,2.84-3.58,2.12-1-.85-1,.9-.9-.74-3.23,1.66-.82-.82-1,.93-1.33-1.17c.1,2.69-3-.17-3.16,2.21h-1c-1.35-1.33-2.74-2.62-4-4s-2.38-2.77-3.52-4.13l-7.57,3.55-2.45-3.31,1.61-3.36c-1-2.09-4.16-1.48-4.05-4.15,1-2,5.16-1.59,3.88-5.23l-4-4L310.75,278c-1.92.79-3.35,2.72-5.78,1.58l.28-.32-.66-2.41-1.33,1.33-2.73-3.49-5.37.84-3.33-1.73c-1,2-4.68.15-4.87,3.51l.82,1.1c-3,1-5.85,1.85-8.58,2.91a2.12,2.12,0,0,0-1.23,2.46c.06.35-.25.76-.41,1.22l-3-3-1,.91-1-.88-2.41,2.13-3-3.2-2.69-2.9-4.65,1.12-4,4v1.65l-1.2.09c-2.12-3.7-1.54-7.72-1.57-11.16l2.59-3.69,7.59-3.72c.24-1.59.49-3.45.8-5.3s.67-3.72,1-5.58c-3.77-3.6-6-7.66-4-12.56a44.53,44.53,0,0,0-3.19-4.62c-1.7-1.9-3.46-3.7-6.15-4.43-3.76-1-6.83-3.68-9.24-6.36s-3.74-6.77-6.13-9.88c-.4-.51-.47-2-.12-2.23,1.18-.85-.25-1.88.11-2.14,1.71-1.23-1.18-1.76-.39-2.91.1-.15-1.24-1.42-2-2-1.64-1.27-3.36-2.44-5-3.65v-4.43L223.95,198c4.12-1.86,2.81-6,4.92-8.47l-1.65-3,1.63-3.18-1-1c2.81-.3,3.31-2.57,4.13-4.57C228.93,172.61,228.6,172.63,224,170Z" />
			</g>
			<g>
				<path d="M374,260h-2l-2.06-2.8v-2.81l-.72.66-2-3.77L363.49,255h-3.2L357,250.54l.72-.8-.87-3,4.92-6.31-1.21-2.34h-4.31l-1,4L352.4,237h-4.58l-3.21-1.65c-1.82.61-3.43,1.59-5,1.58a51.6,51.6,0,0,1-7.66-1.15l1-1.25c-1.73-2.19-5-3.21-5.23-6.06l-4.45-2.83-2.58-5.34-3.5-1.59c.91-1.74,1.52-3.45-.12-5.14,0,0,.16-.22.8-1.12l2.57-6,2-1.49-2.93-2.45-3.27.65-2.16-3.74,3.55-1.61,2.1-4.3-1.83-3.54,1.92-3.49v-5l-.77-.77a19.55,19.55,0,0,1-5.33-1.06l-3.05-6.09,2.07-1.64v-3.88l-4.24-2.12-3.9-6.6L300,158v-1h6.58l1.37-4.23L306.56,150H303.8c-1-1.32-1.84-2.27-2.55-3.3a4.38,4.38,0,0,1-.28-1.49l2.87-.42-.43-.53,3-1.81-.78-.52,2-5.6c-.13-.92-.71-2.2-.32-3a25.63,25.63,0,0,1,3.08-4.22c2.85.31,4.21-2.61,7-3.17,1.1.87,2,3,4.28,1.87.61-2.49,3.09-4.46,2.13-7.5-2-.75-4.24-1.39-4.6-4.22.91-.56,1.84-1.11,2.74-1.7.08,0,0-.32,0-.48l-.59.57-1.87-3.35-2.55-.3c0-2-.35-3.94.1-5.63s.7-3.38,1-5.08c.28-1.54,1.51-2.91,2.43-4.56,1.41.6,2.45,1.47,3.37,1.36,4.13-.49,6.52,1.69,8.41,4.89.06.11.27.13.81.35l7.67-4.87v2l4.38,2.92c.83-.23,1.88-.54,2.94-.81,1.95-.5-.46-1.56.36-2.56S350.36,96.6,350,95h4l.33.83L355,95h3l2.39,5h-4.3l-.14,2.75,7.05,4.53-1,1.65,1.94,1.94-2.27,5.66a12.86,12.86,0,0,0,8.73,2.52l2.86,4.15c-1.67,4.46-4.88,8.16-6.92,12.1l2.15,5.55L366,142.32c0,2-.57,3.9.14,4.9,1,1.33-.17,2.61.72,3.94.69,1,.14,2.9.14,4.4v5.34l-2.22,1.66L366.5,166h5c.48,2.47,2.24,3.28,4.71,3.12l-.87,3.8L377,174.3c2.84-2.73,5.84-3.12,9.06-.72-.75,2.51,1.26,3.16,3,4v3.51l3.1,5-1.29,2.18,3.22,2.77,2.69-.67c2.45,3.11,6-2.15,8.84.59,2.33-.89,4.93-.54,7.21-1.57l.59.53,2-1a2.53,2.53,0,0,1-.53,3.78l-4.22-.83,1.69,6.38h2.76c.75,2.16.36,4.25,2.48,5.88h4.09c.21,2.14,2.11,2.1,3.28,2.93v2c-2.4-.06-4.82-.25-6.94,1.45v1.77c-2.41,3.75-7.56,4.67-9.16,9.22v4.49h-5.51L402,228l-10.69,1.28-6.51,3.34v2.44c-1.25-.78-2.21-1.7-3.33-2s-2.65.05-4-.11c-1.07-.13-2,1.5-3.09.17l-1.21,1.15c1.77,1.24,4.18,2.12,5.19,3.83a14.75,14.75,0,0,0,7.59,6.34,6.36,6.36,0,0,1-3.38,6.23c-1.85,1-2.92,2.52-4.45,3.66-1,.75-2,1.48-3.16,2.31Z" />
			</g>
			<g>
				<path d="M366,164v-2l2.76-3.1c-.31-1.18-.6-2-.75-2.94-.41-2.5.91-5.21-.94-7.54,1.88-1.11-.78-2-.12-3.22a29,29,0,0,0,1.31-3.94,6.58,6.58,0,0,1,.82-1.33L368,135.45l7-12.67-4-5.43c.83-2.62,1.65-4.94,2.25-7.37s2.39-4.78,1.93-6.83l2.73-6.82-.57-.6c1.21-3,2.89-5.69,2.74-9a15.61,15.61,0,0,1,3.62-11c.62-.76,1.62-2.09.54-3.41,1.84-.5-1-1.9.47-2.47.17-3.38,2-6.13,3.05-8.26a10.77,10.77,0,0,1,2.51-8.36l8.66-1.28c3.07,3.43,5.87,5.26,9.64,5l2.09-2.09h3.35l5.12-3L421,53.06V51h2c.23,1.92,1.95.47,2.82,1.32l1.62,6.9,5.93,3.64c2.81.36,5.27-.19,7.64.39v7.28c2.87,1.86,6.88,1.64,8.85,5-.26.47-1,1.2-.8,1.5,1,2.06-.13,5.31,3.4,6.09.65.14,1.17,1.42,1.51,2.27.59,1.48,1,3,1.62,5l2.08-6a12,12,0,0,0,.37,2.8,7.87,7.87,0,0,0,1.25,1.67c1.69-.48,2.74-2.31,4.77-1.53l-2.26,8.1L465,98c3.07-.38,6.77.87,9.76-1.39,1-3.13,3.69-3.89,5.95-4.95l2.67-4.9-.38-.23,3.48-3.5,1.92,3,.82-.82,7.73,3.4c.24,3-.84,6.61,2.3,9.08,2.64-.89,5.34-2.57,8-1.56,1.32.5,2.56,0,3.89.66s3.56.16,4.69.16c2.84-1.18,4.83-2.45,5.55-5,3.71.5,3.59-2.84,4.54-4.36,5.42-2.83,5.46-8.62,8.72-12.58,4.35-1.86,6.1-6.62,8.89-10.27a8.06,8.06,0,0,1,2.17.5c2,1.23,3.81,2.84,5.93,3.77,1.87.82,2.91,3.1,5.28,2.9v4c-2.77,3.38-5.58,6.76-5,12l-2.55,1.73,3.06,6.4-1.08,2.19-2.05-1.17-10.79,3.71L536.49,103h-1.08l-3.29,2.37v3.44l3.71,2.51-4.31,8.57c-3.21,1.23-6.93,1.66-9.69,4.79l.84,4.46-2.9,1.11L516.89,127c-1.48,0-2.47,0-3.46,0-.12,0-.24.22.15-.16-.66,2.09-1.59,3.61-1.47,5s-1,2.69-.53,4.32c.32,1.09-.36,2.57,0,3.84.5,1.6.83,3.11-.33,4.16.82,3.69,1.57,7.31,5.3,9.58-2.32,3-1.36,6.12-1.65,9.15-.08.84,1.57,1,.41,2.37-1,1.17-1,3.21-1.35,4.88s-.63,3.39-1,5.07c-.36,1.5-.43,3.34-1.36,4.38-1.34,1.51.41,3.77-1.59,4.85.84,1.28.36,2.54.11,3.89s-.73,3,.83,4c-1.52,1.35-1.28,2.73.23,4.44l-2.46,1.64,1,3.18-3.84,3.37h-6.18l1.24,4.33-3.15,4.65v4.65l-2.52,1.06-.88-.88L491,224h-1c-.82-2.32-1.21-5-2.59-6.88s-3.78-3.24-5.9-5l2.43-2.71-5.2-4.43-1.55-.17c-1.57-2.56-3.11-5.2-6.17-6.36a2.58,2.58,0,0,1-1-1.06c-1.1-1.7-1.78-4.07-3.33-5-2.06-1.22-2.41-3.69-4.42-4.71-.19-.1-.18-.57-.33-1.11l1.22-3.69a28.7,28.7,0,0,0-12.42-10.29c-1.26,1.55-2.15,3.4-3.63,4.26-2,1.18-2.57,2.82-3.49,4.73s0,3.56-.87,5.14c-7.05,8.41-7.05,8.41-10.77,9.18-1.76-1.72-3.19-3.66-5.09-4.85-2.18-1.37-4.77-2.09-7.18-3.09-1.56,1.8-3-.4-4.69-.11-1.86.33-3.49,1.78-5.56,1.13-1.53-.48-2.89.84-4.72.15-1.51-.57-3.6.35-5.4.61l-.92-.68-.88.88-1-.93-1.24,1.09-.44-2.89-1.81-.62c.22-2.2-.85-3.79-2.13-5.21-1-1.13-1.43-2.16-.35-3.44a5.06,5.06,0,0,0,.43-1l-4.11-1.55v-3l-4.27-2.19-5.29,2-.45-2.85c-1.33-1.66-4.18-1.59-4.13-4.34a25.47,25.47,0,0,1-3.6,0A19.68,19.68,0,0,1,366,164Z" />
			</g>
			<g>
				<path d="M578,207h-1l-.33-.83L576,207h-1V203.6c-1.61-2.2-3.11-1.86-4.56-.8l-1.4-2.36c1.71-.53-.32-1.69.39-2.44.18-.19,0-.67.06-1-2,.8-.86-2.34-2.5-2l-1-1-3.67-2.63c-1.73,2.72-3.78,1.66-6.1.23l-1.75,4.52-4.94-.87c-2.35,2.33-4.76-.56-6.54-.46l-3.72-3.45c1.15-2.89.83-5-.94-5.16-.23.23-.46.48-.71.69-.06,0-.23,0-.69-.16v-3.58c-2.43-.25-4.47-.26-6.39.85-.32.19-.9-.08-1.39-.14l-.27-2.4L525,180c0-2.06.13-3.72,0-5.34s-.24-3.62-1.08-5A5.86,5.86,0,0,1,523,166a8.59,8.59,0,0,0-1.39-5.9c-2.77-.2-2.77-.2-4.31-1.58.24-1.73,1.05-3.57.54-4.9-.76-2-2.44-3.65-4.15-6-.17-.39,1.25-2-.71-2.61v-1a3.44,3.44,0,0,0,0-5v-1l.83-.33L513,137v-1c.33-.43.85-.82,1-1.3.53-2.25.94-4.52,1.51-7.33l4,3.49h4.11c2.57-2.09,1.18-4.17.26-6.1l4.14-2.87h6.82l1.8-3.14,7.65,1.05,2.22-2.74c3.4-.3,6.36.06,9,1.79a7.58,7.58,0,0,1,1.58-.83,13.16,13.16,0,0,0,6.93-4.71c-.31-4.19,3.95-4.92,5.76-7.51a2.51,2.51,0,0,1,1.64-.77c2-.23,3.45-1.43,4.87-2.76a21.55,21.55,0,0,1,2.9-1.93l1-5.43-2.58-2.86-3.72,3.22-3-4.29c1.16-3.56,1.16-3.56.15-6.26l4.28-9.35c2.81-1.45,5.27-3.15,8.57-2.13l1.51,2.56c1.77.67,3.43,1.93,5.27.94,2.46-4.26,7.72-3.73,11.14-7.07-.43-3.23,2.22-4.35,4.58-5.36l4.15,1.44a8,8,0,0,1,2-.72c1.31-.14,2.86.38,3.94-.15,3.43-1.68,7-2,10.71-1.93.26,0,.53-.62.79-1h1l.33.83L630,62h6l.33.83L637,62h1c1.85,2,4.43,1.73,6.76,2.23a11.74,11.74,0,0,1-1.32,4.8c-.32,0-.75-.14-1,0a18.71,18.71,0,0,0-1.57,1.53c.88,3.49,2.54,6.4,5.38,8.06A11.47,11.47,0,0,1,650.06,82c1,1.44,2.72,2.4,3.8,3.29v4.32c-2.73,2.51-4.25,5.61-6,8.64A4.9,4.9,0,0,0,648,104c-1.54,3.6-3.42,7.19-.74,10.6l2.91,1.45,1.07-.73c2.5.25,4.53.58,6.57.62,1.41,0,2.48.31,2.93,1.37l-1.48,4.28c1.87,2.81.43,5.4-.68,7.17l2,3.49c3.12-1.74,4-2.5,5.37-4.46,1.11.91,1.92,2.11,3.1,3s1.58,2.58,2.27,3.82a8.27,8.27,0,0,1,2.28,1.63,7.46,7.46,0,0,1,.67,2.56l3.51,1.52c.24.57.48,1.13.7,1.71s.4,1.06.52,1.37l-1.12,1.5,4,3.65c.55,1.25-.88,2.89,1.09,3.49v1l-5.2,5.23.8.92c-.37,2.59-1.07,5.06-3.32,5.75-3,.92-4.69,3.3-7.11,5.32h-7.09l-.19,2.68c-2.21-1.44-4.44-.69-6.52-.93-1.61,2.14-2.9,4.43-2.24,6.73s-.43,3.66-.46,5.59l-5.79,2.32c-2.43,2.82-3.55,6.78-7.91,8.93l.72-3.31c-1.71-3-1.71-3-.84-4.67L632.55,181c-2.46.16-4.5-.24-6.54.92-1.14.65-2.83.11-4-.9-1.33-1.4-3-2.63-3.92-4.25s-1.25-3.64-1.94-5.83l3.83-1.38-.94-1,1.16-1.26c-.65-1.15-1.31-2.35-2-3.54a4.32,4.32,0,0,0-.62-.69h-2.73l-4.33-2.93c-1.24,2-1.45,4.51-4.25,5.33-1,.28-1.55,1.89-2.24,2.94s-1.26,2.13-2,3.4c-.16,1.94.57,4.28-1,6.26a9.35,9.35,0,0,0-1,1.28c-.79,1.48-1.14,3.55-2.36,4.38-3.13,2.15-4.21,5.44-5.61,8.54a88.11,88.11,0,0,0-4.31,11.53c-1.52.29-2.75.24-3.65.76a11.9,11.9,0,0,1-5.75,1.7C578.22,206.18,578.11,206.7,578,207Z" />
			</g>
			<g>
				<path d="M613.48,329.48h-3l-1.89-2.57c-2.82,3.75-5.31,0-8,.53-.12-5.19-2.49-8.62-6.54-10.62l-5.11,3-4.41-2.55c-.24-1.68.54-3.55-1.88-4.87l-4.08.66c-1.57-1.62-3.28-3.61-6.15-3.63l-4,2.61,1.31-8.86-3.15-3.15-.19-2.3-2.36-.82,2.12-6.32L564.56,289l.87-1-.61-.68c.72-4.62,4.26-6.41,7.89-8.07l-1-1.14c1.35-1.67.67-3.52.84-5.9l-2.4-1.25,2.24-.79-3.19-6.38c-3.47-1.63-5.18-4.59-7.15-7.46l-5,.75-.91-1.59c-3.56-.08-7,.63-9.65-2.61.58-1.38-.37-3.31-1.55-3.23-2.75.17-3.36-2.44-5.3-3.19L532.32,250l1.18,3.93-1,1,.9,1-2.14,2.14.95,7.08-1.17.92-2.76-3a22.43,22.43,0,0,1-7.79-2.2,43.15,43.15,0,0,1-5.21-3.56c-2.14.59-4.34,2-6.49.83l-1.22-2.32.83-.91-.79-.94,1.17-1.92-3.07-2c-.92-4.14-3.32-7.24-6.22-10.05l.73-.81-1.18-3.66c-2.2-2.11-4.84-4.49-6.07-8-.17-.48-1-.72-1.51-1.08v-1c2-2.64,3.94-5.29,7.62-5.08l1.16-2.45c-2.2-3.44,1.31-5.1,2.31-7.73l-1.12-3.71h6.83l3.5-5.16-1.65-1.8,2.59-1.63-1.34-2.68c1.69-.74-.62-2.62,1.09-3.28-2.19-.88-.27-2.33-.38-3.48s-.65-2.17.07-3.16c.9-1.23-.2-2.8,1-4.13.84-1,1-2.56,1.35-3.9s.68-2.72,1-4.08.68-2.72,1-4.08.59-2.73.9-4.16c-1.3-.82-.84-2.23-.89-3.5h4a95.6,95.6,0,0,0,2.07,9.64c1.06,3.32.84,6.68,1,10.42l3.91,1.39.16,2.25,3.49,1.42.77-2.16,1.13,1,.42-.37,2.25.78-.3.3.54,2.46,1.14-1.14,1,1.2-.69,4.68c3.07.1,3.11,2.23,3.33,4.2l1.59-1.09,6.56,2.51.82-2.13c2.11,1,3.86.59,5.59.64l.55-3.27,2.9,1.41,3-2.55,6.87,5.68-1.08,1.48,1.49,4.41,3.49-.87a10.78,10.78,0,0,1,1,2.06,20.17,20.17,0,0,1,.3,3c2.35-1.49,4.66-.31,6.79-1.23,2.54-1.1,5.26-1.77,7.85-2.61a11.71,11.71,0,0,1,.45-2.28c1.51-3.7,3.12-7.36,4.62-11.07a27.85,27.85,0,0,1,3.12-5.7,20.08,20.08,0,0,0,5.9-11.45c.3-3,1.94-5.5,3.38-7.62l3.12-1.53,1.93-3A4.42,4.42,0,0,0,616,164.4l2.95,3.55-4.18,2.49-.83-.93-.47.47c2,5.9,4.24,11.65,10.6,14.32,4.63-1.8,4.63-1.8,8.24-1.44.19,2,2.17,2.74,3.15,4.28V191l1.66,1.66-.82,3.68h4.1c.6-1,1.32-2.21,2.09-3.39,3.18-4.85,3.26-4.89,8.47-6.23l2.08,6.67-.76,1c1.8,4.44,5.88,6.83,8.68,10.22h5.09l1.54,4.49,2.45,1.31.92-.83.9.75,3.68-1.89,3.54,2.53a12.39,12.39,0,0,0-.6,2.45c-.05,1,0,2-1,2.59,1.25.73.42,1.33.06,2.19a7.57,7.57,0,0,0-.08,2.83l2.1,2.1c-1.89,2.5,2.74,5.12.29,7.61l2.26,7,6.38,1.22v3.36c2.91.51,5.8.61,8,2.71l-1.11,1.27,4.48,5.3a7,7,0,0,1,5.45,2.23,6,6,0,0,0,2.17.74v4c-1.18.36-2.06,1-2,2.37a6.51,6.51,0,0,1-2,5.17c-.43.43-1,1.07-.94,1.57.23,3-2.14,2.71-3.8,3.11,1.15,2.88.8,6.39,3.55,8.07v8c-2.64-1.78-2.56,1.41-4.18,1.91-1.26.39-2,2.52-2.83,3.72L692,290.71c-1,.55-1.81,1.05-2.67,1.41a9,9,0,0,1-1.84.36c-5.14.91-8.21,4-9.3,8.59l-7.24,2.51-1.18,2.19a8.87,8.87,0,0,1,.68,2.81c-.31,2.64-3.43,1.19-4.4,2.74l-9.1-4.68h-3.86l-2,2.84a21.78,21.78,0,0,0-2.72,0,25,25,0,0,0-6,1.1c-1.11.45-1.63,2.18-2.64,3.09a43.94,43.94,0,0,1-4,3l-3.84-2c-1.32,1.31-2.57,1.22-4-.39l-5.45,5.46c-2.16-2.94-4.39-.66-6.76.1-.36,1.31-1.41,3-1,3.91a6.35,6.35,0,0,1,.73,4.18Z" />
			</g>
			<g>
				<path d="M599,362v1c-2.14.78-.76,2.54-.92,3.8s-.36,2.47-1.76,3.12L591,365.32l-5,1L583.69,370c-2.16,0-4.17.19-6.14-.94s-3.36,2.09-5.42.63-4-.45-5.8-.64l-1.43,3.26L557,378.46l-4.5-4.5-2.93,4h-2.77l-4.9,3.52,5.31,4-4.08,1.85-.48,2.79L541.43,389l-2,2h-4L533.5,393c-.89-1.39-2.32-.82-3.56-1a31.27,31.27,0,0,1-3.48-.93L525,392.46l1,1.08c-3.18,7.29-3.18,7.29-6,9.43h-4c-1-3.58-5.37-2.44-6.67-5l-6.94,1.2-4.58-5.89-4.41-1.49-1.57-3.31c-1.89-.84-3.43-1.54-5-2.2a1.91,1.91,0,0,0-.7,0l-.39,3.86-9.85-3.56,2.08-6-2.74-1.75a15.43,15.43,0,0,0,.73-2.91c.1-2.49-.68-5.29.21-7.41,1.59-3.77.41-7.44.69-11.12.08-1.06-.71-2.17-.83-3.28a7.59,7.59,0,0,1,.84-4.13c.57-1.23.72-3.39,0-4.34-1.45-1.9-.52-3.82-.88-5.67a4.7,4.7,0,0,0-.34-.85l-1.5-.39v-4.53l3.21-2.18-1.55-3h-3.68L467.29,336a9.6,9.6,0,0,1-2.91,1c-1.08,0-2.16-.56-4-1.09L462,337.6c-2,1.28-3.25-.69-4.5-.84l-2.23-3.23-1.2,1.74c-3.1,1.79-3.45-1.05-5-1.29-4.71,2.87-7.53-1.1-10.71-2.88H432.3l-.67,1.91-1.82-.25a53.58,53.58,0,0,1,2.23-5.62,14.34,14.34,0,0,0,2-8.68,24.5,24.5,0,0,1,0-3.42c-1.23-3.19-3.73-5.37-2.8-8.85l4.48-1.55-3.22-5.47-2.18-.9-.87.64-1.06-2.17L424.69,300l1.09-10.88a3.87,3.87,0,0,0-3.72,1.2c-.95.83-2.47,1-3.67,1.44-2.58-1.23-1.37-6.36-6.07-5.73l-4.13-4.88h-4c-1.72.89-2.71,1.35-3.65,1.89-2.42,1.39-4.85,2.77-7.23,4.24-1.45.9-2.8,2-4.28,3l-2.6-2.3c-.31,0-.5-.06-.64,0s-.5.44-.79.51c-2.62.67-5.17,2.71-8,.48l-1-1-2.24-1.76,1.36-7.31-2.17-1.34v-6.28L371,270v-4c.67-.63,1.73-1.16,1.9-1.9s-.35-1.94-.58-2.94c1.8-.17,3.58-.24,3.75-2.79a3.75,3.75,0,0,1,1.47-2.34c5.34-4,7.52-6,10.32-10.43L386.54,243c-5.87,0-6.29-5.78-10-9,3.22-.16,5.36,1.22,8,2l2-2.93c3.39-1.38,6.5-4,10.62-3.18.23,0,.57-.23.8-.43,1-.87,1.93-.68,3.1-.1a9.5,9.5,0,0,0,3.27.52c.19,0,.42-.35.4-.34l-.72-2.79h7.15l-1.21-3.39c1.21-5.26,6.42-6.43,9.26-10.31v-2.26l6.71-1.26v-2.92l-4.81-3.8h-2.89l-1.93-3.29,1-2.68h-4.16v-2.86c3.11.39,4.08-1.39,4.08-4,.65.27,1.34.77,1.55.61,1.75-1.26,3.1-.38,4.87.21,3.49,1.16,5.38,4,7.9,6.1h3a12.93,12.93,0,0,1,1.82-1.78c4.79-3.14,6.1-5.4,7.75-11.23.72-2.55,1.16-5.85,4.83-6.23l.13-2.12L451,174h1c.26.33.45.79.79,1,3.79,2.07,7.22,4.52,9.12,8.67-.91,1.9-.91,1.9-.52,5.07a5.67,5.67,0,0,1,1.59.95c2.06,2.6,4,5.3,6.1,7.85A20.67,20.67,0,0,0,472,200l1.86,1.53c.95,2,1.35,5.08,4.85,4.66l1.4,3.08-1.59,2c2.89,2.19,5.43,4.52,8.48,6.21,0,1,0,2,0,2.78a47.86,47.86,0,0,1,3.48,5.77,24.29,24.29,0,0,0,7.64,10.38v3.63a61,61,0,0,1,4.36,6c1.28,2.32,2.31,4.78,4,6,.08,2.66-.73,4.82.69,6.57l3.45,1.06,4-1.55c1.82,1.84,3.63,4,6.75,3.84,2.61,2.28,7.31,1.62,8.19,6.7l4.87-4.61L532,261.45a8.45,8.45,0,0,1,0-2,8.22,8.22,0,0,1,1.1-3c1.62-2.1,1-4.09,0-6.38l6.77-2.89,1.44,2.5,3.6,1.72.17,3.1,5.65,2.26.72-.72,1,.91,1.56-1.17,3.08,2.51,3.46-1.45c1.24,1.65,2.15,3.87,3.79,4.8,1.94,1.09,3.12,2.72,4.32,3.6l1.26,4.19-2.29,1.75,3.25,2.09a6.39,6.39,0,0,1-1.76,6c-.66.7-2,.76-2.81,1.05-.47.8-.85,1.46-1.25,2.12-1.16,1.94-3.34,3.6-1.15,6.28a2.92,2.92,0,0,1-.1,2.83c-1.52,1.66-.41,3.44-.91,5.07,2.83,1.22,1.29,5.77,5,5.75.7,3.47-1,6.28-2.06,9.46h5l.74-2.38,6.57,4.67c1.07-.35,2.22-.78,3.41-1.08a4,4,0,0,1,1.41.19v2.64l-4.23,3.49,1.41,8.15c-1,.51-1.9.7-2.27,1.26a8.41,8.41,0,0,0-1.41,3.38c-.34,2.54-.38,5.12-.52,7.5l7.5,2.94,8.76-1.61v5l2.07,1.64v4.54H598c0,3,0,5.78,0,8.58C598,361.12,598.64,361.55,599,362Z" />
			</g>
			<g>
				<path d="M363,477q0-.5,0-1c.28-.12.79-.2.82-.36.19-1.11.18-2.25.42-3.34a27.53,27.53,0,0,1,1-3.07c.35-1,.41-2.54,1.12-3,1.48-.87-1.47-2.08.41-2.58-.44-2.36,2.57-3,2.52-5.41,0-1.6.92-3.22,1.37-4.63l-2.33-5.8a13,13,0,0,1,.68-3.14,18.57,18.57,0,0,1,2.21-2.75l-2.56-3,1.7-5.21,4.57-2.24a14.28,14.28,0,0,0,.19-3L380,418.26a3.87,3.87,0,0,1,.08-2.32c1-2.07.41-4-.16-5.85-.9-2.85-2.19-5.56-2-8.67,0-.46-.71-1-1.07-1.41,1.59-2,1.62-3.85.59-5.36l4.74-4.18a18.4,18.4,0,0,1,2.15-6.21c1-1.78,2.59-3.24,3.67-5s.76-4.47,3.05-5.7c-1.8-1.47-.73-3.41-.89-4.27l3.4-7.32c-.33-3.18-2.66-4.46-3.59-6.6-1-2.39-1.83-4.89-3.1-8.34L388,336.19c-2.82-.12-2.88-2.42-3.64-3.47l.7-3.55-3.83-3.55,3.2-7.07L381,315.75c0-1.07,0-1.74,0-2.4a21.74,21.74,0,0,0,.4-4.36c-.2-1.66-1.17-3.24-1.33-4.9a9.3,9.3,0,0,1,.44-4.27,12.16,12.16,0,0,0-.19-8.53c1.34-.37,3-1.19,4.62-1.19a23.44,23.44,0,0,1,5.19,1.05c2.49-1.88,4.44-4.25,6.88-5,2.87-.83,4.78-2.62,7-4.19h4c-.2,2.21,1.32,3.31,3,4,3.25,1.26,5.13,3.4,5.14,7,3.42.3,5.81-1.6,8.54-3.35-.27,1.56-.49,2.69-.66,3.82-.2,1.39.58,3-1,4.07l.93,1L422.72,300c2.11,0,3.82.39,5.11-.94l3.92,1.36,1.65,3.51-3.6,2.72c.54,3,.71,5.88,3.2,7.88,0,2.66,0,5.33,0,7.13l-4.26,9.89-2.92,1.89c2,1,3.73,2.29,6.16,1.23l1.56-2.63h3.33l8.81,4.63c1.77-.28,3.27-1,3.77-.53,2.1,1.87,3.87.58,6-.22,1.71,3.08,5.33,2.63,8.18,4l.61-1.74c4.65-.73,6.12-4.83,8.36-8.19l3,.18-2.41,3.32-.8,4.44,2.43,2.43c.71,2.08-.69,4.26,1.05,6.26a3.93,3.93,0,0,1,0,3.82c-2.2,2.59-.64,5.24-.21,7.59.8,4.47-.15,8.46-1.5,12.67.05.05.5.3.49.52-.11,3.18-.27,6.35-.43,9.53l2.12.75-2.22,5.64c4.49,2.11,8.92,3.69,13.85,3.84v-2h2.52l2,4,4.58,1.49,4.1,4.78c3.06,1.13,4.59,1.14,7,0a57.67,57.67,0,0,0,5.19,2.58c1.73.66,2.26,3,4.14,2.93A14.83,14.83,0,0,1,526,403v3c-2.57.07-3.75,1.44-4.07,4-.1.79-1,1.49-1.47,2.15l-3.83-1.38c-.5,2.6-3.29,2.39-3.9,4l-10.53-2.31c-2.12,3.17-.76,6.89-1.34,10.28-4.15,3.43-4.67,8.34-6,12.9,6.53,2.7,8,3.91,9,7.2-1.38.75-3.43-.59-4.61,1.83v2.88l-.72-.53-2.67,2.55-11.49-4.23-.93.68-.85-.92-.9.81-4.17-2c-1.16,2.8-1.28,3.73-1,7.15a5.86,5.86,0,0,0,4.25,5.27c.17.06.18.57.35,1.18l-1.59,2.05-5.54-2.43-2.83,2.23,3.71,7.21-2,3.53,5.17,1.41,4.34,5.59,1.95-1.84h4.6l.1,1.5a13.18,13.18,0,0,1,1.67.29c.68.2,1.34.52,2,.78,2.29-.94,4.68-.73,7.75-.85-2.23,2.17-1.33,4.12-1.27,6.06h2.27l2.73,6.78,4.53-1.57,1.21,1.21-2.2,2.55c2,3.57,1.08,7.27,1.27,10.79l-3.84,2.42-.45,3.05-5.35-4.08h-4l-2.07,4.3,2.58,4c-4.63-1.58-4.77,1.26-5.52,3.42-1.3,1.31-3.8.8-4.37,3.16h-7c-.56-2.95-.82-6.08-4.52-7.18H469c.14-4.21.42-8.35-3.32-10.54l-9.94,1c-2.17-2.23-4.11-4.5-7.41-4.22a9.11,9.11,0,0,0-1.47.39v3.83c-.94-1.8-2.69.54-3.35-1.23-1.42.47-2.41-.57-3.58-1s-2.62-.86-3.81-1.25l1.12-5.94-2.47-2.74,3.43-5.34L437,483.48c.3-.36.61-.71.88-1.09a5,5,0,0,0-.49-.49c-2,.34-2.87,2.39-4.37,3.51s-3.3,2.44-4.6,3.4h-3.38l-2.86-5.18c-1.44.64-3.07,1-4.19,1.94-1.8,1.52-3.84,2-6.1,2.53.9-4,1.89-7.76,5.05-10.56l-.83-.94,1.29-2.55,3.16-.15,2.23-4.59-6.68-1.56c-.3-5-5.16-5.19-7.69-7.8a10,10,0,0,1-7.22,4.31,8.11,8.11,0,0,0-2.25,6.58l-4.28,7.35,3.18,1.59c-3.71,2.13-1.07,4-.44,6.51,5-2.08,9.35.88,14.48,1.81-1.9,2.38-5.69,2.13-7.08,4.43l-8.41,1.52a49.27,49.27,0,0,1-3.57,3.52A38.6,38.6,0,0,1,389,500a54.6,54.6,0,0,1-3.17-13.9l-6.91-4.1c-2.8.28-6.08-.61-9.2.93-.67.33-1.8-.32-2.73-.46-2.08-.31-2.78-2.15-4-3.47v-1l.83-.33Z" />
			</g>
		</g>
		<g class="occitanie">
		<path  d="M753.3,648.9c-2.3,0-4.7,0-7,0c-1.1-1.4-2.3-2.7-3.2-3.8c-5.4-0.4-10.2-3.2-15.6-1.9c-1.1,1.1-2.4,2.4-3.5,3.5
			c-1.7,0-3.1,0-4.5,0c-0.6-1.8-1.2-3.4-1.7-4.8c-2.8-2.7-7.1-1.8-9.3-4.2c0.4-2.1,0.6-3.8,0.9-5.3c-5.5-2-9.8-5.9-16.7-5.2
			c0,0.1-0.4,1-0.8,2.1c-2.3-2.8-4.2-5.1-6-7.3c-2.7,0-5,0-7.3,0c-2.4-3-5.6-5.1-9.1-5.7c-4-0.7-7.8-2-11.7-3.1
			c-3.3-1-3.3-0.9-6.6,0.6c0,2.7,0,5.4,0,8c-0.5,0.5-0.9,0.9-1.2,1.2c-6.1,0-12.2,0-18.2,0c-0.7-0.7-1.3-1.3-2.1-2.1
			c-4.8,0.4-9.8,0.9-14.5,1.4c-4.4-3.8-8.6-7.4-12.8-11c0-0.3,0-0.7,0-1c0.3-0.4,0.9-0.8,1-1.2c0.1-2.2,0.2-3.3,0.2-5.6
			c1.5-0.1,1-1.4,1.2-2.2c1.4-1.2,2.8-1.2,4.6-1.3c0-1.7,0.1-3.8,0.1-4.5c1-2.2,4.2-2.2,3.7-4.5c0.6-0.5,1.4-1,1.7-1.4
			s0.5-0.8,0.8-1.1c1.4-1.2,0.4-3.3,1.8-4.5c-0.8-1,0.1-0.5,0.6-1.2c0,0.1,0.3-0.5,1.9-1.7c-0.4-2.3-0.3-6.4-0.8-9.1
			c-0.6-0.2-1.2-0.4-2-0.7c0.3-1.1,0.6-2.1,0.9-3.2c-1-1.9-2.5-4.4-3.6-6.6c-2,0-4.9,0-5.8,0c-1.7-1.2-1.1-1-1.9-1.6
			c0,0.2,0.4-2.6,1.7-5.8c1.7-2.4,2-5.6,2-7.8c0-1.9,0-3.9,0-6.2c2.9-0.8,5.4-0.6,8.5-1.5c0.5,0.7,1.2,1.7,2,3
			c0.4-0.5,0.7-0.9,1.1-1.3c0.6,0,1.2,0,1.8,0c0.2-1.2,0.4-2.1,0.6-3.1c1.6,0,3.4-1.1,4.8-1.1c0.2-0.7,0.4-1.3,0.6-1.8
			c3.2,0,6.3,0,9.4,0c0.4,0,0.8-0.6,1.3-0.9c1.6,0.4,2.5-1.1,3.9-1.4c1.1-0.2,2.5-0.9,3.2-0.5c2.8,1.7,5.7,0.5,8.6,1
			c0.5-0.8,0.9-1.4,1.4-2c0.3-0.3,0.7-0.7,1-1c1.3-1.2,2.7-2.3,4-3.5c0.2-0.2,0.5-0.2,0.7-0.3c0.3,0.3,0.5,0.5,0.8,0.8
			c0.5-0.4,0.9-0.9,1.2-1.2c-0.3-1.1-0.6-2.1-0.9-3c0.9-1.3,2.7-1.9,2.2-3.8c0.8-0.7,1.5-1.3,2.5-2.2c-1.5-1.1-2.5-1.8-3.8-2.7
			c1.5-2.5,4-2.7,6.2-2.9c1.5-0.2,2.5-0.6,3-1.7c-1-3.5-1.7-6.5-2.6-9.9c0.3-0.3,0.5-0.7,0.9-1.1c1.7-0.6,2.1-1.4,3.1-3.1
			c0.8-1.7,1.8-2.8,3.5-3.7c0.2-1.6,1.4-1.9,2.4-2.9c0.6-1.9,4.5-2.3,6-4.3c-0.5-0.9-0.9-1.5-1.5-2.7c7.1-2.8,7.4-9,7.4-15.3
			c2.2,0,4.3,0,6.1-0.6c1-0.3,2.5,0.7,3.5,0.4c1.7,1.9,2.7,3,4.5,4.8c0.4,0.4,1,0.4,1.6,0.5c0.3,0.3,0.7,0,1,0.3
			c0.4-0.3,0.8-0.1,1.2-0.5c0.8-0.1,1.9,0.5,2-1c3,0.1,5.7-2,8.8-0.7c0.3,0.3,0.7,0.7,1.2,1.2c0,1.3,0,2.7,0,4.1
			c1.1,1.2,2.1,2.3,3,3.4c0.6,1.5,1.1,3.1,1.6,4.5c-0.5,1.6-1.1,3.4-1.6,5.1c-0.1,0.3,0.6,0.8,0.9,1.2c-0.2,1.5,0.4,2.6,2,3
			c0,0.6,0,1.2,0,1.9c2,0.2,3.5,0.1,4-1.9c1.7-0.3,3.6-1.3,5-0.8c1.9,0.7,3.7,0.8,5.6,0.8c0.9-1.3,2.9-1.8,2.4-3.9
			c0.3-0.3,0.7-0.7,1-1c1.8-2.5,3.8-7.8,4-10.9c2.4,0.4,3-2.1,4.7-3c0.7,0,1.5,0,2.3,0c1.2,1.5,1.9,1.9,3.4,3.7
			c0,0.7,0.6,2.3,0.6,3.7c1.5,0.6,1.4,1,2.3,1.2c0,1.3,0.6,2.8,0.8,4c0,0.4,0.2,1.3,0.6,1.7c0.2,0.8,0,0.9,1.1,2.2
			c0.6,1.2,0.4,0.6,1.6,1c1.7-0.8,1.7-1.4,1.7-2.8c1.8-2,3.2-4.7,3-7.5c0.3-0.2,0.3-0.9,0.5-1.3c0.8-1.8,1.9-2.7,3.5-4.1
			c0.1,0.7,0.2,1.4,0.4,2.3c1.9-0.8,2.9-1.8,3.6-3.3c0.3-0.3,0.7-0.7,1-1c2.6,0.6,3-2.8,5.3-3c2.9,1.6,1.5,5.6,4,7.7
			c2.1,0.4,4.4,0.8,6.7,1.2c0.3,0,0.6-0.2,0.9-0.3c0.2-0.9,0.3-1.8,0.5-2.6c1,0,1.9,0,2.7,0c0.3,0.3,0.7,0.7,1,1
			c1.4,1.5,2.7,3.1,4.2,4.6c0.4,0.4,1.2,0.3,1.8,0.4c1.5,2.3,2.2,6,2.5,9c0.3,2.5,1.6,3.9,3.3,6.4c2.2,3.2,3.5,7.1,5.2,10.7
			c1.5,3.1,4.2,5.1,9,6.6c0.5,0.7,1,1.3,1.5,2.1c1.3-1.2,2.4-2.1,3.5-3.1c1.6,0.2,2.6-0.4,3-2c2.1,0.2,0.2,2.4,1.9,3.1
			c0.8-0.6,1.8-1.3,2.9-2.1c1.3,0,2.8,0,4.3,0c0.8,2.3,3.1,2.3,4.4,3.6c0.9,0.8,1.7,1.6,2.6,2.3c0.3,1.3,0.8,2.7,1,4
			c0.2,1.5,0,2.9,0,4.2c2.4,2.6,4.7,5.2,7,7.7c-0.3,0.3-0.7,0.7-1,1s-0.7,0.7-1,1c-3.2,2.3-5.9,5-7.7,8c-0.6,3.4-1.1,6.5-1.6,9.7
			c-1.6,0.1-3.1,0.2-4.7,0.3c0,0.8,0,1.3,0,1.8c-0.3,0.3-0.7,0.7-1,1s-0.7,0.7-1,1c-0.6,0.4-1.4,0.8-1.8,1.4
			c-0.4,0.7-0.4,1.5,0.8,1.6c-0.8,0.7-1.4,1.7-2.3,1.9c-1.6,0.3-2.9,0.7-3.7,2.1c-2.3,0.9-2.6,2.9-3,4.9c-0.7,0.4-1.4,0.7-2,1
			c-2.7-1.1-3.1-3.8-4.6-6.3c-2.4,0.6-5,1.3-7.5,2c-1.5,0.4-3.2,0.6-4.4,1.5c-3.9,2.9-7.6,5.9-11.2,9.1c-2.7,2.4-5.1,5.1-7.6,7.6
			c-2.9,0-5.6,0-7.7,0c-1.7,1.2-3.1,1.9-4.3,3c-2.1,1.8-4.1,3.6-5.4,6.1c-1.6,3.2-3.3,6.2-5.3,9.9c0,9.9,0,20.5,0,31
			c0.2,2.7,3.8,3.4,4.1,6.6c-4.2-1.9-8.5-1.7-12.2-1c-3.8,0.8-7.2,3.3-10.3,4.8C754.2,646.7,753.7,647.8,753.3,648.9z"/></g>
		<g class="nouv-aquit"><path d="M592.2,614.5c-1,0-2,0-3,0c-3.9-3.3-7.8-6.6-10.4-11c-2.3,0-4.5,0.1-6.6,0c-1-0.1-2.1-0.6-3.1-1c-2-0.8-3.9-1.8-6-2.4
			c-3.3-1.1-6.1-3.1-8.9-4.8c-0.2-1.4-0.3-2.5-0.4-3.5c-1.5,0.5-2.6,0.8-3.7,1.2c0,0.8,0,1.4,0,2.5c-1,0.5-2.1,1-3.5,1.6
			c-0.7-1.4-1.3-2.5-2-3.8c3.9-2.1,3.7-6.2,5.4-9.4c-1-1.4-2.2-2.9-2.9-3.9c-2.5-0.4-4.4-0.7-6.6-1.1c-0.2,0.1-0.9,0.5-1.7,1.1
			c-0.4-0.9-0.7-1.5-1-2.2c-2-0.3-3.4-2.3-5.6-2.1c0-0.3,0-0.7,0-1c8.2-4.2,11.4-12.3,15.8-19.6c0.7-1.5-0.7-3.5,1.2-4.9
			c-0.5-1.8,0.6-3.4,1-5.1c0.4-2.2,0-4.9,1.2-6.5c1.5-2.1-0.3-4.7,1.7-6.3c0.6-4.8,2.1-9.5,3-14.2c0.7-4,2-7.9,2.5-12
			c0.4-3.2,1.7-6.4,1.7-9.8c-0.1-3.6,1.1-6.8,3.3-9.6c2.3,0.1,4.5-0.5,6.5,0.8c1-4.7-1.5-7.5-5-10.2c-0.9,1.2-1.7,2.2-2.4,3.3
			c-0.1-0.2-0.4-0.5-0.4-0.8c0.2-2.4-0.3-4.7,0.9-7.1c1-2.2-0.9-5.2,1.1-7.5c-0.4-3.8,0.6-7.4,1-11.1c0.1-1.2-0.4-2.6,0.1-3.4
			c1.2-1.8,0.7-3.7,0.9-5.6s1-3.7,0.9-5.6c-0.1-4.9,1.2-9.3,3.4-13.5c0.8,1.1,1.6,2.2,2.5,3.2c2.1,2.2,4.1,4.4,6.4,6.3
			c3.2,2.7,5,6.1,5.8,10.1c0.1,0.4,0.3,0.9,0.6,1.3c0.3,0.3,0.6,0.6,0.8,0.7c1-0.8,1.8-1.6,2.6-2.2c0-1.5,0.2-2.9,0-4.2
			c-0.6-3.7-1.5-7.4-3.7-10.4c-2.1-2.9-5.5-5-7.5-7.9c-2.1-3-5-4.7-7.8-6.5c-2-1.2-3.4-2.8-4.8-3.9c0-1.5,0-2.5,0-3.1
			c1.8-1.2,3.3-2.2,4.5-2.9c1.1-2.1,1.9-4,2.9-5.6c1.5-2.4-1-4.2-0.6-6.5c0.6-0.3,1.3-0.6,2.4-1.1c-1.7-3.5-3.3-7-4.8-10.2
			c-1.1-0.1-1.9-0.2-3-0.3c1.8-3.7,3.5-7,5.1-10.3c2.4-1.1,4.6-2.2,7.4-2.3c-0.6,0.7-0.8,1-1.4,1.8c3.4,0,6.3,0,9.3,0
			c0.5,0.7,1.1,1.5,1.7,2.3c3.4-1.8,6.5-3.4,9.6-5.1c0.4-0.2,0.6-0.7,0.9-1.2c-0.8-0.9-0.7-2-1.3-2.6c-0.7-3.3,0.6-6.6-0.8-9.8
			c-1.2-2.8-1.6-6-2.3-9s-1.4-6.1-2.1-9.3c-2.8-2.9-6-5.7-6.7-10.2c4.8-0.6,8.1-0.9,12.7-1.4c0-0.8,0.9-1.2,0.9-1.7
			c1.2-1,1.9-1.8,2.7-2.4c5.7-2.3,11.1-1,16.2-1.4c0.8,0.8,1.4,1.4,2,2c0.6,0,1.3,0,2.2,0c1.3-1.5,2.8-3.3,4.3-5
			c0.3-0.3,0.9-0.6,1.3-0.9c0.7,0.2,1.2,0.4,1.9,0.6c0.6,0.2,1.2,0.2,1.8,0.3c1,1.2,2,2.5,3,3.7c0.1,0.8,0.1,1.5,0.1,1.8
			c1.6,0.6,2.7,1.1,3.9,1.5c0,1.8,0,3.2,0,4.5c1.9,2.1,4.1,2.7,6.6,2.6c2.8-0.1,5.6,0,8.4,0c0.3,0,0.6-0.2,0.9-0.3
			c0.2-0.6,0.4-1.1,0.6-1.7c0.6,0,1.1,0,1.6,0c0.5,1.8,2.1,3.1,2.1,5.1c0,0.6,1.2,1.2,1.9,1.9c-0.2,1.6,0.4,2.6,2,3
			c-0.2,1.6,0.4,2.6,2,3c0.3,3,3,4.7,4.2,7.3c-0.9,2.2-1.9,4.4-0.7,6.7c0.6,0,1.1,0,1.6,0c0.3,0.3,0.7,0.7,1,1s0.7,0.7,1,1
			c0.4,0.7,0.9,1.3,1.3,1.9c1.2,0.1,2.4,0.1,3.4,0.2c1.6,2.7,1.6,6.4,5.3,7.4c-1.3,2.3-1.3,2.3,0.6,4.6c2.7-0.4,5-1.1,7.8-1.5
			c0,0.6,1.1,1.1,1.1,1.8c1,0,1.5,0.1,2,0.1c1.1-1.1,1.7-1.9,2.7-2.9c4.7,0.6,7.6-0.7,11.9-0.8c0.5-0.8,3.4-2.8,3.3-2.7
			c3.4,0.5,5.4,0.7,8.5,1.7c3.4,0.9,6.5,1,9.2,0.5c1.6,0.4,2.4,0.4,3.7,0.8c0.2,1.5,0.5,4.1,2.5,4.6c0.4,1.6,1.4,2.2,3,2
			c0.4,1.6,1.4,2.2,3,2c0.7,1.5,1.2,3.2,2.1,4.6c2.1,3.3,3.1,5.8,2.9,9.7c-0.1,1.1,0.1,2.1,0.8,3.2c0.8,1.2,0.8,3,1.2,4.5
			c-0.3,0.3-0.7,0.7-1,1c-0.6,0.1-1.4,0-1.8,0.4c-2.1,2.2-4.2,4.4-6.2,6.6c-1.9,0.3-0.8,1.7-0.9,2.8c1.3,1,2.6,2.1,3.9,3.2
			c0.7,2.7,1.3,4.6,2,7.3c-0.6,0.4-0.8,2-1.7,2.6c0.7,5.1,0.4,9.2,1.7,14.7c-1.1-0.4-0.8,0.7-1.8,0.3c-1.2-0.4-5.2-2.1-5.1-2.1
			c0.3,2.5-0.2,4.4-2.1,5.8c-0.2,0.2,0,0.9,0,1.4c-1.8,1.3-4,2.3-4,5c-1.1,0.9-2.1,1.7-3.5,2.8c0.7,0.5,1.1,0.9,1.5,1.2c0,1,0,2,0,3
			c-0.6,0-1.2,0-2,0c0,1.4,0,2.5,0,3.7c-1.1,0.7-2.1,1.4-3.1,2c0.3,0.9-0.6,2.2,1,2.3c0,0.5,0,1,0,1.5c-2.3,2-5.1,2.6-7.8,2.6
			c-2,0-3.1-1.2-4.3,1c-0.8,0.2-2.8-0.6-2.9,0.9c-0.7,0-1.3,0-2,0c-1.7-1.9-2.8-3.5-4.6-5.4c-0.4-0.4-1.2-0.3-1.8-0.4
			c-0.4-0.3-1.2-1-1.2-1c-1.3,1.3-3,0.9-4.6,1c-1.4,0.1-2.8,0.1-4.2,0.2c0.2,6.5-0.6,12.1-7,15.1c0,1.5,0,3,0,4.2
			c-1.1,1.7-3.6,1.4-3.9,3.5c-2.2,0.2-2.8,0.8-3,3c-1.6,0.9-3.1,1.8-3,4c-1,1-2,2-3,3c-0.3,0.3-0.7,0.7-1,1
			c-1.8,0.4-1.1,1.8-0.8,2.7c0.9,2.6,1.9,5.2,1.8,8.1c-3,0.5-5.8,0.7-7.8,2.5c0,1.4,0,2.5,0,3.5c0.7,0.2,1.3,0.4,1.8,0.6
			c0,1,0,1.8,0,2.6c-1.8,1-3.2,2.4-4.2,4.2c0.5,0.5,0.8,0.9,1.1,1.2c-2.1,1.4-4.7,2.4-4.9,5.6c-0.3,0.3-0.7,0.7-1,1
			c-2.2,0.5-4.4,1.8-6.5,0.9c-2.4-0.9-4.7-0.9-7.2-0.9c-1.1,1-2.2,2-3.3,3c-2,0-3.9,0-5.9,0c-2,0.1-4.1-0.3-6,0.2
			c-0.2,0.8-0.3,1.2-0.4,1.7c-1.7,0.1-3.2,0.2-4.3,0.3c-0.6,1.6-1.1,2.7-1.5,3.9c-0.8-1-1.7-2.1-2.7-3.2c-3.5,1.1-7,2.2-10.4,3.3
			c0.1,4.8,0.4,9.1-1.9,13c-0.3,0.5,0,1.3,0,2c-2.5,1.7-2,4.3-2,5.8c1.1,1.5,1.8,2.5,2.4,3.2c2.3,0,4.2,0,6,0c0.9,1.6,2.1,3,2.4,4.6
			c0.3,1.6-0.4,3.3-0.8,5.2c0.9,0.1,1.8,0.3,2.4,0.4c0.5,1.8,1,3.5,1.4,5.1c0.1,0.4,0,0.9-0.1,1.2c-1.1,0.7-2,1.3-3,1.9
			c0,1.5,0,3,0,4.3c-1,1.1-2.4,1.8-1.9,3.4c-0.3,0.3-0.7,0.7-1,1s-0.7,0.7-1,1c-1.4,1.1-2.7,2.3-4.2,3.5c0,1.5,0,2.9,0,4.4
			c-1.4,0.2-2.3,0.2-3.5,0.4c0,0.8-0.4,1.3-0.4,1.8c-1.5,0.1-0.8,1.2-1,2c-0.3,0.3-0.9,0.5-1,0.8c-0.3,3-0.6,6-0.8,8.2
			c-1.9,1.3-3.1,2.2-4.3,3c-1,0-2,0-3,0c-0.3-0.3-0.5-0.7-0.8-1C593,613.9,592.6,614.2,592.2,614.5z"/></g>
		<g class="corse"><path d="M986.6,648.8c0,3,0,6,0,9c-1.5,0.6-1.3,2.3-2,3.3c-2.5,3.5-3.2,7.4-3,11.7c0.2,3.8,0,7.6,0,11.4c0,4-1.5,7.2-5,9.3
			c-0.1,0.1,0,0.6,0.1,1c1,0.2,2,0.5,3.3,0.7c-1.2,2.6-2.9,4.7-3.1,7c-0.3,2.7-3,4.6-2.2,7.6c-1,0-2,0-3,0c-1.1-1.7-2.1-3.5-2.9-4.6
			c-6.4-1.6-12.3-2.4-16-8c0-0.9,0-2,0-2.5c1.9-1.7,3.4-3,5.2-4.6c-3.3-0.6-6.3-1.1-9.2-1.7c-0.4-0.5-0.8-0.9-1.4-1.6
			c3.5-3.9,1.9-8.5,2.3-12.8c-3.2-0.9-5.3,1.2-8.2,1.5c1.2-3.7,2.3-7.2,5.9-10c-3.2-2-6-3.7-8.9-5.5c-0.3-1.8-0.7-3.8-1.1-5.6
			c2-1.3,3.7-2.3,5.3-3.4c-0.1-3.4-3.1-4.2-4.4-6.1c-0.9,0.4-1.3,0.6-1.7,0.8c0-1,0-2,0-3c2.4-1.1,3.7-3.2,3.9-5.5
			c0.2-2,0.7-3.7,1.5-5.4c1.5-0.5,2.9-0.9,4.5-1.4c0.1-0.7,0.2-1.5,0.3-2.3c3.3-1.5,6.4-3.3,9.7-4.2c2-0.5,3.1-1.5,4.2-2.9
			c0.9-1.1,1.6-2.3,2.3-3.3c3.5-0.2,6.5,2.2,9.7,0.5c0-5.7,0.1-11.3-0.1-17c0-1.4,0.5-2.4,1.1-3.6c1,0,2,0,3,0c0.3,0.5,1,1.1,1,1.6
			c-0.1,3.9,1.5,7.6,1.1,11.6c-0.3,3.4-0.1,7-0.1,9.8c1.2,1.8,2.1,3.2,3,4.4c1.2,1.7,2,3.4,2.1,5.7c0,2.2,0.7,4.4,0.9,6.6
			c0.4,3.7,0.8,7.3,1.2,11C985.8,648.6,986.3,648.7,986.6,648.8z"/></g>
		<g class="bourg-fra-comt"><path d="M961,284.5c0,0.3,0,0.7,0,1c-0.8,0-1.7,0-2.5,0c-2.4,2.9-6.2,4.9-6.5,9.5c1.3,1.1,2.7,2.3,4.3,3.6
			c-0.7,0.9-1.5,1.7-2.2,2.6c0,1.3,0,2.6,0,3.4c-3.5,4.3-6.7,8.3-9.9,12.3c-3.3,4.2-8.3,6.5-12.1,10c0,3.9,0,7.5,0,11.3
			c-4.3,4-8.6,8-12.3,11.4c-0.9,2.7-1.6,4.8-2.2,6.8c-0.6,2.1-1.2,4.2-1.9,6.9c-0.5,0.5-1.8,1.3-2.3,2.4c-1,2.6-3.1,4.3-5.1,5.8
			c-2.2,1.7-4.8,3.7-8.2,2.5c0.6-3.6-2.4-3.6-4.6-5.2c-1.7,2-3.3,3.9-4.8,5.6c-1-0.1-1.6-0.1-2.3-0.1c-0.2-1-0.3-1.9-0.4-2.8
			c-1-0.1-1.8-0.1-2.5-0.2c-3.2-4.1-4.5-9.7-10.7-11.8c-1.8,0.2-4.5-0.7-6.3,0.8c-1.5-0.3-2.5-0.5-3.5-0.8c-1.1-0.3-2.3-0.7-3.7-1.1
			c-2.3,7.9-4.4,15.4-6.5,22.7c-2.1-2.2-3.6-5.3-6-7.6c-1,0.9-1.7,1.6-2.3,2.2c-1-0.5-1.6-0.9-2.3-1.3c-1.7,1.9-3.5,0.9-5,0
			c-1.1,0.7-2,1.2-2.7,1.6c-0.8,2.4-0.8,4.9-3.8,5.7c-0.6,0.1-1,1.2-1.4,1.8c-0.7,0-1.3,0-2,0c-0.5-0.7-1.1-1.4-1.5-2
			c-2.6,0.4-4.9,0.8-7.2,1.2c-0.2,0-0.2,0.5-0.3,0.8c-0.7,0-1.3,0-2,0c-1.6-1.2-3.1-2.4-4.9-3.7c0-0.7,0-1.8,0-2.6
			c1.4-1.9,2.6-3.6,3.6-5c0.4-2.6,0.7-4.9,1-7.1c-1.1-1.2-2.2-2.5-2.6-3c-3.3-1.3-5.7-2.2-8.3-3.2c-2.6-5.1-5.2-10.3-8.3-16.4
			c-2.5,2.6-4.6,4.7-6.8,7c-1.3-0.8-2.9-1.9-4.6-3c-1.1,0.6-2.3,1.2-3.6,1.9c-2,0-4.2,0-6.4,0c-2.1-2.6-4.1-5.1-5.9-7.3
			c0.8-5.4,1.5-10.6,2.2-15.7c-1.4-1.2-2.5-2.2-3.4-3c0-2.7,0-5,0-7c-2.1-3.8-2.6-8.1-6.4-10.7c3.4-5-0.3-9.9,0.5-14.7
			c1.3-0.6,2.6-1.2,3.8-1.7c0.7-2.8-2.3-4.4-2.1-7.2c0.1-0.7-1.8-1.6-2.8-2.5c0-0.7,0-1.3,0-2c3.4-0.8,5.8-2.8,6.9-5.7
			c-0.4-1.6-0.8-2.7-1.1-4c1.9-1.8,3.6-3.3,5.4-5.1c-0.5-2.3-1-4.6-1.4-6.9c-2.2-2.7-4.4-5.4-6.5-8c1.3-1.8,2.5-3.5,3.8-5.3
			c0-1.8,0-3.8,0-5.9c0.7-0.4,1.3-1.2,2-1.2c4.7,0,9-2.2,13.6-2.2c0.1,0,0.2-0.5,0.4-0.8c0.7,0,1.3,0,2,0c1.2,0.8,2.4,1.7,3,2.1
			c1.9,2.1,3.4,3.8,4.8,5.3c0.9,3.3,1.7,6.5,2.7,9.8c1.1-0.5,2.1-0.9,2.9-1.3c5,4.4,6.6,10.4,9.4,16.2c1.8-0.3,4-0.8,6.1-1.1
			c2.2-0.2,4.4,0,6.6-0.9c2-0.8,4.1,2,7,0.1c0-0.1,0.5-0.7,0.9-1.3c1.9,0,3.6,0,5,0c2.7-1.8,5.3-3.6,7.3-4.9c3,0.6,5.1,1,7.3,1.5
			c-0.8,2.6,1.2,3.3,3.1,4.2c0,1.1,0,2.2,0,3.5c1.3,0,2.5,0,3.8,0c0.8,1.7,1.5,3.4,2.4,5.4c-1.4,1-2.5,1.9-3.4,2.6
			c1,2,1.9,3.6,3,5.7c4.1,1,8.5,2.1,12.8,3.2c0.2,1.4,0.3,2.7,0.4,3.9c4.2-0.7,6.6-1.3,7.3-3.3c0.8-2.2,2.4-3,4-3.6
			c1.1-0.5,1.8-1.3,2.7-1.9c0.2-0.2,0.6-0.2,1.1-0.3c0.7,0.7,1.6,1.4,2.3,2.1c1.5-0.5,2.8-0.9,4.3-1.4c0-3,0-6.1,0-8.6
			c1.1-1.3,1.8-2.2,2.5-3c1.2,0,2.2,0,2.9,0c2.1-2.1,2-5.4,4.3-6.8c2.2-1.4,4.4-3,6.9-4.5c1.5,0.9,2.9,2,4.4,2.7
			c2,1,3.8,2.8,6.5,0.9c1-0.7,2.8-0.2,4.1-0.3c1.1,1.1,2.1,2.1,3,3c1.3,0,2.7,0,3.7,0c1.3-0.7,2.3-1.3,3.5-1.9
			c1.3,1.1,2.7,2.2,4.1,3.2c1.6,1.3,3.1,3.1,5,3.6c3.8,0.9,6.3,3.4,9.1,5.4c0.5,3.4,1,6.5,1.5,9.8c2.4-0.4,3.8,0.5,3.7,3.2
			C960,283.9,960.7,284.2,961,284.5z"/></g>
		<g class="centre-val_loire"><path d="M693.6,371.5c-0.3,0-0.7,0-1,0c-0.4-0.7-0.9-1.3-1.5-2.2c-2.3,0.4-4.6,0.8-7,1.3c-0.4-0.5-0.8-1-1.1-1.3
			c0.3-1,0.6-2.1,0.9-3.2c-4.1-0.9-3.9-5-5.7-7.5c-1,0-2,0-3.3,0c-1.7-1.4-3.5-2.9-5.2-4.3c0.5-2.6,0.9-4.9,1.2-6.6
			c-4.4-6.5-9.6-11.8-11.3-18.6c-2.3-1.4-2.4-1-4.6-2.3c0.3,1.8-1.4,1.5-1.1,3.1c-4.7-0.8-9.3,1.3-13.1-2.7c0-1.3,0-2.7,0-4.6
			c-1.3-0.5-2.6-0.9-4-1.4c0.6-2.2-1.1-3.2-2.4-4.4c-1.1-0.9-2.4-1.4-3.6-2.2c0-0.7,0.3-1.1,0.3-1.8c1.9-0.2,0.4-2,0.9-2.9
			c4-7.5,5.5-15.8,7.1-24.2c2-0.3,3.6,0.5,5.1,1.8c0.3,0.2,0.9,0,1.4,0c0.1-0.9,0.2-1.7,0.3-2.7c4.7-0.5,7.8-4.1,11.9-5.8
			c0-1.1,0-2.1,0-3.5c1.2-0.5,2.5-0.9,3.7-1.3c2.4-4.1,4.8-8.1,7.2-12.1c0-3.1,0.7-6.4-1.9-9c0.6-0.6,1.2-1.2,1.9-1.9
			c0-1.4,0-2.8,0-4.2c-0.7-0.7-1.3-1.3-2-2c1-3.1-2-6-1-8.4c3.2-2.5,5.7-4.4,8.1-6.1c0-3.7,0-7,0-10.2c-1.9-2.9-5.7-4.2-6.1-7.8
			c1.4-1.5,2.5-2.7,3.6-3.9c1.8,0,3.4,0,5,0c2.2-1.3,4.3-2.6,6.5-4c3.6,2.4,7.2,0.7,11.1-0.5c-0.4-0.7-0.7-1.4-1.2-2.4
			c1.3-1.5,2.8-3.2,4.2-4.9c0.6-0.7,1.2-1.5,1.8-2.3c0.3,0,0.7,0,1,0c0,2.4,1.7,4,3,5.7c0.1,4.4-0.6,8.8,1.6,13.3
			c1.9,1.9,4.1,4.1,6.4,6.4c-0.4,3.3,1.2,5.7,3.8,7.6c1,0,2,0,3.1,0c1.2,4,2.4,8,3.4,11.5c2.9-0.3,5.6-0.6,8.5-1
			c0.5-0.7,1.1-1.7,1.8-2.7c0.3,0.9,0.5,1.4,0.8,2.4c1.3-0.5,2.4-1.1,3.5-1.3c1.2-0.2,2.6,0,3.8,0c0.6,3.6,3.3,5.4,5.2,7.5
			c0,1.2,0,2.2,0,3.3c-0.9,0.6-1.9,1.2-2.9,1.9c0.5,0.5,0.8,0.8,1.2,1.2c7.4,0.9,14.5-0.2,21.4-2.6c1.3,1.3,2.6,2.7,3.9,3.9
			c2.1,1.9,3.7,4,3.4,7.1c0,0.2,0.6,0.5,1,0.8c0,0.7,0,1.3,0,2c-1.7,1.9-3.4,3.7-5,5.6c0,1.7,0,3.3,0,5.1c-1.2,0.8-2.3,1.6-3.5,2.4
			s-2.3,1.6-3.5,2.4c3.4,3.4,4.3,5.2,5.1,10.1c-1.4,1.6-4.1,2.4-4,4.6c0.8,2.8,1.8,5,1.9,7.3c0.1,2.3-0.7,4.7-1.1,6.8
			c5,4.9,6.8,10.7,6.1,17.6c1,0.8,2.1,1.7,3.4,2.8c-0.8,5.1-1.7,10.1-2.5,15.3c-1.5,0-3,0-4.3,0c-1.9,1.4-3.6,3-5.5,4s-4,1.7-6.1,2
			c-2.6,0.4-4.3,1.8-5.9,3.7c0.4,1.1,0.7,2.1,1,3.2c0.3,1,0.5,2,0.6,2.4c-0.8,1.2-1.5,2.1-1.7,2.4c-3.8,0.6-6.7,1.1-9.3,1.5
			c-1,1.4-1.8,2.6-2.6,3.7s-1.6,2.1-2.3,3c-3.8-2.5-7.2,1.5-11-0.4c-3.2-1.6-7-1.5-11.1-2.3c-0.6,0.8-1.9,1.9-2.5,2.6
			c-4.7,0.5-8.7,1-13.1,1.5C695.2,369.5,694.4,370.5,693.6,371.5z"/></g>
		<g class="pays_loire"><path d="M508.3,295.5c0-0.3,0-0.7,0-1c0.4-0.2,0.9-0.4,1.2-0.7c2.1-2.3,4.4-3.9,7.6-4.7c4.5-1.1,8.8-2.7,13.2-4.1
			c0-2.1,0-4.1,0-6.3c1.8-1.4,3.7-2.8,5.8-4.3c4.9,0,9.8,0,14.2,0c1.5-1.6,2.5-3.1,4-3.9c3-1.5,5.8-4,9.1-3.1
			c2.5,1.3,4.4,2.2,6.6,3.4c1.7-4.2,3.4-8.1,5.1-12.2c1.9-0.7,4.1-1.5,6.4-2.4c0-0.8,0.2-1.7,0-2.4c-1.3-5-1.6-10.1-1.9-15.2
			c-0.1-1.8,0.7-3.7,0.9-5.6c0.2-2,0-4,0-6c0-2.1,0-4.3,0-6.8c1.9,0.3,3.5,0.5,5,0.7c1.6,0.2,2.8,0.1,4.9,0.4
			c-0.3,0,1.1,1.9,2.4,3.3c2.9-1.6,3-1.5,6.4,1.1c4.8-3.5,11.4-5.3,17.5-4.2c0.6-0.9,1-2.2,1.5-2.9c0.7,0,1.8,0.8,2.5,0.8
			c0.3,0.9,0.7,1.7,1,2.6c0.5,1.7,1,3.9,2.6,4.3c2.4,0.6,2.3,2.3,2.7,4c1.8,0,3.5,0,5.3,0c3.6-2,7.1-3.9,10.4-5.7
			c1,0.8,1.9,1.7,3,2.6c0.4,2.5,0.9,5.1,1.4,7.9c2.8,2,4.9,3.9,7.9,6c1.1-0.4,2.5,0.1,3.5-0.3c1.5,1.5,2.7,2.9,4.2,4.4
			c2.8-1.3,3.6,1.3,5.2,2.3c0,1,0,2,0,3c-0.7,0.8-1.7,1.4-1.9,2.3c-0.3,1.6,0.5,2.8,1.9,3.7c0,2,0,4,0,6c-0.7,0.6-1.5,1.1-2,1.9
			c-1.8,2.9-3.4,5.9-4.9,8.6c-1.6,0.6-2.9,1.1-4.3,1.6c0,1.5,0,2.6,0,3.8c-3.1,1.7-6,3.4-9,5.1c-0.8-0.3-1.6-0.7-2.6-1.2
			c-0.2,1.3-0.3,2.2-0.5,3.4c-2-0.7-3.8-1.3-5.5-1.9c-0.4,0.4-1,0.7-1.1,1.2c-0.5,2.3-0.4,4.8-1.3,7c-1.1,2.9-0.7,6.1-2.5,9
			c-1.9,3.1-2.5,6.9-3.7,10.4c-0.3,0.9-0.7,1.7-1.2,3.2c-1.1,0.9-2.2,1.6-3.6,2.7c-1.2,1-1.7,2.7-2.9,3.7c-0.4-0.4-1.3-0.1-1.9-0.5
			c-0.4-0.3-0.8-1.1-1-1.4c-5.9,0.5-11.4-1.2-17.9,1.1c-0.9,1.2-2.3,2.6-3.6,4.4c-2.3,0.3-4.6,0.1-7,0.9c-2.3,0.8-4.7,0.4-7,0.7
			c1.2,5.4,3.7,8.9,7,11.6c1,4,1.8,7.4,2.7,10.7c0.8,3.1,2.1,6.2,2.6,9.4c0.6,3.4-0.7,7.1,1.2,10.3c-1,0.5-1.6,0.9-2.3,1.2
			c-2.9,1.2-5.6,3.6-9.2,1.4c-0.8-0.5-2.3,0-3.4-0.1c-0.7,0-1.5-0.2-2.6-0.3c0.6-1.1,0.9-1.7,1.3-2.4c-2.7-1.4-4.4,1.2-6.5,1.9
			c-2.5,0.9-5.1,0.4-7.4,1c0,1.1,0,1.9,0,2.8c-0.3,0-0.7,0-1,0c-1.1-1.4-2.3-2.7-3.1-3.8c-2.5-0.6-4.7-1.1-6.7-1.6
			c-1.2-1.6-2.3-3.1-3.4-4.8c-2.2,0.7-4-0.2-5.5-1.3c-2.9-2.1-5.5-4.6-7.9-6.8c-0.8-3.8-1.9-7.2-4.1-10.1c-2.4-3.1-5.1-5.9-7.7-8.8
			c-3.2-3.5-3.3-6.4,0.1-9.9c2.1-2.2,4.3-4.3,6.5-6.5c-3.6-3.1-5.9-7.4-11.5-7.8c1.1-0.5,1.8-0.8,2.4-1.1c0-1.7,0-3.4,0-5.1
			c0.4-2.8,2.5-3.5,4.8-3.8c0.6-0.1,1.2-0.4,1.7-0.7c0.6-0.4,1-0.9,1.8-1.7c-5.3-0.1-9.8,1.3-13.6,3.9c-2.7-0.9-5.2-3-8.4-2
			c-0.5-0.9-0.8-1.8-1.4-2.2C508.8,298.4,510.2,296.1,508.3,295.5z"/></g>
		<g class="bretagne"><path d="M410.1,218.8c0-1.3,0-2.7,0-4c1.9-0.4,0.8-1.8,1-2.8c0.2-0.9,0-1.9,0-2.7c0.9-0.9,1.6-1.6,2.5-2.5c1.5,0,3.1,0,4.8,0
			c1.6,0,3.2-0.1,5.5-0.2c-1.4-0.7-2.1-1-2.9-1.4c3.3-1.9,6.5-3.6,9.4-5.2c0.9,1.1,1.6,2.1,2.1,2.6c5.6-0.7,10.1-3.7,15.7-3.9
			c0,2.2,0,4.1,0,6c0.7,0,1,0,1.4,0.1c0.3-0.7,0.6-1.3,1-2.2c1,0.5,2,0.9,3.2,1.4c0.2-1.2,0.3-2.1,0.5-3c0.9-0.4,1.7-0.7,2.4-1
			c1.7,0.9,3.4,1.7,5,2.6c1.8,0,3.6,0,5.5,0c0-2.6,0-5.1,0-7.2c1.6-1.1,2.8-2,4.3-3c0.7,0.9,1.3,1.7,1.7,2.4c2.8-1.5,5.9-1.8,7.9-4
			c0.7,0,1.3,0,2,0c0,1,0,1.9,0,3.1c1.1-0.1,2,0,2.7-0.3c0.7-0.4,1.2-1.2,1.9-1.8c1.4,2.3-1.8,4.1-0.2,6c1.3-1.1,2.5-2.2,4.1-3.6
			c0.3,1.6,0.6,2.6,0.8,3.8c0.9,0,1.7,0,2.6,0c1.7,4.4,6.1,7.5,5.2,12.5c1.6,1.2,3.1,2,4.1,3.2c0.9,1.2,1.3,2.8,2,4.4
			c4.4-3.6,8.5-6.9,12.5-10.2c1,0,2,0,2.9,0c0.7,0.7,1.2,1.2,2,2c1-0.2,2.1-0.5,3.2-0.8c0.2,0.9,0.3,1.8,0.5,2.5c2,0,3.8,0,5.5,0
			c0.2-0.6,0.3-1.1,0.4-1.7c0.7,0,1.5,0,2.4,0c1,2.7,1.4,6,5.9,7.1c-1.3-2.8-2.3-4.8-3.3-6.9c1.3-1.3,2.8-2.9,4.1-4.1
			c1,0,1.8,0,2.8,0c0,2,0,3.8,0,5.7c4,0,7.7,0,11.7,0c1.1,2,2.5,3.7,3.2,5.8c1.1,3.3,3.1,5.4,6.2,6.3c2.2-1.7,4.4-3.3,6.8-5.2
			c1.9,0.5,4,1,6.1,1.5c0,3.6,0.1,6.9,0,10.3c-0.2,3.4-0.9,6.7-0.9,10.1c0,4.3,1.4,8.6,1.1,13c0,0.1,0.5,0.2,0.8,0.4
			c0,0.7,0,1.3,0,2c-2.7,0.4-5.4,1.1-6.9,3.6c-1,1.5-1.3,3.4-2.1,5.1c-0.7,1.5-1.5,3-2.4,4.6c-2.4-1.2-4.5-2.3-6.8-3.5
			c-3.8,3.1-10.1,2.3-12.3,8.1c-4.7,0-9.4,0-13.9,0c-2.2,1.4-4.3,2.8-6.7,4.4c0,2.1,0,4.4,0,6.3c-3.7,1.1-7,2.1-10.2,3.2
			c-0.9,0.3-2.5-0.8-2.7,1.1c-1.3,0-2.7,0-4,0c0.7-0.6,1.4-1.3,2.4-2.2c-1.2-0.7-2.1-1.2-3.5-2c-4.1,0.4-8.7,0.9-13.1,1.3
			c-1.3-0.9-2.4-1.6-3.4-2.3c-0.1-0.1-0.1-0.4-0.1-0.9c1.4,0.4,2.7,0.8,4,1.2c1.3-1.4,3.2-2.2,2.7-4.6c-0.8-0.9-1.7-1.8-2.4-2.5
			c-1.6,0-2.9,0-4.2,0c-0.4-0.3-0.7-0.6-1.1-0.9c-0.2,1-0.4,2-0.6,2.8c-1.1-1.9-2-3.5-2.9-5c-0.2,0.1-0.5,0.1-0.7,0.2
			c0,1.6,0,3.1,0,4.9c-1.8,0-3.3,0-4.5,0c-3,3-3,3-3.6,2.4c0.3-0.6,0.6-1.2,0.9-2c-0.9-1.4-1.9-2.9-2.8-4.4c-0.1-1.9,0.7-2.8,2.5-3
			c0.1,0,0.2-0.4,0.6-1.2c-1.7,0.5-3,0.8-4.1,1.1c-1.4-0.5-2.7-0.9-3.5-1.2c-0.6-1-1-1.6-1.2-2.1c0.7-1.1,1.3-2.1,2.2-3.5
			c-1.4-0.1-2.2-0.1-3-0.2c-0.6-1.3-1.3-2.6-1.9-3.9c-0.2,0.1-0.4,0.1-0.7,0.2c0.4,2.1,0.8,4.2,1.2,6.3c-1.2,0.6-2.3,1.1-3.4,1.6
			c-0.6-0.6-1.1-1.1-1.4-1.4c-0.4-2.9-0.8-5.5-1.3-8.2c0-0.2-0.4-0.3-0.8-0.5c-0.1,1-0.3,1.9-0.4,2.9c-1.4,0.8-2.8,1.5-4.5,2.4
			c-0.7-1.6-1.3-3-2-4.6c-0.7,0.4-1.3,0.7-2,1c-0.2-0.9-0.4-1.8-0.9-3.7c-0.3,2-0.5,2.9-0.6,3.6c-1.1,0.5-1.8,0.8-2.3,1
			c-2.2-2.5-4.2-4.7-6-6.9c-2,0.8-3.6,1.4-4.8,1.9c-0.9-0.7-1.8-1.5-2.7-2.1c0-0.9,0.1-1.7,0.1-2.2c0.9-0.4,1.5-0.6,2.3-0.9
			c-0.8-1.4-1.4-2.5-2.1-3.6c-1,2.7-3.8,4.8-1.5,7.6c-1.4,1.6-2.9,3.1-4.5,4.9c-2.1-0.5-4.2-1-6.6-1.6c0.4-1.7,0.7-3.2,1.2-5
			c-1.3-2.2-2.8-4.8-4.4-7.5c-2.9-1.1-6.1-2.3-9.3-3.6c0-0.6,0-1.4,0-2.5c1.2,0,2.3,0.1,3.5,0c2-0.3,4.1,0.5,6.2-0.8
			c1.2-0.7,3.4,0.1,5.2,0.3c0.9,0.1,1.8,0.4,2.9,0.7c0.5-2,1-3.8,1.4-5.4c-4.7-4.7-6.7-5.7-10.9-5.5c-0.6,0.6-1.2,1.2-1.8,1.8
			c-1.4-2.1-2-4.4-1.3-6.9c1.5,1,2.8,1.9,4.3,2.9c2.5-0.5,5.3,0.9,8.1-1c0.6,0.9,1.3,1.9,1.9,3c2.5-0.1,4.8,2.3,7.6,0.4
			c-1.8-0.7-3.5-1.3-5-1.8c0.3-0.8,0.6-1.4,1-2.3c-1.3-0.2-2.2-0.3-3.1-0.4c-0.1-1.4-0.3-2.6-0.4-4c-2.1,0.6-3.8,2.2-5.7,0.7
			c-0.3-2.9,3.4-2,3.9-4.6c-4.7,0.8-8.9,2.7-12.3,3.7c-2.2-0.3-3.4-0.6-4.6-0.6C412.8,219.7,411.3,219.8,410.1,218.8z"/></g>
		<g id="ildf"class="idf"><path d="M698.5,187.7c0-0.3,0-0.7,0-1c0.9-0.7,1.8-1.3,3-2.2c1.1,0,2.5,0,3.6,0c0.6-0.9,1.2-1.5,1.3-2.2c0.4-2.3,2.8-3.9,2.1-6.4
			c0.7,0,1.3,0,2,0c0,0.6,0,1.2,0,2c1.3,0,2.5-0.3,3.3,0.1c2.2,1.1,4.1,1.7,6.1,0c2,0.7,3.8-1.7,5.4-0.9c1.7,0.8,3.4,0.5,5,1.3
			c2.5,1.2,4.9,0.7,7.1-0.4c3.8,2.2,7.5,4.4,11.6,6.8c2.6,0.4,5.6,0.8,8.7,1.3c0.4-1,0.6-1.6,0.7-2c2.1,0.4,4.2,0.8,5,1
			c3.2-1.3,5.4-2.2,7.6-3.1c1.3,0.8,2.5,1.6,3.8,2.4c0,1.8,0,3.6,0,4.9c3.8,5,9.2,6.9,13.9,10.2c0.7,2.7-2.4,3.3-3,5.1
			c1.5,3.4,2.9,6.7,4.3,10c0.7,0,1.2,0,1.7,0c0,1,0,2,0,3c-0.9,0.9-1.9,1.9-3.2,3.2c-0.6,0-1.7,0-2.8,0c0,1.7-0.1,3.2,0,4.7
			c0.2,1.5,0.7,3,1.2,4.9c-5.7,1.2-11.4,2.4-17,3.5c-0.2,0.2-0.6,0.6-1,1c0,0.8,0,1.6,0,2.4c0,5.7-2.7,8.8-8.5,10
			c-0.9,0.2-1.7,0.6-2.6,1c-0.9,0.4-2.4-0.9-2.8,1c-3.3,0-6.6,0-9.9,0c1.4-1.7,1-3.6,1-4.6c-2.1-3.5-3.8-6.1-5.7-9.4
			c-1.8,0.2-4.1,0.5-6.9,0.9c-0.2-0.3-0.8-1.1-1.7-2.2c-1.2,1.4-2.1,2.6-2.8,3.5c-2.4,0-4.4,0-6.4,0c-1.2-3.7-2.3-7.2-3.5-11
			c-1.6,0-3.1,0-5,0c-0.7-2.4-1.3-4.8-2-7.3c-1.6-1.7-3.4-3.6-5.2-5.3c-0.3-0.3-0.9-0.2-1.6-0.3c-0.3-4.1-0.5-8-0.8-12
			c-0.1-1-0.4-2.2-1-3.1c-2.1-3.3-3.8-6.6-4.5-10.5C699,187.6,698.6,187.7,698.5,187.7z"/></g>
		<g class="grand_est"><path d="M974.2,289.2c-2.7,0-5.3,0-8,0c0-0.8,0-1.7,0-2.9c-1.1-0.4-2.4-0.9-3.7-1.4c-0.9-1.8-1.9-3.8-2.8-5.6
			c-0.9,0-1.7-0.1-2.1-0.1c-0.6-3.5-1-6.7-1.5-9.9c-3.4-1.7-6.2-4.2-9.7-5.7c-3.4-1.5-6.2-4.2-9.5-6.5c-1.8,0.8-3.6,1.6-5.5,2.4
			c-2-1.4-3.9-2.8-5.4-3.8c-1.3,0.2-2.2,0.4-3.1,0.6c-1,0.3-2,0.7-2.9,1c-2.9-1.6-5.7-3.2-8.5-4.8c-3,2.1-6.1,4.3-8.6,6
			c-1,2.2-1.8,3.9-2.5,5.6c-1.4,0-2.5,0-3.3,0c-1.1,1-1.9,1.8-2.9,2.8c0,3,0,6.1,0,9c-1.3,0.4-2.3,0.7-3.5,1.1
			c-0.6-0.5-1.4-1.2-2-1.8c-4.5,1.9-8.3,4.3-10.4,7.7c-1.6,0.5-2.6,0.8-3.7,1.1c-0.1-0.8-0.3-1.7-0.4-2.6c-4.2-3.1-9.4-2.5-13.6-4.5
			c-0.5-1.8-2-3.5-0.8-5.5c0.6-0.2,1.1-0.3,1.6-0.5c0-1.6,0-2.9,0-3.8c-1-1.5-1.8-2.6-2.7-4c-0.9,0-2,0-3.2,0
			c-0.1-1.3-0.1-2.4-0.2-3.2c-1-0.7-2-1.1-2.5-1.8c-0.5-0.7-0.5-1.8-0.7-2.6c-3.1-0.5-6.1-1-8.4-1.3c-3,2-5.5,3.6-8,5.2
			c-1.8,0-3.4,0-5.7,0c-0.3,0.5-0.7,1.4-1.1,2.2c-3.1-1.5-5.4-1.6-8.3-0.4c-2.4,1-5.4-0.7-8,1c-2.3-2.4-2.2-2.5-3.3-5.5
			c-1.6-4.5-3.8-8.7-8-11.4c-0.6,0.4-1.1,0.7-1.6,1c-4.3-11.3-4.7-10.7-8.8-14.8c-0.8,0-1.6-0.1-2.6-0.1c0-1.5,0.1-2.8,0-4.1
			c0-0.3-0.6-0.5-1-0.8c0-1.3,0-2.7,0-4c1.3-0.5,2.6-1,3.5-1.3c1.3-2.1,2.4-4,3.6-6.1c-1-0.7-1.9-1.4-3.2-2.3c-1-2.5-2.2-5.3-3-7.5
			c2.7-7,7.4-11.8,11.2-17.5c-0.7-0.6-1.5-1.2-1.8-1.4c-0.3-2.2-0.6-3.9-0.9-5.5c1.4-0.8,3.1-1.7,5-2.8c-1.2-3.1-2.3-6-3-8
			c0-5,4.1-4.8,6.5-6.6c3.2-2.3,5.9-0.1,8.7,0.8c0.4-0.4,0.9-0.8,1.6-1.4c0-6,0-12.1,0-17.9c1.3-0.6,2.6-0.8,3.2-1.5
			c2-2.4,3.8-5,5.5-7.3c-0.8-1.5-1.4-2.7-2-3.9c1.4-2.3,3.1-4.2,1.2-7c-0.4-0.6-0.1-1.8-0.1-3.1c2.4,0.7,4.4-0.4,6.6,1
			c1,0.7,3,0.2,4.6-0.3c3.1-1.1,5.9-2.7,8.8-3.9c0.2-4.4,1.5-7.3,5-11.6c0.3,0,0.7,0,1,0c0.6,0.5,1.3,1,1.8,1.5
			c-0.9,1.8-1.9,3.6-2.8,5.4c0,5.3-0.1,5.4,2.1,9.6c1.3,2.5,1.5,4.8,0,7.2c-0.1,0.2,0,0.6,0.1,0.9c0.5,0.5,0.9,1,1.4,1.5
			c2,0,4,0,5.2,0c5.2,2.1,7.4,7.9,12.9,7.1c0.7,0.7,1,1,1.5,1.5c0,0.6,0,1.4,0,2.4c1.3,0,2.4,0,3.7,0c1.4,2.7,2.8,5.3,4.2,7.9
			c2,0,3.7,0,5.7,0c0.9-1.2,1.8-2.4,2.7-3.7c2.3,0,4.8,0,7.2,0c2.7,3.6,6.3,5.4,10.6,5.8c3.3,0.4,5.2-2.1,7.1-4
			c1.4,0.4,2.7,0.6,3.8,1c3.2,1.1,6.7,1.4,9.8,3c1.1,0.5,1.8,1.1,2,2.4c0.6,4.1,2.7,7.4,5.9,10.1c0.9,0.8,1.3,2.1,2.2,3.1
			c1.5,1.7,3,3.4,5.5,3.4c0.4,0,0.9-0.2,1.5-0.3c0-1.2,0-2.3,0-3.4c1.2-0.5,2.2-0.9,3-1.3c0.9,0.5,1.8,0.9,2.4,1.2
			c1,1.8,1.9,3.4,2.9,5.1c3.6-2,7-1.6,10.5,0c2.4-1.5,4.8-2.9,7.1-4.3c4.3,1.7,6.5,5.6,9.7,8.1c2.6,0,5.1,0.1,7.6,0
			c5-0.3,9.9,0.2,14.7,2c1,0.4,2.1,0.7,3.1,1c0,0.7,0,1.3,0,2c-1.4,0.9-1.7,2.3-2.1,3.8c-1.1,3.9-3.1,7.4-5.8,10.6
			c-3,3.5-5.5,7.3-8.1,11c0.1,5.1-1.8,10-1.1,15.1c0.1,0.5-0.5,1.1-0.7,1.7c-1,4.1-3,7.7-4.6,11.6c-1,2.3-2.7,5-1.5,7.2
			c1.4,2.7-0.2,5.8,1.8,8.3c0.4,0.5,0.3,1.9-0.1,2.3c-1.1,1-0.8,2.1-0.8,3.2c0.1,2.9-1.7,5.6-1,8.6c-3.1,4.7,1,8.2,1.7,12.5
			c-0.4,0.4-1,1-1.7,1.7c0,0.9,0,2.1,0,3.1c-1.4,0.6-2.7,1.2-3.9,1.8c0,0.9-0.1,1.6-0.1,2C975.2,288.3,974.7,288.8,974.2,289.2z"/></g>
		<g class="hauts-de-france">
		<path d="M823,127.2c0,0.3,0,0.7,0,1c-1.6,1-0.8,3.1-2.2,4c1.5,3.1,1.5,3.5,0.1,5.5c-1.2,1.8-2.4,3.6-3.7,5.7c-1,0-2.1,0-3.4,0
			c0,6.3,0,12.4,0,18.8c-3-0.4-5.7-0.8-7.4-1c-3.5,1.9-6,3.2-8.3,4.5c-3.1,4.3,1.1,7.4,1.8,11.3c-2.1,1.2-4.1,2.4-6.2,3.6
			c0.9,1,1.7,1.8,2.3,2.5c-0.6,1-1,1.7-1.4,2.4c0.8,1,1.6,1.8,2.3,2.7c-2.5,3.5-4.8,6.8-7.2,10.2c-0.3,0-0.7,0-1,0
			c-0.6-0.7-1.2-1.5-1.9-2c-3.9-2.6-8-4.7-10.7-8.2c-0.5-2.5-0.9-4.6-1.3-6.5c-2.6-1-4.6-2.2-7-0.4c-1.1,0.8-2.7,0.8-3.9,1.4
			c-1.3,0.7-2.3,0.9-3.5-0.1c-0.4-0.4-1.2-0.3-2-0.4c-0.8,0.7-1.6,1.5-2.2,1.9c-1.7-0.3-3.1-0.6-4.5-0.8c-1-0.2-2.1,0.1-2.8-0.4
			c-3.7-2-7.3-4.2-11.5-6.6c-0.3,0-1.6-0.4-2.2,0.1c-1.7,1.3-3.1,0.9-4.9,0.2c-2-0.8-4.3-1.3-6.5-1.2c-2.1,0.1-4.2,1-6.3,1.5
			c-0.9,0.2-1.8,0.2-2.7,0.1c-1.4-0.2-2.7-0.7-4.4-1.1c-0.3-0.8-0.7-1.8-0.9-2.6c1.6-1.3,2.9-2.3,4-3.2c-1-2.6-1.9-4.9-2.8-7.2
			c-0.6-1.6-1.9-3.6-0.9-5c1.2-1.6,0.9-3.2,0.8-4.7c-0.2-3.8-0.6-7.7-0.9-11.4c1-1.5,2-3,2.8-4.2c0.5-2.5-1.4-4.1-1.7-5.9
			c-0.5-3-2.1-5-4.1-6.8c-3.6-3.2-7.3-6.4-11-9.6c0-0.3,0-0.7,0-1c3.3-1.7,4.3-5.4,6.7-8c0.5,0,1.2,0,1.8,0c0.5,0.1,0.6,1.3,1.6,0.5
			c0.3-3.4-4.8-5.5-2.8-9.1c1.7-0.6,3.2-1.1,4.6-1.6c-1.1-1-2.1-2-2.6-2.5c0-3.6,0-6.4,0-9.5c1.1,0.4,1.8,0.7,2.8,1.1
			c0.1-2.3-2.1-2.9-2.9-4.4c0-6.7,0-13.4,0-19.5c2.4-2.2,4.5-4.1,6.5-5.9c0.4,0,1,0.1,1.4,0c3.5-1.3,6.8-2.8,10.4-3.9
			c4.2-1.2,8.5-2,12.7-3.2c2-0.5,4.2-0.5,5.9-2c1.3,0,2.7,0,4,0c1.4,2.3,2.7,4.5,4,6.6c0,1.8,0.6,3.7-0.1,4.7
			c-2,2.6-0.3,4.5,0.5,6.8c1.4,0,2.8,0,3.6,0c2,2.7,3.6,5,5.1,7c3.6-0.2,4.5-0.7,8-3.7c2.5-0.5,4.5-0.8,6.8-1.3
			c1.3,1.8,2.8,3.7,4.2,5.6c-1.1,4,1.6,7.1,1.9,10.1c1.1,1.5,1.9,2.5,2.7,3.6c1.8-0.5,3.3-0.9,4.8-1.3c1.9,2.1,4.2,3.4,7.4,2.9
			c0.9,3.5,1.8,6.8,2.6,10.1c0.5,0,1.1,0.2,1.5,0c2.3-1.2,4.4-1.6,6.7,0c0.7,0.4,2.3,0.4,2.8-0.1c1.7-1.5,3.4-0.4,5-0.9
			c1.4,1.9,2.6,3.5,3.9,5.3c0.9,0,1.7,0,2.8,0c-0.8,2.1-1.5,4-2.3,6c0.9,1.5,2,3,3.1,4.8c0.4,3.2-2.3,5.5-3.2,8.5
			c1.4,0.6,2.7,1.2,4.1,1.9c0,1.2-0.1,2.5,0,3.8C822,126.7,822.6,127,823,127.2z"/></g>
		<g class="normandie"><path d="M711.5,167.3c0,1,0,2,0,3c-1.3,0.8-2.6,1.7-3.7,2.4c-1.6,3.7-3.2,7.2-4.7,10.7c-1.5,0-2.9,0-4.2,0
			c0.2,0.2,0.3,0.3,0.5,0.5c-1.1,0.8-2.1,1.5-3.2,2.2c0.7,2.5,1.3,4.7,1.9,7c-2.9,2.9-6.3,5.7-7,9.8c-3,2-5.7,1.8-8.4,0.2
			c-2.7,1.4-5.3,2.7-8.2,4.2c-1.3,0-3,0-4.7,0c-1.1,1.2-2.3,2.4-3.5,3.6c0,1.2,0,2.6,0,3.9c2,2,4,4,5.8,5.8c0,3.3,0,6.4,0,8.9
			c-2.9,2.2-5.4,4.1-7.8,6c0,1.6-0.1,3,0,4.3c0.2,1.2,0.6,2.4,1,3.6c-1,0-2,0-3,0c-1.1-1.4-2.3-2.7-3.3-4c-1.5,0-2.9,0-4.3,0
			c-2.5-1.8-5-3.6-6.9-4.9c-0.7-3.5-1.1-6.1-1.7-9c-1.2-0.7-2.6-1.5-3.7-2.1c-3.9,1.9-7.4,3.8-11.1,5.5c-1,0.4-2.2,0.4-3.3,0.5
			c-0.2,0-0.5-0.3-0.8-0.5c0-0.7,0-1.3,0-2.1c-1.2-0.6-2.5-1.1-3.7-1.7c-0.5-1.9-1.1-3.9-1.7-5.9c-1.4-0.7-2.8-1.3-4-1.9
			c-0.8,1.2-1.3,2.1-2,3.3c-6.2-1.1-11.7,0.4-16.7,4.1c-1-0.9-1.8-1.7-2.6-2.3c-1.3,0.5-2.5,0.9-3.8,1.4c-0.8-1.2-1.5-2.3-1.9-3
			c-1.9-0.5-3.6-1.1-5.3-1.3c-2-0.2-4,0-5.4,0c-2.4-1.2-4.3-2.2-5.9-3c-3.7,2-6.1,5.7-10.5,5c-1.6-3.2-3.1-6.2-4.8-9.6
			c2.9-0.6,5.4-1.2,8.3-1.8c0.3-0.9,0.7-2.1,1.2-3.7c-1.9,0.6-3.2,1-4.3,1.3c-3.9-2.6-3.9-7-5.8-10.4c-0.4-0.6,0.1-1.9,0.5-2.7
			c1-2.7,1.6-5.4,1.6-8.4c0-2.3-0.8-4.4-1-6.6c-0.2-1.8-0.2-3.7,0-5.5c0.2-1.7,0.7-3.4,1-5c-3.3-3.8-6.6-7.5-9.9-11.2
			c-0.2-1-0.5-2.2-0.8-3.4c-0.5-2.3-1.8-4.9-1.2-6.8c1-2.9,0.5-5.8,0.8-8.5c-1.4-0.9-2.7-1.8-4-2.6c0-0.3,0-0.7,0-1
			c4,0.2,7.2,2.6,11,3.9c3.1,0,6.4,0,9.6,0c0.7-0.7,1.3-1.3,1.7-1.7c2.3,0,4.4,0,6.6,0c0.7,1.2,1.4,2.4,1.8,3.2
			c-1,3-1.9,5.7-2.9,8.6c2.4,3.9,4.9,8.1,7.6,12.4c1.1-0.4,2-0.5,2.8-1.1c2.5-1.7,4.9-1.4,7.5-0.1c2.8,1.4,5.6,2.6,8.8,2.9
			c2.5,0.2,5.2-0.7,7.6,1c4.3-0.6,8,1.5,11.6,3.3c1.3,0.7,2.8,1.1,3.6,0.6c1.2-0.8,2.8-0.3,3.6-1c1.7-1.5,4-0.5,5.8-1.7
			s3.1-2.8,4.7-4.1c0.4-0.3,0.7-0.7,0.5-0.5c3.8-1,6.9-1.9,10.7-2.9c-3.9-2.6-8.2-1.9-11.5-4c-0.9-2,0.4-3.7,1.1-5.4
			c1.2-2.8,3.3-5.2,3.8-8.4c0.1-0.7,1.2-1.4,2-1.8c2.9-1.7,5.9-3.4,8.9-5c2.2-1.1,4.4-2.3,6.7-3c5.2-1.5,10.5-2.9,15.8-4
			c4.6-1,9.2-1.9,12.7-5.6c1-1.1,2.7-1.6,3.9-2.5c0.7-0.5,1.3-1.3,1.9-2c0.7,0,1.3,0,2,0c2.7,4.3,7.6,6.3,10.9,10
			c0.3,0.3,0.8,0.3,0.7,0.3c1,1.8,1.7,3.1,2.5,4.4c0.8,1.4,0.5,3.3,2,4.3c0,0.7,0,1.3,0,2c-1,1.2-1.9,2.3-3.2,3.8
			c1.1,1.9-1.1,4.6,1.2,6.7c-0.1,2.8,0.2,5.6-0.4,8.3C708.1,160.6,708.3,163,711.5,167.3z"/></g>
		<g class="prov-alp-cot">
			<path d="M1004.1,517.8c-0.4-0.8-0.7-1.6-1.4-2.1c-1.3-0.4-2.4-0.2-3.5,0.2s-2.2,0.9-3.3,1.3c-1.1,0.3-2.2,0.7-3.3,1.1
				c-1.1,0.4-2.2,0.8-3.4,1.3c-1.4-0.7-3-1.2-4.5-1.9c-1.5-0.6-3-1.3-4.3-2.2c-1.5-0.9-3-1.4-4.7-1.9c-1.6-0.4-3.4-0.8-5.2-1.4
				c-1-1.2-2.2-2.5-3.4-4c-1.2-1.4-2.5-2.9-3.8-4.5c0.3-0.7,0.7-1.5,1-2.4c0.4-0.9,0.8-1.8,1.2-2.8c-0.5-1.2-1.5-2.2-2.4-3.3
				s-1.7-2.4-1.7-4c1.1-0.5,1.9-1.1,2.4-1.9s0.7-1.7,0.7-2.8c-0.1-1.1,0.1-2.1,0.5-3c0.4-0.9,1.1-1.8,2-2.6c0.5,0,1,0,1.6-0.1
				c0.6,0,1.2-0.1,1.8-0.1c0-0.2,0.1-0.5,0.2-0.7c0.1-0.2,0.1-0.5,0-0.7c-0.5-1.4-1-2.7-1.5-4.1c-0.5-1.4-1.1-2.8-1.6-4.2
				c-1.1,0-2.2,0-3.2,0s-2,0-2.9,0c-1.2-0.8-2.4-1.5-3.5-2.2s-2.1-1.3-3.1-2c-0.3-1.2-0.5-2.3-0.8-3.4c-0.3-1.1-0.5-2.2-0.8-3.3
				c-0.4,0-0.8,0-1.2,0s-0.8,0-1.3,0c-0.2-1.1-0.8-2.1-1.4-3c-0.6-0.9-1.1-1.9-1-3.1c-0.7,0-1.3,0-2,0s-1.3,0-2,0
				c-0.7,0.5-1,0.7-1.5,0.8c-0.4,0.1-0.9,0.1-2,0.2c-0.3,0.3-0.7,0.6-1.1,1c-0.4,0.4-0.8,0.7-1.2,1.1c-1.2-0.2-2.4-0.6-3.5-1.1
				s-2-1.1-2.9-2c-0.5,0-1,0-1.5,0s-1,0-1.5,0c-0.1,0.6-0.2,1.2-0.2,1.8c-0.1,0.7-0.2,1.4-0.3,2.2c0.2,0.4,0.5,0.9,0.8,1.6
				c0.3,0.6,0.7,1.3,1,2c0.7,0.4,1.4,0.9,2.1,1.3c0.7,0.5,1.5,1,2.4,1.5c0,1.1,0,2.2,0,3.4c0,1.2,0,2.5,0,3.8
				c-0.8,0.9-1.6,0.8-2.5,0.4c-0.9-0.3-1.9-0.8-2.9-0.4c-1,0.4-2,0.6-3.1,0.9s-2.2,0.5-3.3,0.8c-1,0.3-1.9,0.6-2.9,0.9s-2,0.7-3,1
				c-0.2,0.4-0.4,0.9-0.7,1.4c-0.2,0.5-0.5,1-0.7,1.5c-1.1,0.4-2.2,0.7-3.3,1.1c-1.1,0.4-2.3,0.7-3.5,1.1c0,1,0,1.8,0,2.6
				c0,0.8,0,1.5,0,2.1c-0.4,0.3-0.6,0.6-0.9,0.9c-0.2,0.2-0.5,0.5-0.7,0.7c-0.8,0-1.7,0-2.6,0s-1.9,0-3.1,0c-0.4,1.2-0.8,2.3-1.2,3.5
				s-0.8,2.3-1.1,3.4c0.5,0.6,1,1.1,1.4,1.6c0.5,0.5,1,1.1,1.6,1.8c-0.7,0.3-1.2,0.6-1.6,0.8c-0.4,0.3-0.8,0.6-1.5,0.8
				c0.1,0.2,0,0.4-0.1,0.6s-0.2,0.4-0.1,0.6c-0.8-0.2-1.7-0.4-2.5-0.6c-0.9-0.2-1.8-0.4-2.7-0.6c-0.4,1-0.9,1.7-1.4,2.5
				s-1,1.7-1.6,2.9c1.5,1.6,3.6,3,5.8,4.3s4.5,3,6.6,4.2c0,0.8,0,1.7,0,2.8s0,2.2,0,3.4c-0.5,0-1,0.1-1.5,0.1s-1.3,0.1-2.1,0.1
				c-0.8,0.9-1.6,1.9-2.4,2.9c-0.9,1-1.8,1.4-2.7,2.4c-1-0.5-2.3,0-3.3-0.5s-1.7-1-2.7-1.5c-0.1-0.6-0.6-1.3-0.5-1.6
				c0.1-0.4,0-0.8-0.1-1.2c0.1,0-3.1-0.8-4.9-1c-1.8-0.2-4-1.3-5.9-1.5c0-0.8-0.3-0.4-0.3-1.3s-0.1-1.8-0.1-2.9
				c-0.7,0.3-0.7,0.4-1.2,0.6c-0.5,0.2-0.6,0.1-1,0.3c-1.3-0.5-1.9-0.7-2.5-0.7s-1.2-0.2-2.5,0.3c-1.2,0.5-2.7,1.9-4,2.4
				s-2.5-0.1-3.9,0.5c-0.6-0.8-0.8-0.5-1.4-1.3c-0.6-0.8-1.5-1.6-2.2-2.4c-0.8,0-1.5-0.1-2.4-0.1s-2.1-0.4-3.1-0.4
				c-0.4,1.4,0.5,2.9,1,4s1.2,2.1,2.4,3.1c0,1,0.1,2.2,0.1,3.2s0.5,1.8,0.5,3c1.2,1.1,1.8,3.5,3.1,4.6c1.2,1.2,2.5,3.3,3.9,4.6
				c-1.1,1.3-2.4,1.8-3.5,3.2c-1.2,1.4-2.4,2.8-3.7,4.1c-0.9,1-1.7,0.9-2.2,2c-0.6,1.1-1,3.2-1,4.6c0,1.1-0.2,2.1-0.5,3.2
				c-0.3,1.1-0.6,2.2-0.8,3.4c-0.1,0.1-0.3,0.3-0.5,0.5s-0.6-0.2-0.8,0.1c-0.4-0.2-0.8,0.4-1.3,0.2c-0.5-0.1-0.4,0.4-1,0.2
				c-0.8,0.9-1.6,1.4-2.2,2.2c-0.7,0.8-1.3,1.6-1.9,2.3c0.2,0.8-0.5,0.9-0.6,1.4c-0.2,0.5-0.2,0.3-0.1,0.8c-1.3,0.2-1,0.8-1.8,1.3
				s-1.6,0.9-2.7,1.2c-0.6,0.7-1.2,1.4-1.8,2.1c-0.5,0.7-1,1.5-1.3,2.6c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.2-0.2,0.4
				c1.4,0,2.9-0.1,4.3-0.2c1.4,0,1.7-0.2,3,0.1c1.4,0.4,2.2,0.5,3.6,0.7c1.4,0.1,2.8,0.1,4.3,0.2c0.3,0.9,0.5,1.9,0.8,2.8
				c0.3,1,0.6,2,0.9,3c1.8,0,3.7,0,5.6,0s4,0,6.1,0c-0.2-0.4-0.3-0.9-0.4-1.3c-0.1-0.4-0.3-0.8-0.4-1.3c0.3-0.5,0.7-1,1-1.6
				c0.4-0.6,0.7-1.1,1.1-1.7c0.6,0,1.1,0,1.7,0s1.2,0,1.8,0c0.7,0.9,1.5,1.9,2.3,2.8c0.8,1,1.6,2,2.5,3.1c2.4-0.2,4.9-0.4,7.4-0.6
				c2.5-0.2,4.3-1.4,6.6-1.6c1.9,1.3,2.7,3.2,3.4,5.1s1.4,3.8,3.2,5c2.1-0.4,4.1,0.6,6.1,1.2c2,0.7,4.1,1.1,6.2-0.4
				c1.3,0.8,2.5,1.5,3.7,2.2s2.3,1.4,3.4,2c0.1,0.5,0.2,1,0.2,1.5c0.1,0.5,0.2,0.9,0.2,1.4c1.9-0.5,3.7-1.1,5.4-1.6
				c1.8-0.5,3.6-0.7,5.4-0.4c1.1,0.2,2.3,0.2,3.4,0.5c1.1,0.3,2.1,0.9,2.6,2.4c0.2,0,0.3,0,0.5,0s0.3,0,0.5,0c0.2-0.8,0.5-1.6,0.7-2.5
				c0.2-0.8,0.5-1.7,0.7-2.6c1.4,0.1,2.8,0.6,4.2,0.9c1.4,0.3,2.8,0.4,4.3-0.2c0-0.4,0.1-0.8,0.1-1.1c0-0.4,0.1-0.8,0.1-1.2
				c0.9-0.2,1.8-0.5,2.8-0.7c0.9-0.2,1.8-0.5,2.8-0.6c1.1-0.1,1.7-0.7,2.3-1.4s1.2-1.4,2.2-1.6c0.3,0.1,0.6,0.3,0.9,0.5
				c0.4,0.2,0.8,0.4,1.2,0.7c1-0.6,1.7-1.4,2.1-2.3c0.5-0.9,0.7-1.9,0.8-3c-0.6-0.4-1.1-0.8-1.7-1.2c-0.6-0.4-1.2-0.8-1.8-1.3
				c0.8-1,1.5-2,2.2-2.9s1.4-1.8,2.1-2.6c0.7-0.8,1.2-1.8,1.8-2.7s1.4-1.6,2.7-1.9c0.7,0,1.5,0,2.2,0s1.4,0,2.2,0
				c1.3-1.6,2.1-3.5,3-5.2s1.9-3.3,3.5-4.3c0.9-0.3,1.6-0.5,2.4-0.8c0.8-0.2,1.5-0.5,2.3-0.7c0.2-0.7,0.5-1.4,0.8-2.3
				c0.3-0.8,0.6-1.8,1-2.9c2.6-1.4,5.2-2.8,8-4.3s5.6-3,8.5-4.6c0-1.3,0-2.7,0-3.9s0-2.5,0-3.5c1.7-2.3,3.2-4.6,4.7-6.7s3-4.2,4.5-6.3
				c0-0.3,0-0.7,0-1s0-0.7,0-1C1004.9,519.3,1004.4,518.6,1004.1,517.8z M882.4,572.4c-1.4,0.7-2.3,0.7-3.9,1.4c-1-0.7-2-0.7-3.1-1.2
				c-1-0.7-1.9-1.6-2.9-2.3c0-1-0.2-1.4-0.2-2.3s0.5-1.5,0.5-2.6c1.1,0,1.6-0.3,2.5-0.3s1.1,0.6,2,0.6c-0.1,1.1,1.2,0.7,1.5,1.2
				c0.4,0.6,0.5,1.7,0.8,2.4c0.7,0.4,1.6-0.1,2.4-0.3c0.7-0.3,1.3-0.1,2.2-0.4C884.5,570.3,883.7,571.7,882.4,572.4z"/>
			<polygon points="866.5,510.8 869.1,510.8 869.6,509.8 870.6,508 871.8,505.9 870.7,504.9 867.2,502.9 864.7,505.5 863.4,508 
				864.6,509.5"/>
		</g>
	</g>
	<g id="dom">
		<g class="guyanne">
		<path for="activ-plt" d="M136.8,671.4c0-0.3,0-0.7,0-1c1.7-0.9,3.2-1.7,5.3-0.3c1.7,1.1,2.4,0.4,2.7-1.6c0.5-4,2.3-5.9,6-6c1.4,0,2.2-0.6,2.9-1.5
			s1.1-1.9,1.8-2.7c1.4-1.9,3.1-3.7,4.2-5.7c1-1.7,1.9-3.7,1.9-5.6c0-2.9,2.4-3.7,3.7-5.5c0.2-0.2,0.5-0.6,0.4-0.8
			c-0.7-3.1,1.8-4.4,3.5-6c1.6-1.6,2.9-3,2.6-5.5c-0.1-0.6,0.5-1.5,1-2.1c0.9-0.9,1.4-1.5,0.3-2.9c-0.6-0.7-0.5-2.3-0.3-3.3
			c0.4-1.3,1.7-2.4,1.8-3.7c0.2-1.3-0.6-2.7-0.9-4.1c2.4-1.4,0.3-3-0.2-4.1s-0.8-1.6-0.1-2.9c0.8-1.4,0.9-3.3-1.6-4.1
			c-1-0.3-1.3-1.2-0.6-2.7c1.6-3.8,4.8-6.3,6.9-9.6c0.5-0.8,1.3-1.7,2.1-2.1c1-0.4,2.2-0.1,3.5-0.1c0-1.3-0.2-2.4,0-3.3
			c0.5-1.8,1.1-3.6,2-5.2c0.5-1,1.6-1.7,2.4-2.5c1.2-1.1-1.4-1.7-0.2-2.8c1.9-1.7-0.2-4.6,1.8-6.2c-1.7-2.1-0.2-3.6,0.7-5.4
			c0.6-1.2,0.5-2.6-0.4-4.1c-0.8-1.3-0.9-2.4-2.6-0.9c-0.3,0.3-1.3,0.1-1.6-0.2c-1.3-1.1-2.4-2.3-3.6-3.5c-0.2-0.2-0.4-0.6-0.3-0.7
			c1.9-2.2-0.9-3.2-1.2-4.9c-0.6-3.9-2.9-5-6.5-4.5c-0.2,0-0.4,0.1-0.5,0c-1-0.5-2.9-0.6-1.1-2.5c0.3-0.4,1-2.7-1.1-2.4
			c-2.6,0.3-3-1.5-3.7-3.2c-0.3-0.7,0.4-1.6-0.9-1.9c-2.2-0.5-2.2-2.7-3.1-4.3c-1.3-2.3-0.9-5.8-4.4-6.7c-0.4-0.1-0.8-1.7-0.5-2.1
			c1.5-1.9,0.3-5,2.9-6.4c0.1-0.1,0-1.1-0.3-1.3c-1.3-0.8-2.6-1.8-4.1-2.1c-1.3-0.2-1.7-0.6-1.6-1.8c0.2-2-0.7-4.3,1-6.1
			c-1.5-2.4-0.8-5-1.1-7.6c-0.1-0.6-1-1.4-1.7-1.6c-0.5-0.2-1.3,0.5-2.2,0.8c0-2,0.2-3.8,0-5.5c-0.3-2.7,1-5.6-0.9-8.1
			c-0.2-0.2,0.5-1.1,0.8-1.6c2.1-3,2.6-5.5,1-8.1c-0.6-1.1-1-1.5-0.2-2.9s1-3.5-0.5-5c-0.6-0.6-1.8-0.9-2-1.6c-0.4-0.8,0-2-0.1-3
			c-0.4-3.7,0.9-7.5-0.9-11.1c-0.5-0.9,0-1.9,1-2.5c2-1.2,2.1-3.1,2-5.2c0-1.1,0.1-2.3,0.5-3.3c0.6-1.6,1.8-3,1.5-4.9
			c-0.1-0.3,0.4-1,0.6-1.1c2.4-0.3,2.9-2,3.9-3.8c1.1-2,2.5-4,3.8-5.9c1.8-2.7,3.5-5.9,6.8-7.3c4-1.8,6.8-5.1,9.5-8.3
			c2.7-3.2,4.7-6.9,7.9-9.6c3.8-3.2,3.6-7.3,3.4-11.6c-1.7-1.1-0.4-2,0-3.2c0.8-2.5,3-4.4,3.1-7.2c3.3,0,6.7,0,10,0
			c0.1,0.3,0.2,0.8,0.4,0.8c5.4,1.2,10.1,3.8,14.8,6.6c3.1,1.9,6.2,4.1,9.9,5.1c1.8,0.5,3.4,1.5,5.1,2c1.9,0.6,3.7,1.8,5.9,1.4
			c2.8-0.5,5.3,0.5,7.9,1.5c2.1,0.7,4,1.2,5.8-0.7c0.4-0.5,0.8-1,1.4-0.2c1.6,1.8,3.9,1.9,6,2.4c2.7,0.7,5.4,1.4,7.7,3.2
			c2.9,2.3,5.2,2.7,10.6,3c1.6,0.1,3.4,0.6,4.7,1.5c2.4,1.6,4.7,3.5,6.6,5.6c2.2,2.5,4.6,4.7,7.1,7c5.5,5.2,11,10.4,16.5,15.5
			c0.4,0.3,0.6,0.9,1.1,1c4.1,1.6,6.8,4.9,9.8,7.8c0.7,0.7,1.3,1.7,2.1,2.1c2.3,1,3.8,2.6,4.9,4.9c0.9,1.8,2.3,1.9,4,0.5
			c1.1-0.9,2.1-1.7,3.4-0.9c1.2,0.7,3.1,1.6,3.1,2.5c0.1,2.3,1.5,3.4,2.9,4.3c2.5,1.6,4.5,3.7,6.6,5.7c0.5,0.4,0.9,1,1.5,1.2
			c3.7,0.8,6.5,3.3,9.1,5.6c3.3,2.9,7.1,4,11.2,4.3c2.9,0.2,5.2,1,7.3,3c2.2,2.1,3.2,4.6,3.5,7.6c0.1,1.4-0.6,3,1,4.1
			c-0.7,2.4,1.8,3.8,1.9,5.7c0.1,3.6,2.2,4.7,4.9,5.1c-0.6,1.1-1.4,2.2-1.7,3.3c-0.5,1.6,0.1,3.3,1,4.5c2,2.9,3.7,6.1,7,7.8
			c0,0.3,0,0.7,0,1c-0.3,0.3-0.9,0.5-1,0.8c-0.4,3-0.4,6.1-1.2,9c-0.4,1.6-0.7,3.6-3.2,4.3c-1.9,0.5-3.4,2.1-5.3,2.8
			c-2.5,1-3.7,2.5-3.4,5.1c0.3,2.2-0.7,4.1-2.2,5.6c-2.4,2.5-4.7,5.3-7.5,7.3c-1.8,1.3-2.6,2.5-2.4,4.5c0,0.5-0.4,1.4-0.8,1.4
			c-4.1,0.6-5,3.5-5.1,6.9c-0.1,1.3-0.5,2.1-1.3,3c-0.7,0.8-1.2,1.8-1.8,2.7c-2.2,3.4-4.5,6.7-6.5,10.3c-1.7,3.1-3.7,6.1-5.4,9.3
			c-1.6,3-3.5,5.9-5.4,8.8c-0.5,0.7-1.2,1.7-2.4,0.8c-0.3-0.2-0.9-0.4-1-0.3c-1,0.9-2.2,1.7-2.8,2.8c-0.5,0.9,0,2.5-0.5,3.2
			s-2,0.7-2.9,1.2c-0.5,0.3-0.8,1-0.9,1.6c-0.1,1.3-0.6,3.1,0.1,3.9c1.9,2.5,0.2,4.1-0.7,6c-1.1,2.4-2.2,4.8-3.2,7.2
			c-0.3,0.7-0.3,1.9,0,2.3c0.9,0.9,0.5,1.3-0.2,1.8c-5.5,4.1-6,5.2-8.1,12.6c-0.9,3.1-2.8,5.8-4.2,8.8c-2.9,0.9-2.2,3.1-1,4.3
			c1.6,1.7,1.2,2.7-0.3,3.9c-1.1,1-2.5,2-0.5,3.5c-1.3,0.8-3,1.1-3.2,3.1c-0.1,0.5-1.2,0.9-1.8,1.4c-1.5,1.2-4.4,5.4-4.9,7.7
			c-0.2,1-0.5,1.3-1.5,1.4c-1,0.1-2.3,0.4-3,1c-1.4,1.3-3.3,1.9-4.7,3c-1.6,1.2-3.3,1.7-5,2.6c-1,0.5-1.9,1.1-2.8,1.8
			c-2.2,1.6-2.6,4.3-4.1,6.3c-0.3,0.4-0.6,1.1-1.1,1.2c-1.8,0.5-3.9,0.4-5.5,1.3c-2.3,1.3-3.1-1.3-4.9-1.3c-0.8,0-1.8-0.6-2.4-1.3
			c-1.2-1.5-2.6-1.8-4.4-1.6c-3.4,0.4-6.7,0.7-10.1,1c-0.8,0.1-1.7-0.1-2.4,0.2c-0.7,0.4-1.2,1.2-2.1,2c-0.9-3.9,2.5-4.7,3.7-6.7
			c-2.3-1.8-5-3.1-6.9-5.5c-0.7-0.9-1.8-1.6-2.9-2c-1.5-0.5-0.8,1.5-1.6,1.9c-0.4,0.2-0.7,0.8-1.1,1c-2.4,0.9-4.4,2.5-6.3,4.3
			c-0.5,0.5-1.4,0.7-2.2,0.7c-2.6,0-5.3,0.2-7.8-0.4c-2.4-0.5-4.7-1.8-7.3-1.6c-0.4,0-0.8-0.5-1.2-0.8c-1.8-1.4-3.9-1.9-6.1-2.2
			c-0.6-0.1-1.1-0.4-1.6-0.7c0.3-0.5,0.5-1.1,0.9-1.6c0.3-0.4,0.8-0.8,1.2-1.2c-0.5-0.3-0.6-0.4-0.7-0.4c-4.7-1.9-4.9-1.8-7.4,3.2
			c-0.4,0.8-2.2,1.8-2.4,1.6c-2.5-1.9-2.8-0.1-3.6,1.7c-0.4,0.9-1.4,2.5-3.1,0.9c-1-1-1.8-0.5-1.8,0.9c0,1.1,0.3,3-0.3,3.3
			c-2.4,1.4-5,2.3-7.6,3.4c-0.2,0.1-0.7-0.1-0.9-0.2c-1.5-1.7-2.5-0.3-3.1,0.7c-0.9,1.7-1.5,3.7-2.2,5.6c-1.7,0-3.3,0-5,0
			c-0.9-1.4-1.8-2.9-2.8-4.3c-0.2-0.2-0.9-0.4-1-0.3c-1.7,2.4-4.2,1.1-6.3,1.7c-1.9,0.5-3.4-2.4-5.2-0.2c-0.9-1-2.4-2-2.5-3.1
			c-0.1-2.3-1.8-2.2-2.6-1.6c-2.5,1.8-4.3-0.6-6.5-0.7c-1-0.1-1.8-1.9-2.9-2.6c-1-0.7-2.3-0.9-3.4-1.5c-0.8-0.4-1.3-1.2,0.3-1.3
			c0.3,0,0.8-0.4,0.8-0.4c-0.6-1.4-1.2-2.8-2-4.1c-0.6-0.9-1.4-0.6-2,0.1C138.4,673.6,137.9,671.2,136.8,671.4z"/></g>
		<g class="reunion">
		<path d="M151.3,318.5c-0.3,0-0.7,0-1,0c-0.4-0.3-0.8-0.9-1.3-1c-2.5-0.3-5.3,0.8-7.2-2c-0.1-0.2-1,0-1.3,0.2
			c-0.9,0.9-1.5,0.3-2.5,0.1c-4.1-1-7.8-3-12-3.6c-1.7-0.2-4.1-0.7-5.3-2.8c-0.3-0.5-1.4-1.1-2-0.9c-1.8,0.3-2.8-0.8-3.7-1.9
			c-3-3.8-7.3-4.7-11.8-5.2c-0.3,0-0.5-0.3-1-0.5c0-1,0-2.1,0-2.4c-1.7-1.5-2.7-3-4-3.5c-1.8-0.6-2.1-2.1-2.8-3.3
			c-0.8-1.3-1.1-2.5-0.2-4.2c0.6-1.1,0.7-3.7,0-4.3c-2-1.7-1.6-4.5-3.7-6.1c-2.3-1.8-4.2-4.1-6.2-6.1c0-1.7,0.1-3.2,0-4.7
			c0-0.3-0.6-0.5-1-0.8c0-0.7,0-1.3,0-2c1-0.7,2.1-1.9,3.1-1.9c3-0.1,5.1-1.6,6.8-3.6c0.5-3.9-1-8,1.4-11.3c1.7,0.5,3.3,1,4.9,1.5
			c0.2,0.1,0.5,0,0.7-0.1c1-0.7,2.1-1.4,3.1-2.1c1.2-0.8,2.4-1.5,3.4-2.5c3-2.9,6.5-4.5,10.8-4c0.7,0.1,1.8,0.4,1.8-1
			c0.3,0,0.7,0,1,0c0.4,1.4,1.3,2.1,2.9,2c1.3-0.1,2.7-0.1,4,0c1.4,0.2,2.7,0.8,4.1,0.9c1,0.1,1.8,0.5,2.6,0.9
			c0.7,0.3,2.6-1,2.9-0.7c1.8,1.9,4.4,0.1,6.4,1.7c1.7,1.3,4.3,1.5,6.6,2.1c0.6,0.2,1.3,0.3,1.7,0.7c4.2,3.7,8.3,7.6,6.9,14.1
			c-0.1,0.3,0.1,0.6,0.2,0.9c0.5,0.5,0.9,1,1.4,1.4c1.8,1.6,3.2,3.4,4,5.9c1.1,3.8,5.5,5.3,7,9c0.1,0.1,0.7-0.1,1,0
			c3.1,1.8,7,2.8,6.6,7.6c0,0.1,0.5,0.2,0.8,0.3c0,0.3,0,0.7,0,1c-0.4,0.2-1,0.4-1.2,0.7c-0.8,2.4-2.2,4.4-3.5,6.5
			c-0.3,0.5-0.3,1.2-0.3,1.8c0,3.8-0.1,7.6,0,11.4c0,1,0.7,2,1,2.8c-1.6,1.7-3.1,3.3-4.2,4.4c-2.4,0.9-4.4,0.1-6.6,1.2
			c-2.3,1.1-5.3,0.8-7.9,1.2C157.1,316.6,151.8,318.2,151.3,318.5z"/></g>
		<g class="mayotte">
			<path d="M315.3,264.4c-0.4-0.5-0.9-1.3-1.8-2.5c-0.2,1.5-0.4,2.4-0.5,3.5c-1.7-0.5-3.3-1-4.8-1.5c-4.8-8.3-4.8-8.3-8.6-10.2
				c-1.2,1.8-2.4,3.7-3.6,5.4c-1,0.2-2,0.4-2.5,0.5c-0.6,1.3-1,2.3-1.5,3.2c0.9,0.4,1.5,0.8,2.5,1.2c-0.9,1.2-1.8,2.3-2.7,3.6
				c3.7,1.5,7.1,2.8,10.6,4.2c-0.4,1.3-0.7,2.2-1,3.2c0.4,0.2,1,0.4,1.6,0.6c-0.3,0.5-0.7,1-1.1,1.7c2.2,1.7,1.1,3.6-0.1,5.6
				c1.3,0.3,2.4,0.5,4.4,0.9c-2.2,1.2-3.6,2-5.1,2.8c1.2,2,4.2,1.5,4.1,4.2c1.7,0.8,3.4,1.6,4,3.7c0.5,1.7,1.6,3.3,2.3,4.9
				c-0.8,0.8-1.3,1.2-1.5,1.4c-2.9,1.3-4.6-0.9-6.8-1.6c-0.5-1.3-0.9-2.6-1.5-4c-1.4,0.1-3,0.1-4.2,0.2c0.5,2.1,1.6,3.7,3.1,4.6
				c0.7-0.3,1.2-0.5,1.6-0.7c0.3,0.3,0.7,0.7,1,1c-0.5,1.1-1,2.2-1.2,3.5c-0.1,0.8-1.7,1.4-2.5,2c0.4,0.5,0.8,1,0.8,1
				c1.6-0.2,2.7-0.3,4.1-0.5c-0.4,1.6-0.8,2.8-1.1,4c0.1,0.3,0.2,0.6,0.3,0.8c0.2-0.3,0.4-0.6,0.7-0.8c0.5-0.3,1-0.6,1.7-1
				c0.6,0.9,1.3,1.9,1.9,2.8c0.3-0.3,0.7-0.5,1.4-1.1c0,1,0,1.7,0,2.3c0.7,0,1.3,0,2,0c0.7-1.7,1.4-3.4,2.3-5.6c1,1.6,1.6,2.6,2,3.2
				c1.6-0.3,3.1-0.6,4.7-1c0-0.5-0.1-0.9-0.1-1.3c-3.3-0.7-3.3-0.7-5.7-4.5c0.6-1.3,1.4-2.3,1.7-3.4c0.5-1.6,1.3-2.5,3-2.3
				c0.3,0,0.7,0,1,0c-0.3-0.3-0.7-0.7-1-1c0.2-0.7,0.3-1.6,0.7-2.2c1.1-1.2,2.3-2.3,3.6-3.4c-1.3-1.2-0.6-3.6-2.9-3.5
				c-0.7-1.5-1.4-3-2.2-4.7c1.5-2,3.4-4.1,4.4-6.5c0.7-1.6,2.3-1.6,2.9-2.7c0.7-1.4,1.1-2.9,1.7-4.6c-2.2-1.7-4.4-3.6-6.6-5.4
				C319.1,264.4,317.4,264.4,315.3,264.4z"/>
			<path d="M335.4,270.1c-1.2,1.3-2.2,2.3-3.4,3.5c0.8,1.9,1.7,3.8,2.6,5.6c1.2-1.6,2.4-3.2,3.7-4.8c0-0.3,0-0.7,0-1
				C337.3,272.3,336.4,271.3,335.4,270.1z"/>
			<path d="M288.2,247.4c-0.3,0.3-0.7,0.7-1,1c0,0.3,0,0.7,0,1c1,0.3,1.9,0.7,2.9,1c0.2,0.1,0.6-0.1,0.9-0.3c0-0.4,0.1-0.8,0.1-1.1
				c-0.7-0.6-1.4-1.1-2-1.7C288.9,247.4,288.6,247.4,288.2,247.4z"/>
			<path d="M327.1,281.5c0-1.8,0-2.3,0-2.9c-0.6,0-1,0-1.6,0C325.9,279.3,326.2,279.9,327.1,281.5z"/>
			<path d="M302.2,251.4c-0.3,0.1-0.6,0.2-0.8,0.3c0.3,0.2,0.6,0.4,0.8,0.7C302.2,252.1,302.2,251.8,302.2,251.4z"/>
		</g>
		<g class="guadeloupe">
			<path d="M194,82.5c-3.1,2-6.5,3.6-9.7,5.4l0,0c-1.2,0-1.3,1-0.9,1.5c0.7,0.8,1.6,0.9,1.9-0.5l0,0c1.9-0.4,4.2-0.3,5.7-1.4
				c2-1.5,4.2-2.4,6.3-3.6v-2C196.1,82,195.1,81.8,194,82.5z"/>
			<path d="M101.5,159.4l1.9,1.6c0.3,0,0.5-0.1,0.8-0.1l2.1-3l-3.5-1.4L101.5,159.4z"/>
			<path d="M156.3,134.7c-4.4,2.5-4.3,8-8.2,10.8c0.4,2.2,0.9,4.5,1.4,7.2c6,3.2,6,3.2,11.2,3.2c3.3-2.5,7-4.5,8.6-8.1
				c-0.6-3.8-3.8-5.1-5-7.6C162.6,136.5,159.2,136.1,156.3,134.7z"/>
			<path d="M109.2,157.9c-0.3,0.1-0.6,0.3-1.1,0.5c1.1,0.6,1.9,0.9,2.1-0.5c1.6,0.2,2.6-0.4,3-2c-0.3-0.3-0.7-0.7-1-1
				C111.2,155.9,110.2,156.9,109.2,157.9z"/>
			<path d="M179.3,109.2c0,0.2,0.1,0.3,0.1,0.5c0.6,0,1.1,0,1.7,0c0-0.3-0.1-0.6-0.1-0.9C180.4,109,179.9,109.1,179.3,109.2z"/>
			<path d="M169.2,95.9L169.2,95.9L169.2,95.9L169.2,95.9c-0.3,0-0.7,0-1,0s-0.7,0-1,0c-0.2,0-0.3,0-0.5,0s-0.3,0-0.5,0
				c-2.5-0.9-4.8-2.4-5.9-4.6c-1.4-2.9-3.7-4.2-6.3-5.4c-3.6-1.7-7.8-0.9-12-2.5l0,0l-4.8-6.1l0,0c0-1.5-0.4-3.3,0.1-4.7
				c0.6-1.4,1.4-2.4,0.2-3.8c-1-1.3,0.2-3.1-1.2-4.5c-0.6-0.6-1.1-1.7-2-2.3c-2.1-1.5-4.6-2.7-6.1-4.9c-0.4,0-0.6,0-1,0
				c-1.9,2.4-3.7,4.8-6.6,6.2c-1.3,0.6-2.2,2-3.2,3.1l0,0c-0.1,3.1,0.8,5.8,3,9.4l0,0l2.8,0.5l0,0l0.9,4.3l0,0c-1.1,1.9-2.9,3-5,2.7
				l0,0c-1.1,3.9-2,7.2-3,10.7l0,0l-2.6-2.3l0,0l-3.7,3.4l0,0l-5.6-2.3l0,0c1.6-1.1,3.5-1.2,3.3-4l-1.4,1.3l0,0
				c-2.7,0.2-3.7-2.8-6.2-3.1c-2.3-0.3-4.4-1.3-7-1.6l0,0L89,81l0,0l-6.3,1.5l0,0c-1.8,1-2.1,3.7-2.9,6c-0.3,0.9-0.7,1.7-1,2.6
				c-0.4,1,0.9,2.5-1,3c0,0.3,0,0.7,0,1c0.2,0,0.5,0,0.5,0c0.4,2.9,1.7,5.3,3.3,7.3l0,0c0.2,2.3-0.2,4.8,0.7,6.5
				c1.2,2.2-0.2,4.4,1.1,6.6c0.9,1.6-0.1,4.3,0.5,6.2c0.8,2.2-0.8,4.1,0.1,6.1l0,0l2.5,2.5l0,0l1.6,5.6l0,0l4,4l0,0l1.6,4l0,0h3l0,0
				c1.7-1,2.7-1.8,3.8-2.2c1.6-0.5,3.3-0.7,5.2-1.1l0,0c2.1-5.1,8.1-7.3,9.7-12.1l0,0c-0.4-1.8-0.7-3-0.8-4.2
				c-0.1-1.3,0.4-3.1-0.3-3.8c-1.8-1.9,0-3.2,0.3-4.9l0,0l-1.4-0.7l0,0l-2.4-4.6c0.1-0.2,0.4-0.5,0.8-0.9c-1.3-3.2-1.3-4.7-0.5-9.4
				l0,0h4.5c0.1,0.3,0.2,0.6,0.3,0.8c0.2-0.3,0.4-0.6,0.7-0.8c0-0.3,0-0.7,0-1c-1.4-0.2-1.2-1-0.5-2.1l0.5,1.1l0,0l1,1l1,1l0,0
				l1.3,2.7l0,0c1,0.3,1.9,0.6,2.8,0.9c4.8,1.8,6.1,2,10.9,0.4c3.6-1.2,7.2-2.6,10.7-4.2c2.3-1,4.6-1.9,7.2-1.8c1.3,0.1,2.7,0.3,4,0
				c1.8-0.4,3.4-1.7,5.1-1.8c2-0.2,4,0.6,6,0.9l0,0l0,0c0,0,0,0,0.1,0l0,0c0.1,0,0.3,0,0.4,0c0.2,0,0.3,0,0.5,0c0.3,0,0.7,0,1,0
				s0.7,0,1,0c0.3,1.4,1,1.2,2.1,0.5C170.6,96.9,169.9,96.4,169.2,95.9L169.2,95.9z"/>
			<path d="M111.1,82.5c0-0.2-0.1-0.3-0.1-0.5c-0.6,0-1.1,0-1.7,0c0,0.3,0.1,0.6,0.1,0.9C110,82.8,110.6,82.7,111.1,82.5z"/>
		</g>
		<g class="martinique">
		<path d="M330.9,156.7c-0.5-1.4-1-2.9-1.5-4.4c0.3-0.3,0.6-0.7,0.9-1c-0.6-1-1.2-2.1-1.7-3c0.3-0.7,0.7-1.3,1.2-2.2
			c-1.3-0.2-2.2-0.3-3.2-0.5c-0.1-0.8-0.2-1.6-0.2-2.4c-1.8-0.7-3.7-1.4-2.7-4.3c-3.8,0.3-2.6-3.2-4.1-4.6c0.6-0.5,1.3-1,1.9-1.5
			c-0.3-0.3-0.7-0.7-1-1c-0.8,0-1.7,0-2.5,0c-0.6,0.6-1.1,1.2-1.5,1.5c-0.9-0.8-1.8-1.6-3-2.7c0.4-2.3,3.6-1.9,5-3.5
			c-0.2-3-3.7-1.5-5-4.1c0-0.6,0-1.9,0-3.1c0.5-0.3,1-0.6,1.2-0.7c1.9,0.7,3.6,1.4,5.8,2.2c0-1.9,0-3.1,0-4.4c1.1,0.4,1.8,0.7,2.8,1.1
			c0-0.9,0.1-1.4,0.1-2c-3.6-1.3-6.1,2.6-9.6,1.9c-0.3-0.1-0.7,0.6-1,1c-0.2,0.2-0.2,0.6-0.4,0.8c-0.3,0.4-0.7,0.8-0.9,1.2
			c-2.2-2.7-4.2-5.1-6-7.6s-4.5-3.9-6.2-6.4c-2.3,0-4.6-0.3-6.1-2c-1.8-2.1-4.2-2.7-6.7-3.1c-0.8-0.2-1.9,0.5-2-1c-0.7,0-1.3,0-2,0
			c-0.5,1.9-2,0.6-3,1c-2.4,0.8-4.2,2.6-6,4.5c-0.5,0.7,0.8,2.3-1,2.5c0,0.3,0,0.7,0,1c0,0.7,0,1.3,0,2c0.3,0,0.7,0,1,0
			c0.2,0.7,0.3,1.7,0.7,2.2c2.1,2.2,4.2,4.2,6.1,6c-0.4,2.5-0.8,4.7-1.1,6.6c1.2,2.1,2,4,3.3,5.6c1.8,2.3,3.8,4.6,6.6,5.5
			c1.8,0.5,2.1,1.7,2.6,2.8c2.3,0.4,4.5,0.8,6.9,1.3c0.9-0.6,2.1-1.4,3.7-2.5c0.3,3.6,0.4,7,4.6,8.2c-1.1,1.3-2,2.4-2.8,3.4
			c-2.6,0.2-4.2-0.9-5.5-3.3c-2.5,2-5,3.9-8,6.3c1.3,0.6,1.8,1,2.5,1.3c0.8,2.7,1.1,5.8,3.9,7.7c1.2-1.2,2.5-2.5,3.8-3.8
			c2.3-1.7,4.8,2.8,7,0.1c3,0.8,5.7,3,9.1,1c1.1,0.8,2.3,1.8,3.5,2.7c0.9-1.1,1.8-2.2,3.3-4c0.5,1.3,0.7,2.1,1.1,3.1
			c-0.4,0.3-1.4,1.1-2.4,1.9c-0.4,1.3-0.7,2.6-1.1,4c0.7,1,1.4,2,2.1,3c0.7,0,1.3,0,2,0c0.9-0.9,1.8-1.8,2.7-2.7
			c-0.2-0.3-0.6-0.8-1.1-1.5c3.3-1.3,4.5-3.7,4.4-7c0-0.2,0.6-0.5,1-0.8c0-0.7,0-1.3,0-2C331.9,156.7,331.4,156.7,330.9,156.7z"/></g>
	</g>
	<g class="caption">
	<path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M340.994,538.276h-75.839l-14.806,21.783
		l-1.645-21.783h-22.208c-5.594,0-10.2-6.857-10.2-15.328V508.83c0-8.471,4.606-15.33,10.2-15.33h114.499
		c5.594,0,10.2,6.859,10.2,15.33v14.118C351.194,531.419,346.588,538.276,340.994,538.276z"/></g>
	<g class="caption">
	<path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M961.802,213.363h-62.07l-12.117,16.667
		l-1.347-16.667h-18.175c-4.579,0-8.349-5.247-8.349-11.728v-10.802c0-6.482,3.77-11.729,8.349-11.729h93.709
		c4.579,0,8.349,5.248,8.349,11.729v10.802C970.15,208.116,966.381,213.363,961.802,213.363z"/></g>
	<g class="caption">
	<path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M726.08,437.204H648.8l-15.086,17.916
		l-1.677-17.916h-22.629c-5.701,0-10.395-5.64-10.395-12.606v-11.611c0-6.967,4.693-12.608,10.395-12.608H726.08
		c5.7,0,10.395,5.642,10.395,12.608v11.611C736.475,431.564,731.78,437.204,726.08,437.204z"/></g>
	<g class="caption">
	<path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M947.707,446.363H842.108l-20.614,19.393
		l-2.29-19.393h-30.921c-7.791,0-14.204-6.105-14.204-13.647v-12.568c0-7.542,6.413-13.647,14.204-13.647h159.424
		c7.788,0,14.203,6.105,14.203,13.647v12.568C961.91,440.258,955.495,446.363,947.707,446.363z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M780.316,567.903h-59.09l-11.535,14.861
		l-1.282-14.861h-17.303c-4.358,0-7.947-4.679-7.947-10.458v-9.632c0-5.779,3.589-10.459,7.947-10.459h89.21
		c4.358,0,7.947,4.68,7.947,10.459v9.632C788.264,563.225,784.675,567.903,780.316,567.903z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M1020.365,312.82H897.389l-24.01,22.209
		l-2.666-22.209h-36.016c-9.069,0-16.538-6.992-16.538-15.628v-14.395c0-8.637,7.469-15.63,16.538-15.63h185.668
		c9.071,0,16.541,6.993,16.541,15.63v14.395C1036.906,305.828,1029.437,312.82,1020.365,312.82z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M838.106,315.776h-95.231l-18.593,17.62
		l-2.065-17.62h-27.886c-7.026,0-12.81-5.546-12.81-12.398v-11.419c0-6.852,5.783-12.4,12.81-12.4h143.775
		c7.026,0,12.81,5.548,12.81,12.4v11.419C850.916,310.229,845.133,315.776,838.106,315.776z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M870.481,122.062h-86.811l-16.947,18.703
		l-1.884-18.703h-25.419c-6.404,0-11.677-5.887-11.677-13.161V96.779c0-7.273,5.272-13.162,11.677-13.162h131.061
		c6.404,0,11.677,5.889,11.677,13.162v12.122C882.158,116.174,876.886,122.062,870.481,122.062z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M826.029,210.149h-68.82l-13.436,13.88
		l-1.493-13.88h-20.151c-5.077,0-9.257-4.37-9.257-9.767v-8.996c0-5.398,4.18-9.769,9.257-9.769h103.9
		c5.077,0,9.257,4.371,9.257,9.769v8.996C835.286,205.779,831.106,210.149,826.029,210.149z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M647.98,303.243h-70.658l-13.795,19.787
		l-1.532-19.787h-20.69c-5.212,0-9.504-6.229-9.504-13.924v-12.824c0-7.694,4.292-13.925,9.504-13.925H647.98
		c5.212,0,9.503,6.23,9.503,13.925v12.824C657.483,297.014,653.192,303.243,647.98,303.243z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M553.195,239.285H494.18L482.658,253.5
		l-1.28-14.215h-17.282c-4.353,0-7.937-4.475-7.937-10.002v-9.213c0-5.528,3.584-10.004,7.937-10.004h89.099
		c4.354,0,7.938,4.476,7.938,10.004v9.213C561.133,234.811,557.549,239.285,553.195,239.285z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M687.822,194.631h-60.511l-11.813,14.398
		l-1.313-14.398h-17.719c-4.464,0-8.139-4.532-8.139-10.131v-9.332c0-5.599,3.675-10.132,8.139-10.132h91.355
		c4.464,0,8.139,4.533,8.139,10.132v9.332C695.961,190.099,692.286,194.631,687.822,194.631z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M1050.779,542.293h-97.583l-19.052,23.736
		l-2.117-23.736h-28.574c-7.198,0-13.125-7.473-13.125-16.703v-15.386c0-9.229,5.927-16.704,13.125-16.704h147.326
		c7.199,0,13.126,7.475,13.126,16.704v15.386C1063.905,534.82,1057.979,542.293,1050.779,542.293z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M1019.625,657.075h-46.758l-9.128,10.954
		l-1.015-10.954h-13.691c-3.449,0-6.289-3.448-6.289-7.708v-7.1c0-4.26,2.84-7.709,6.289-7.709h70.592
		c3.449,0,6.289,3.449,6.289,7.709v7.1C1025.914,653.627,1023.074,657.075,1019.625,657.075z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M202.893,272.661h-59.692l-11.654,14.31
		l-1.294-14.31h-17.48c-4.403,0-8.028-4.504-8.028-10.069v-9.274c0-5.565,3.625-10.071,8.028-10.071h90.12
		c4.403,0,8.029,4.506,8.029,10.071v9.274C210.921,268.156,207.296,272.661,202.893,272.661z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M370.21,268.578h-52.587l-10.267,11.385
		l-1.141-11.385h-15.399c-3.879,0-7.073-3.584-7.073-8.011v-7.378c0-4.427,3.194-8.012,7.073-8.012h79.394
		c3.879,0,7.073,3.585,7.073,8.012v7.378C377.283,264.994,374.089,268.578,370.21,268.578z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M366.768,112.768h-59.616l-11.639,11.262
		l-1.293-11.262h-17.458c-4.397,0-8.018-3.545-8.018-7.925v-7.299c0-4.379,3.621-7.925,8.018-7.925h90.005
		c4.398,0,8.019,3.546,8.019,7.925v7.299C374.786,109.222,371.166,112.768,366.768,112.768z"/></g>
	<g class="caption"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M169.641,105.171h-54.065l-10.555,11.887
		l-1.173-11.887H88.016c-3.988,0-7.271-3.742-7.271-8.365v-7.705c0-4.623,3.284-8.366,7.271-8.366h81.625
		c3.988,0,7.272,3.743,7.272,8.366v7.705C176.913,101.429,173.629,105.171,169.641,105.171z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M534.44,793.714h-85.958L431.7,812.061
		l-1.864-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912H534.44
		c6.34,0,11.56,5.777,11.56,12.912v11.891C546,787.938,540.78,793.714,534.44,793.714z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M521.047,928.199h-85.958l-16.782,18.347
		l-1.864-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912h129.776
		c6.341,0,11.561,5.777,11.561,12.912v11.891C532.608,922.423,527.388,928.199,521.047,928.199z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M676.889,956.229H590.93l-16.781,18.347
		l-1.864-18.347h-25.172c-6.341,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.22-12.912,11.561-12.912h129.776
		c6.34,0,11.561,5.777,11.561,12.912v11.891C688.449,950.453,683.229,956.229,676.889,956.229z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M732.632,892.201h-85.958l-16.781,18.347
		l-1.865-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912h129.776
		c6.341,0,11.561,5.777,11.561,12.912v11.891C744.192,886.425,738.973,892.201,732.632,892.201z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M618.438,1039.193H532.48l-16.782,18.347
		l-1.864-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912h129.776
		c6.341,0,11.561,5.777,11.561,12.912v11.891C629.999,1033.417,624.779,1039.193,618.438,1039.193z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M457.991,1054.193h-85.958l-16.782,18.347
		l-1.864-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912h129.776
		c6.341,0,11.561,5.777,11.561,12.912v11.891C469.551,1048.417,464.332,1054.193,457.991,1054.193z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M979.835,842.703h-85.958l-16.781,18.347
		l-1.865-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912h129.776
		c6.341,0,11.561,5.777,11.561,12.912v11.891C991.396,836.927,986.176,842.703,979.835,842.703z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M979.836,956.229h-85.959l-16.781,18.347
		l-1.864-18.347H850.06c-6.341,0-11.562-5.776-11.562-12.911v-11.891c0-7.135,5.221-12.912,11.562-12.912h129.776
		c6.34,0,11.561,5.777,11.561,12.912v11.891C991.396,950.453,986.176,956.229,979.836,956.229z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M854.788,1011.163H768.83l-16.781,18.347
		l-1.865-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912h129.776
		c6.341,0,11.561,5.777,11.561,12.912v11.891C866.349,1005.387,861.129,1011.163,854.788,1011.163z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M816.429,1127.689h-85.958l-16.781,18.347
		l-1.865-18.347h-25.172c-6.34,0-11.561-5.776-11.561-12.911v-11.891c0-7.135,5.221-12.912,11.561-12.912h129.776
		c6.341,0,11.561,5.777,11.561,12.912v11.891C827.989,1121.913,822.77,1127.689,816.429,1127.689z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M716.184,1127.689h-85.958l-16.782,18.347
		l-1.863-18.347h-25.172c-6.341,0-11.562-5.776-11.562-12.911v-11.891c0-7.135,5.221-12.912,11.562-12.912h129.775
		c6.341,0,11.561,5.777,11.561,12.912v11.891C727.744,1121.913,722.524,1127.689,716.184,1127.689z"/></g>
	<g class="caption details"><path fill="#FFFFFF" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M824.496,864.171h-85.958l-16.782,18.347
		l-1.863-18.347h-25.172c-6.341,0-11.562-5.776-11.562-12.911v-11.891c0-7.135,5.221-12.912,11.562-12.912h129.775
		c6.341,0,11.561,5.777,11.561,12.912v11.891C836.057,858.395,830.837,864.171,824.496,864.171z"/></g>
	<text class="caption" x="90" y="96" class="tooltip-text">Guadeloupe</text>
	<text class="caption" x="275" y="105" class="tooltip-text">Martinique</text>
	<text class="caption" x="295" y="262" class="tooltip-text">Mayotte</text>
	<text class="caption" x="115" y="262" class="tooltip-text">La Runion</text>
	<text class="caption" x="225" y="520" class="tooltip-text">Guyanne</text>
	<text class="caption" x="694" y="556" class="tooltip-text">Occitanie</text>
	<text class="caption" x="900" y="537" class="tooltip-text">Provence-Alpes</text>
	<text class="caption" x="900" y="517" class="tooltip-text">-Cte d'Azur</text>
	<text class="caption" x="950" y="650" class="tooltip-text">Corse</text>
	<text class="caption" x="780" y="430" class="tooltip-text">Auvergne-Rhne-Alpes</text>
	<text class="caption" x="610" y="423" class="tooltip-text">Aquitaine</text>
	<text class="caption" x="540" y="288" class="tooltip-text">Pays de la Loire</text>
	<text class="caption" x="690" y="301" class="tooltip-text">Centre-Val de Loire</text>
	<text class="caption" x="825" y="293" class="tooltip-text">Bourgogne-Franche-Comt</text>
	<text class="caption" x="865" y="200" class="tooltip-text">Grand Est</text>
	<text class="caption" x="720" y="200" class="tooltip-text idf">le-de-France</text>
	<text class="caption" x="595" y="185" class="tooltip-text">Normandie</text>
	<text class="caption" x="465" y="228" class="tooltip-text">Bretagne</text>
	<text class="caption" x="737" y="107" class="tooltip-text">Hauts-de-France</text>
	<text class="caption details" x="400" y="780" class="tooltip-text">Allier</text>
	<text class="caption details" x="600" y="877" class="tooltip-text">Rhne</text>
	<text class="caption details" x="690" y="850" class="tooltip-text">Ain</text>
	<text class="caption details" x="845" y="827" class="tooltip-text">Haute-Savoie</text>
	<text class="caption details" x="845" y="942" class="tooltip-text">Savoie</text>
	<text class="caption details" x="545" y="942" class="tooltip-text">Loire</text>
	<text class="caption details" x="485" y="1025" class="tooltip-text">Haute-Loire</text>
	<text class="caption details" x="720" y="996" class="tooltip-text">Isre</text>
	<text class="caption details" x="583" y="1113" class="tooltip-text">Ardche</text>
	<text class="caption details" x="683" y="1113" class="tooltip-text">Drme</text>
	<text class="caption details" x="325" y="1040" class="tooltip-text">Cantal</text>
	<text class="caption details" x="390" y="913" class="tooltip-text">Puy-De-Dme</text>
</svg>