.activites-container img {
    width: 100%;
    height: auto;
}

.activites-container h1 {
    margin-top: 3%;
    margin-bottom: 3%;
}

#page_activites {
    background-color: #39bfc7;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
}

#page_activites>div{
     padding: 2% 0% 2% 0%;
}

#page_activites h2 {
    text-align: center;
    margin: auto;
    padding-bottom: 1%;
    font-size: 18px;
    font-family: "DroidSerif";
    line-height: 1.5;
    font-weight: bold;
}

#page_activites p {
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
}

#page_activites a {
    color: white;
}

.fond_blanc, .alpinisme {
    background: white;
    padding: 0%;
}

div[class="alpinisme"] {
    padding: 0%;
}

.alpinisme img {
    width: 50%;
    height: auto;
    margin: 0%;
}

img[class="ski"] {
    width: 50%;
    height: auto;
    margin-bottom: 10%;
}







